#Detalle{
    .gallery {
        display: flex;
        flex-wrap: wrap;
        margin: -1rem -1rem;
        
        .img{
            position: relative;
            flex: 1 0 22rem;
            margin: 1rem 0;
            height: 50vh;
            color: #fff;
            cursor: pointer;
            object-fit: contain;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
      }
}

#Detalle.Left{
    .InsideContent{
        .img {
            width: 40%;
            float: left;
            padding-right: 1rem;
            padding-bottom: .7rem;
        }
        .tit{
            h3, h4{
                margin: 0;
            }
            hr{
                width: 60.19% !important;
                float: right!important;
            }
        }
    }

}