
.logo-login{
    width:180px;
    height: 180px;
}
.fg-bg-type-image {
	-webkit-animation-name: cool-effect;
	-moz-animation-name: cool-effect;
	animation-name: cool-effect;

	-webkit-animation-duration: 20s;
	-moz-animation-duration: 20s;
	animation-duration: 20s;

	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	animation-timing-function: linear;

	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

	-webkit-animation-direction: alternate;
	-moz-animation-direction: alternate;
	animation-direction: alternate;

	-webkit-transform-origin: 50% 50% 0;
	-moz-transform-origin: 50% 50% 0;
	transform-origin: 50% 50% 0;
}

@-webkit-keyframes cool-effect {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.5);
	}
}

@-moz-keyframes cool-effect {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.5);
	}
}

@keyframes cool-effect {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.5);
	}
}