//
// ORGANIGRAMA
//
#Organigrama{
    .gallery {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin: -1rem 0rem;
        
        .img{
            position: relative;
            margin: 0.3rem 0 0.8rem;
            max-height: 210px;
            color: #fff;
            object-fit: contain;

            img{
                width: 100%;
                height: 100%;
                min-height: 210px;
                object-fit: cover;
                object-position: top;
            }
        }
      }
}
