//---------------------------------------------------------------------------
//PERFIL
//
#Perfil{
  .text-data-secondary span {
    font-size: 12px;
  }

  .img-back-perfil {
    object-fit: cover;
    object-position: center;
    max-height: 100%;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    
    .img{
        position: relative;
        flex: 1 0 22rem;
        margin: 1rem 0;
        height: 50vh;
        color: #fff;
        cursor: pointer;
        object-fit: contain;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
  }

  .text-perfil-usuario {
    text-align: center;
    h5 {
      margin-bottom: 0;
    }
  }

  .img-perfil-dest {
    height: 140px;
    width: 100%;
    position: relative;
    text-align: center;
    a {
      position: absolute;
      display: flex;
      bottom: -40px;
    }
  }

  .data-perfil-num {
    width: 32px;
    height: 32px;
    border: 2px solid grey;
    border-radius: 45px;
  }
}
//---------------------------------------------------------------------------
//FIN PERFIL
//---------------------------------------------------------------------------