//
// VALORES
//
#OpsReconocimiento{
    .media-list{
        height: 60vh!important;
    }
    #Ranking{
        .media-list{
            height: 64vh!important;
        }
        @media (max-width: 1440px){
            .media-list{
                height: 65vh!important;
            }
        }
    }
}
