<div class="row">
   <!--Row -->
   <!-- Content Left -->
   <div class="col-md-8">
      <div class="row">
         <div class="col-md-12">
            <!--Card Noticias Home-->
            <div id="Slider" class="Home">
               <div class="NewsComponent card">

                  <!--Init Slider Gallery-->
                  <div id="carouselExampleIndicatorsPrime" class="carousel slide" data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicatorsPrime" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicatorsPrime" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicatorsPrime" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item rounded active">
                           <div class="p-4 absolute-content text-white rounded black-to-fade"
                              style="height: 70%;bottom: 0; width: 100%;">

                              <div class="card-body">
                                 <h3>Compartir con tus seres queridos, por esa razón no te pierdas esta oportunidad</h3>
                                 <span>La familia es lo mas importante para todos, en U Mayor contamos con distintos
                                    beneficios para ti y los tuyos,
                                    solo tienes que conocerlos.</span>
                                 <ul id="CardFooterSlider" class="pt-10 p-0">
                                    <li>
                                       <label class="fs-14 mb-0 mr-2" data-toggle="modal" data-target="#modal-Comments">
                                          <i class="fa fa-comment fs-16 mr-1"></i><strong>25</strong>
                                       </label>
                                    </li>
                                    <li>
                                       <div class="content-heart">
                                          <div class="heart"></div>
                                          <strong>25</strong>
                                       </div>
                                    </li>
                                 </ul>
                              </div>

                           </div>
                           <img src="/assets/img/gallery/1.jpg" alt="...">
                        </div>
                        <div class="carousel-item rounded">
                           <div class="p-4 absolute-content text-white rounded black-to-fade"
                              style="height: 70%;bottom: 0; width: 100%;">

                              <div class="card-body">
                                 <h3>Compartir con tus seres queridos, por esa razón no te pierdas esta oportunidad</h3>
                                 <span>La familia es lo mas importante para todos, en U Mayor contamos con distintos
                                    beneficios para ti y los tuyos,
                                    solo tienes que conocerlos.</span>
                                 <ul id="CardFooterSlider" class="pt-10 p-0">
                                    <li>
                                       <label class="fs-14 mb-0 mr-2" data-toggle="modal" data-target="#modal-Comments">
                                          <i class="fa fa-comment fs-16 mr-1"></i><strong>25</strong>
                                       </label>
                                    </li>
                                    <li>
                                       <div class="content-heart">
                                          <div class="heart"></div>
                                          <strong>25</strong>
                                       </div>
                                    </li>
                                 </ul>
                              </div>

                           </div>
                           <img src="/assets/img/gallery/13.jpg" alt="...">
                        </div>
                        <div class="carousel-item rounded">
                           <div class="p-4 absolute-content text-white rounded black-to-fade"
                              style="height: 70%;bottom: 0; width: 100%;">

                              <div class="card-body">
                                 <h3>Compartir con tus seres queridos, por esa razón no te pierdas esta oportunidad</h3>
                                 <span>La familia es lo mas importante para todos, en U Mayor contamos con distintos
                                    beneficios para ti y los tuyos,
                                    solo tienes que conocerlos.</span>
                                 <ul id="CardFooterSlider" class="pt-10 p-0">
                                    <li>
                                       <label class="fs-14 mb-0 mr-2" data-toggle="modal" data-target="#modal-Comments">
                                          <i class="fa fa-comment fs-16 mr-1"></i><strong>25</strong>
                                       </label>
                                    </li>
                                    <li>
                                       <div class="content-heart">
                                          <div class="heart"></div>
                                          <strong>25</strong>
                                       </div>
                                    </li>
                                 </ul>
                              </div>

                           </div>
                           <img src="/assets/img/gallery/5.jpg" alt="...">
                        </div>
                     </div>
                  </div>
                  <!--End Slider Gallery-->
               </div>
            </div>
            <!--End Card Noticias Home-->


         </div>

      </div>

      <div class="col-md-12" style="background: #1E94BF;color: white;padding: 10px 20px;margin-bottom: 20px;">
         <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">18-10  -  La familia es lo mas importante para todos</div>
               <div class="carousel-item">18-10  -  La familia es lo mas importante para todosasas</div>
               <div class="carousel-item">22-10  -  Piñera Renuncia!!!</div>
            </div>
         </div>
      </div>

      <!--INICIO SLIDER ACCESOS-->
      <!--====================================================================-->
      <div class="row">
         <div class="col-md-12 pr-5 pl-5 pb-3">
            <!--Card Noticias Home-->
            <div id="SliderAccesos" class="Home">
               <div class="accesosComponet">

                  <!--Init Slider Gallery-->

                  <!--Carousel Wrapper-->
                  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

                     <!--Slides-->
                     <div class="carousel-inner" role="listbox">

                        <!--First slide-->
                        <div class="carousel-item active">
                           <div class="row">
                              <div class="col-md-4 col-4">
                                 <div class="card mb-2">
                                    <a class="btn btn-primary">Button</a>
                                 </div>
                              </div>

                              <div class="col-md-4 col-4">
                                 <div class="card mb-2">
                                    <a class="btn btn-primary">Button</a>
                                 </div>
                              </div>

                              <div class="col-md-4 col-4">
                                 <div class="card mb-2">
                                    <a class="btn btn-primary">Button</a>
                                 </div>
                              </div>
                           </div>

                        </div>
                        <!--/.First slide-->

                        <!--Second slide-->
                        <div class="carousel-item">
                           <div class="row">
                              <div class="col-md-4 col-4">
                                 <div class="card mb-2">
                                    <a class="btn btn-primary">Button</a>
                                 </div>
                              </div>


                              <div class="col-md-4 col-4">
                                 <div class="card mb-2">
                                    <a class="btn btn-primary">Button</a>
                                 </div>
                              </div>

                              <div class="col-md-4 col-4">
                                 <div class="card mb-2">
                                    <a class="btn btn-primary">Button</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!--/.Second slide-->

                        <!--Third slide-->
                        <div class="carousel-item">
                           <div class="row">
                              <div class="col-md-4 col-4">
                                 <div class="card mb-2">
                                    <a class="btn btn-primary">Button</a>
                                 </div>
                              </div>

                              <div class="col-md-4 col-4">
                                 <div class="card mb-2">
                                    <a class="btn btn-primary">Button</a>
                                 </div>
                              </div>

                              <div class="col-md-4 col-4">
                                 <div class="card mb-2">
                                    <a class="btn btn-primary">Button</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!--/.Third slide-->

                     </div>

                     <!--Controls-->
                     <div class="controls-top">
                        <a class="carousel-control-prev" href="#multi-item-example" role="button" data-slide="prev">
                           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                           <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#multi-item-example" role="button" data-slide="next">
                           <span class="carousel-control-next-icon" aria-hidden="true"></span>
                           <span class="sr-only">Next</span>
                        </a>
                     </div>
                     <!--/.Controls-->

                     <!--/.Slides-->

                  </div>
                  <!--/.Carousel Wrapper-->

                  <!--End Slider Gallery-->
               </div>
            </div>
            <!--End Card Noticias Home-->

         </div>

      </div>
      <!--FIN SLIDER ACCESOS-->
      <!--====================================================================-->



      <div class="row">

         <div class="col-md-6">

            <!--Card Noticias Home-->
            <div id="News" class="NewsContent">
               <div class="NewsComponent card">


                  <div id="TitIcoCard">
                     <h4 class="card-title text-right"><span class="avatar avatar-lg avatar-bordered bg-primary">
                           <i class="fa fa-newspaper-o center-vh"></i></span> Beneficio Destacado</h4>
                  </div>

                  <!--Init Slider Gallery-->
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <span class="badge badge-pill badge-dark w-40px">1 / 3</span>
                           <img src="/assets/img/gallery/thumb/1.jpg" alt="...">
                        </div>
                        <div class="carousel-item">
                           <span class="badge badge-pill badge-dark w-40px">2 / 3</span>
                           <img src="/assets/img/gallery/thumb/12.jpg" alt="...">
                        </div>
                        <div class="carousel-item">
                           <span class="badge badge-pill badge-dark w-40px">3 / 3</span>
                           <img src="/assets/img/gallery/thumb/3.jpg" alt="...">
                        </div>
                     </div>
                     <div class="semicirclehor"></div>
                     <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                     </a>
                     <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                     </a>
                  </div>
                  <!--End Slider Gallery-->

                  <!--Init Content Card-->
                  <div class="card-body py-2">
                     <h4><a class="hover-terciario" href="/pages/comunicado/noticias-detalle.html">Revisa esta Noticia
                           destacada para el Home con galería</a></h4>
                     <a class="hover-primary mb-10" href="#;" data-toggle="modal" data-target="#modal-center">Ver Más [
                        + ]</a>
                  </div>
                  <!--End Content Card-->

                  <!--Init Content Card Footer-->
                  <div class="card-footer pt-10">
                     <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                     <div class="gap-items-2 float-md-right">
                        <label class="fs-14 text-lighter mr-2">
                           <i class="fa fa-comment fs-16"></i> 25
                        </label>
                        <div class="content-heart">
                           <div class="heart"></div>
                           <span class="fs-14 text-lighter">25</span>
                        </div>
                     </div>
                  </div>
                  <!--End Content Card Footer-->
               </div>
            </div>
            <!--End Card Noticias Home-->

            <!--Card Nuevos Ingresos-->
            <div id="Ingresos" class="RankingConponent">
               <div class="card h-430px">
                  <div id="TitIcoCard" class="mb-3">
                     <h4 class="card-title text-right"><span class="avatar avatar-lg avatar-bordered bg-primary"><i
                              class="fa fa-line-chart center-vh"></i></span> Nuevos Ingresos</h4>
                  </div>
                  <div class="media-list media-list-hover media-list-divided scrollable" style="height: 370px">
                     <!--Usuario-->
                     <div class="media media-single">

                        <div class="row media-body">

                           <div class="col-md-3 p-0 center-v">
                              <span class="avatar avatar-lg bg-yellow">
                                 <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                                    <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg" alt="...">
                                 </a>
                              </span>
                           </div>

                           <div class="col-md-6 p-0">
                              <h6 class="m-0"><a class="hover-terciario" href="/pages/perfil/perfil.html">Ingreso</a></h6>
                              <small class="fs-13 text-light">Patricio Dominguez</small>
                              <p class="fs-12 m-0">Analista</p>
                              <p class="fs-11 m-0">28-07-2019</p>
                           </div>

                           <div class="col-md-3 p-0 center-vh">
                              <a class="btn btn-detalle btn-sm">Ver detelle</a>
                           </div>

                        </div>

                     </div>
                     <!--End Usuario-->
                     <!--Usuario-->
                     <div class="media media-single">

                        <div class="row media-body">

                           <div class="col-md-3 p-0 center-v">
                              <span class="avatar avatar-lg bg-yellow">
                                 <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                                    <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg" alt="...">
                                 </a>
                              </span>
                           </div>

                           <div class="col-md-6 p-0">
                                 <h6 class="m-0"><a class="hover-terciario" href="/pages/perfil/perfil.html">Ingreso</a></h6>
                                 <small class="fs-13 text-light">Patricio Dominguez</small>
                                 <p class="fs-12 m-0">Analista</p>
                                 <p class="fs-11 m-0">28-07-2019</p>
                              </div>
   
                              <div class="col-md-3 p-0 center-vh">
                                 <a class="btn btn-detalle btn-sm">Ver detelle</a>
                              </div>

                        </div>

                     </div>
                     <!--End Usuario-->
                     <!--Usuario-->
                     <div class="media media-single">

                        <div class="row media-body">

                           <div class="col-md-3 p-0 center-v">
                              <span class="avatar avatar-lg bg-yellow">
                                 <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                                    <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg" alt="...">
                                 </a>
                              </span>
                           </div>

                           <div class="col-md-6 p-0">
                                 <h6 class="m-0"><a class="hover-terciario" href="/pages/perfil/perfil.html">Ingreso</a></h6>
                                 <small class="fs-13 text-light">Patricio Dominguez</small>
                                 <p class="fs-12 m-0">Analista</p>
                                 <p class="fs-11 m-0">28-07-2019</p>
                              </div>
   
                              <div class="col-md-3 p-0 center-vh">
                                 <a class="btn btn-detalle btn-sm">Ver detelle</a>
                              </div>

                        </div>

                     </div>
                     <!--End Usuario-->
                     <!--Usuario-->
                     <div class="media media-single">

                        <div class="row media-body">

                           <div class="col-md-3 p-0 center-v">
                              <span class="avatar avatar-lg bg-yellow">
                                 <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                                    <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg" alt="...">
                                 </a>
                              </span>
                           </div>

                           <div class="col-md-6 p-0">
                                 <h6 class="m-0"><a class="hover-terciario" href="/pages/perfil/perfil.html">Ingreso</a></h6>
                                 <small class="fs-13 text-light">Patricio Dominguez</small>
                                 <p class="fs-12 m-0">Analista</p>
                                 <p class="fs-11 m-0">28-07-2019</p>
                              </div>
   
                              <div class="col-md-3 p-0 center-vh">
                                 <a class="btn btn-detalle btn-sm">Ver detelle</a>
                              </div>

                        </div>

                     </div>
                     <!--End Usuario-->
                     <!--Usuario-->
                     <div class="media media-single">

                        <div class="row media-body">

                           <div class="col-md-3 p-0 center-v">
                              <span class="avatar avatar-lg bg-yellow">
                                 <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                                    <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg" alt="...">
                                 </a>
                              </span>
                           </div>

                           <div class="col-md-6 p-0">
                                 <h6 class="m-0"><a class="hover-terciario" href="/pages/perfil/perfil.html">Ingreso</a></h6>
                                 <small class="fs-13 text-light">Patricio Dominguez</small>
                                 <p class="fs-12 m-0">Analista</p>
                                 <p class="fs-11 m-0">28-07-2019</p>
                              </div>
   
                              <div class="col-md-3 p-0 center-vh">
                                 <a class="btn btn-detalle btn-sm">Ver detelle</a>
                              </div>

                        </div>

                     </div>
                     <!--End Usuario-->
                     <!--Usuario-->
                     <div class="media media-single">

                        <div class="row media-body">

                           <div class="col-md-3 p-0 center-v">
                              <span class="avatar avatar-lg bg-yellow">
                                 <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                                    <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg" alt="...">
                                 </a>
                              </span>
                           </div>

                           <div class="col-md-6 p-0">
                                 <h6 class="m-0"><a class="hover-terciario" href="/pages/perfil/perfil.html">Ingreso</a></h6>
                                 <small class="fs-13 text-light">Patricio Dominguez</small>
                                 <p class="fs-12 m-0">Analista</p>
                                 <p class="fs-11 m-0">28-07-2019</p>
                              </div>
   
                              <div class="col-md-3 p-0 center-vh">
                                 <a class="btn btn-detalle btn-sm">Ver detelle</a>
                              </div>

                        </div>

                     </div>
                     <!--End Usuario-->
                  </div>
                  <!--Init Content Card Footer-->
                  <div class="card-footer pt-10">
                     <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                     <div class="gap-items-2 float-md-right">
                        <label class="fs-14 text-lighter mr-2">
                           <i class="fa fa-comment fs-16"></i> 25
                        </label>
                        <div class="content-heart">
                           <div class="heart"></div>
                           <span class="fs-14 text-lighter">25</span>
                        </div>
                     </div>
                  </div>
                  <!--End Content Card Footer-->
               </div>
            </div>
            <!--End Card Nuevos Ingresos-->

         </div>
         <br />
         <div class="col-md-6">

            <!--Card Comunicados-->
            <div id="Events" class="EventsComponent">
               <div class="card">
                  <div id="TitIcoCard" class="mb-3">
                     <h4 class="card-title text-right"><span class="avatar avatar-lg avatar-bordered bg-primary"><i
                              class="fa fa-calendar center-vh"></i></span>Comunicados</h4>
                  </div>
                  <div class="media-list media-list-hover media-list-divided scrollable" style="height: 345px">
                        <div class="media media-single">
                        
                              <div class="media-right">
                                 <div class="avatar avatar-lg fs-14 badge-secondary fw-900">
                                    <div class="row center-vh">
                                       
                                       <i class="fa fa-star color-primary fs-20"></i>
                                    </div>
                                 </div>
                              </div>
                           <div class="media-body">
                                 <h4><a class="hover-terciario" href="#">Personas</a></h4>
                                 <p class="py-2">Recuerda que el plazo para agendar tu masaje es hasta el 15</p>
                              </div>
                     </div>
                     <div class="media media-single">
                        
                           <div class="media-right">
                              <div class="avatar avatar-lg fs-14 badge-secondary fw-900">
                                 <div class="row center-vh">
                                    
                                    <i class="fa fa-star color-primary fs-20"></i>
                                 </div>
                              </div>
                           </div>
                        <div class="media-body">
                              <h4><a class="hover-terciario" href="#">Personas</a></h4>
                              <p class="py-2">Recuerda que el plazo para agendar tu masaje es hasta el 15</p>
                           </div>
                  </div>
                  <div class="media media-single">
                        
                        <div class="media-right">
                           <div class="avatar avatar-lg fs-14 badge-secondary fw-900">
                              <div class="row center-vh">
                                 
                                 <i class="fa fa-star color-primary fs-20"></i>
                              </div>
                           </div>
                        </div>
                     <div class="media-body">
                           <h4><a class="hover-terciario" href="#">Personas</a></h4>
                           <p class="py-2">Recuerda que el plazo para agendar tu masaje es hasta el 15</p>
                        </div>
               </div>
               <div class="media media-single">
                        
                     <div class="media-right">
                        <div class="avatar avatar-lg fs-14 badge-secondary fw-900">
                           <div class="row center-vh">
                              
                              <i class="fa fa-star color-primary fs-20"></i>
                           </div>
                        </div>
                     </div>
                  <div class="media-body">
                        <h4><a class="hover-terciario" href="#">Personas</a></h4>
                        <p class="py-2">Recuerda que el plazo para agendar tu masaje es hasta el 15</p>
                     </div>
            </div>
            <div class="media media-single">
                        
                  <div class="media-right">
                     <div class="avatar avatar-lg fs-14 badge-secondary fw-900">
                        <div class="row center-vh">
                           
                           <i class="fa fa-star color-primary fs-20"></i>
                        </div>
                     </div>
                  </div>
               <div class="media-body">
                     <h4><a class="hover-terciario" href="#">Personas</a></h4>
                     <p class="py-2">Recuerda que el plazo para agendar tu masaje es hasta el 15</p>
                  </div>
         </div>
                  </div>
                  <!--Init Content Card Footer-->
                  <div class="card-footer pt-10">
                     <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                     <div class="gap-items-2 float-md-right">
                        <label class="fs-14 text-lighter mr-2">
                           <i class="fa fa-comment fs-16"></i> 25
                        </label>
                        <div class="content-heart">
                           <div class="heart"></div>
                           <span class="fs-14 text-lighter">25</span>
                        </div>
                     </div>
                  </div>
                  <!--End Content Card Footer-->
               </div>
            </div>
            <!--End Card Comunicados-->

            <!-- Card Mercadito -->
            <div id="Mercadito">
               <div class="card rounded">
                  <div id="TitIcoCard">
                     <h4 class="card-title text-right"><span class="avatar avatar-lg avatar-bordered bg-primary">
                           <i class="fa fa-newspaper-o center-vh"></i></span>Mercadito</h4>
                  </div>


                  <div class="card-body">
                     <div class="row">
                        <div class="col-lg-5"><img alt="..." src="/assets/img/kia_4.png" class="rounded img-fluid mb-3">
                        </div>
                        <div class="col-lg-7">
                           <h4><a class="hover-terciario" href="/pages/comunicado/noticias-detalle.html">Se vende Kia
                                 Rio 4</a></h4>
                           <p>$6.500.000</p>
                        </div>
                     </div>

                  </div>
                  <div class="card-footer pt-10">
                     <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                     <div class="gap-items-2 float-md-right">
                        <label class="fs-14 text-lighter mr-2">
                           <i class="fa fa-comment fs-16"></i> 25
                        </label>
                        <div class="content-heart">
                           <div class="heart"></div>
                           <span class="fs-14 text-lighter">25</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- End Card Mercadito -->

            <!-- Card Consursos Internos -->
            <div id="Consurso">
               <div class="card rounded">
                  <div id="TitIcoCard">
                     <h4 class="card-title text-right"><span class="avatar avatar-lg avatar-bordered bg-primary">
                           <i class="fa fa-newspaper-o center-vh"></i></span>Concursos Internos</h4>
                  </div>
                  <div class="card-body">
                     <h4><a class="hover-terciario" href="/pages/comunicado/noticias-detalle.html">Jefe de proyecto
                           equipo comercial</a></h4>
                     <a class="hover-primary mb-10" href="#;" data-toggle="modal" data-target="#modal-center">Ver Más [
                        + ]</a>
                  </div>
                  <div class="card-footer pt-10">
                     <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                     <div class="gap-items-2 float-md-right">
                        <label class="fs-14 text-lighter mr-2">
                           <i class="fa fa-comment fs-16"></i> 25
                        </label>
                        <div class="content-heart">
                           <div class="heart"></div>
                           <span class="fs-14 text-lighter">25</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Card Consursos Internos -->

            <!--Card Trivia-->
            <div id="Trivia" class="TriviaComponent">
               <div id="trivia" class="content-trivia rounded" style="position:relative;">
                  <div class="card rounded">
                     <div id="TitIcoCard">
                        <h4 class="card-title text-right"><span class="avatar avatar-lg avatar-bordered bg-primary">
                              <i class="fa fa-newspaper-o center-vh"></i></span> Beneficio Destacado</h4>
                     </div>
                     <img class="w-100" src="/assets/img/gallery/18.jpg" alt="..."
                        style="object-fit: cover;object-position: center; width: 100%; height: 100%;">
                     <div class="card-body flexbox"
                        style="position: absolute;top: 10.3rem;left: 1rem;background: rgba(0, 0, 0, .5);width: 90%;border-radius: 8px;color: #fff;padding: 5%!important;">
                        <h4 class="center-h" style="color:#fff">
                           ¿Qué es lo que más te gusta de la nueva intranet?</h4 class="center-h" style="color:#fff">
                     </div>
                     <div class="card-body">
                        <p>Envíanos tu respuesta y participa por un premio sorpresa, que se sorteara al finalizar este
                           mes.</p>
                     </div>
                     <div class="card-footer pt-10">
                        <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                        <div class="gap-items-2 float-md-right">
                           <label class="fs-14 text-lighter mr-2">
                              <i class="fa fa-comment fs-16"></i> 25
                           </label>
                           <div class="content-heart">
                              <div class="heart"></div>
                              <span class="fs-14 text-lighter">25</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!--End Card Trivia-->

         </div>




      </div>
   </div>
   <!-- End Content Left -->
   <!-- Content Right -->
   <div class="col-md-4">


      <div id="SearchPrime">
         <!--Card Busqueda de Personas-->
         <div class="card">
            <div class="searchBody bg-hpink rounded">
               <input class="rounded" type="text" placeholder="Nombre Apellido">
               <a class="publish-btn fa fa-paper-plane" href="#"></a>
            </div>
         </div>
         <!--End Card Busqueda de Personas-->
      </div>

      <div id="Ranking" class="RankingConponent">
         <div class="card h-430px">
            <div id="TitIcoCard" class="mb-3">
               <h4 class="card-title text-right">
                  <span class="avatar avatar-lg avatar-bordered bg-primary">
                     <i class="fa fa-gift center-vh"></i>
                  </span> Cumpleaños</h4>
            </div>
            <div class="media-list media-list-hover media-list-divided scrollable ps-container ps-theme-default ps-active-y"
               style="height: 370px" data-ps-id="e1a7b6cb-6eda-8438-41a7-73dfe4f55367">
               <!--Usuario-->
               <div class="media media-single">
                  <div class="row media-body">
                     <div class="col-2 faceAvatar">
                        <span class="avatar avatar-lg bg-yellow">
                           <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                              <img class="avatar align-self-start" src="/assets/img/avatar/3.jpg" alt="...">
                           </a>
                        </span>
                     </div>
                     <div class="col-10 detalleAvatar">
                        <h5>Leonela Andreina López</h5>
                        <small class="fs-14 text-light">Ejecutiva Comercial</small>
                        <span><a href="#;"><i class="fa fa-envelope"></i> Saludar</a></span>
                     </div>
                  </div>
               </div>
               <!--End Usuario-->
               <!--Usuario-->
               <div class="media media-single">
                  <div class="row media-body">
                     <div class="col-2 faceAvatar">
                        <span class="avatar avatar-lg bg-yellow">
                           <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                              <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg" alt="...">
                           </a>
                        </span>
                     </div>
                      <div class="col-10 detalleAvatar">
                        <h5>Leonela Andreina López</h5>
                        <small class="fs-14 text-light">Ejecutiva Comercial</small>
                        <span><a href="#;"><i class="fa fa-envelope"></i> Saludar</a></span>
                     </div>
                  </div>
               </div>
               <!--End Usuario-->
               <!--Usuario-->
               <div class="media media-single">
                  <div class="row media-body">
                     <div class="col-2 faceAvatar">
                        <span class="avatar avatar-lg bg-yellow">
                           <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                              <img class="avatar align-self-start" src="/assets/img/avatar/1.jpg" alt="...">
                           </a>
                        </span>
                     </div>
                     <div class="col-10 detalleAvatar">
                           <h5>Leonela Andreina López</h5>
                           <small class="fs-14 text-light">Ejecutiva Comercial</small>
                           <span><a href="#;"><i class="fa fa-envelope"></i> Saludar</a></span>
                        </div>
                  </div>
               </div>
               <!--End Usuario-->
               <!--Usuario-->
               <div class="media media-single">
                  <div class="row media-body">
                     <div class="col-2 faceAvatar">
                        <span class="avatar avatar-lg bg-yellow">
                           <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                              <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg" alt="...">
                           </a>
                        </span>
                     </div>
                     <div class="col-10 detalleAvatar">
                           <h5>Leonela Andreina López</h5>
                           <small class="fs-14 text-light">Ejecutiva Comercial</small>
                           <span><a href="#;"><i class="fa fa-envelope"></i> Saludar</a></span>
                        </div>
                  </div>
               </div>
               <!--End Usuario-->
               <!--Usuario-->
               <div class="media media-single">
                  <div class="row media-body">
                     <div class="col-2 faceAvatar">
                        <span class="avatar avatar-lg bg-yellow">
                           <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                              <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg" alt="...">
                           </a>
                        </span>
                     </div>
                     <div class="col-10 detalleAvatar">
                           <h5>Leonela Andreina López</h5>
                           <small class="fs-14 text-light">Ejecutiva Comercial</small>
                           <span><a href="#;"><i class="fa fa-envelope"></i> Saludar</a></span>
                        </div>
                  </div>
               </div>
               <!--End Usuario-->
               <!--Usuario-->
               <div class="media media-single">
                  <div class="row media-body">
                     <div class="col-2 faceAvatar">
                        <span class="avatar avatar-lg bg-yellow">
                           <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                              <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg" alt="...">
                           </a>
                        </span>
                     </div>
                     <div class="col-10 detalleAvatar">
                           <h5>Leonela Andreina López</h5>
                           <small class="fs-14 text-light">Ejecutiva Comercial</small>
                           <span><a href="#;"><i class="fa fa-envelope"></i> Saludar</a></span>
                        </div>
                  </div>
               </div>
               <!--End Usuario-->
               <!--Usuario-->
               <div class="media media-single">
                  <div class="row media-body">
                     <div class="col-2 faceAvatar">
                        <span class="avatar avatar-lg bg-yellow">
                           <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                              <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg" alt="...">
                           </a>
                        </span>
                     </div>
                     <div class="col-10 detalleAvatar">
                           <h5>Leonela Andreina López</h5>
                           <small class="fs-14 text-light">Ejecutiva Comercial</small>
                           <span><a href="#;"><i class="fa fa-envelope"></i> Saludar</a></span>
                        </div>
                  </div>
               </div>
               <!--End Usuario-->
               <!--Usuario-->
               <div class="media media-single">
                  <div class="row media-body">
                     <div class="col-2 faceAvatar">
                        <span class="avatar avatar-lg bg-yellow">
                           <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                              <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg" alt="...">
                           </a>
                        </span>
                     </div>
                     <div class="col-10 detalleAvatar">
                           <h5>Leonela Andreina López</h5>
                           <small class="fs-14 text-light">Ejecutiva Comercial</small>
                           <span><a href="#;"><i class="fa fa-envelope"></i> Saludar</a></span>
                        </div>
                  </div>
               </div>
               <!--End Usuario-->
               <!--Usuario-->
               <div class="media media-single">
                  <div class="row media-body">
                     <div class="col-2 faceAvatar">
                        <span class="avatar avatar-lg bg-yellow">
                           <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                              <img class="avatar align-self-start" src="/assets/img/avatar/2.jpg" alt="...">
                           </a>
                        </span>
                     </div>
                     <div class="col-10 detalleAvatar">
                           <h5>Leonela Andreina López</h5>
                           <small class="fs-14 text-light">Ejecutiva Comercial</small>
                           <span><a href="#;"><i class="fa fa-envelope"></i> Saludar</a></span>
                        </div>
                  </div>
               </div>
               <!--End Usuario-->
               <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                  <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
               </div>
               <div class="ps-scrollbar-y-rail" style="top: 0px; height: 370px; right: 2px;">
                  <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 163px;"></div>
               </div>
            </div>
            <div class="card-footer pt-10">
               <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
               <div class="gap-items-2 float-md-right">
                  <label class="fs-14 text-lighter mr-2">
                     <i class="fa fa-comment fs-16"></i> 25
                  </label>
                  <div class="content-heart">
                     <div class="heart"></div>
                     <span class="fs-14 text-lighter">25</span>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="modal fade" id="Comtarfeed" tabindex="-1" style="display: none;">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">Publicar Contenido</h5>
                  <button type="button" class="close" data-dismiss="modal">
                     <span aria-hidden="true">×</span>
                  </button>
               </div>
               <div class="modal-body form-type-round"">

                        <div class=" form-group">
                  <label for="input-normal">Cuentanos</label>
                  <input type="text" class="form-control" id="input-normal" value="Input value">
               </div>

               <div class="form-group form-type-round file-group">
                  <label for="input-normal">Sube tu foto</label>
                  <input type="text" class="form-control file-value file-browser" placeholder="Subir imagen..."
                     readonly="">
                  <input type="file" multiple="">
               </div>

               <div class="form-group">
                  <label for="input-normal">Link Video</label>
                  <input type="text" class="form-control" id="input-normal" value="Input value">
               </div>

            </div>


            <div class="modal-footer">
               <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Close</button>
               <button type="button" class="btn btn-bold btn-pure  text-white bg-terciario">Save
                  changes</button>
            </div>
         </div>
      </div>
   </div>

   <!--Card Noticias Home-->
   <div id="News" class="NewsContent">
      <div class="NewsComponent card">


         <div id="TitIcoCard">
            <h4 class="card-title text-right"><span class="avatar avatar-lg avatar-bordered bg-primary">
                  <i class="fa fa-newspaper-o center-vh"></i></span> Beneficio Destacado</h4>
         </div>

         <!--Init Slider Gallery-->
         <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <span class="badge badge-pill badge-dark w-40px">1 / 3</span>
                  <img src="/assets/img/gallery/thumb/1.jpg" alt="...">
               </div>
               <div class="carousel-item">
                  <span class="badge badge-pill badge-dark w-40px">2 / 3</span>
                  <img src="/assets/img/gallery/thumb/12.jpg" alt="...">
               </div>
               <div class="carousel-item">
                  <span class="badge badge-pill badge-dark w-40px">3 / 3</span>
                  <img src="/assets/img/gallery/thumb/3.jpg" alt="...">
               </div>
            </div>
            <div class="semicirclehor"></div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
            </a>
         </div>
         <!--End Slider Gallery-->

         <!--Init Content Card-->
         <div class="card-body py-2">
            <h4><a class="hover-terciario" href="/pages/comunicado/noticias-detalle.html">Revisa esta Noticia
                  destacada para el Home con galería</a></h4>
            <a href="/pages/comunicado/noticias-detalle.html">
               <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco...</p>
            </a>
            <div id="CardFooter">

            </div>
         </div>
         <!--End Content Card-->

      </div>
   </div>
   <!--End Card Noticias Home-->


</div>
<!-- End Content Right -->
</div>
<!-- Scripts -->

<script type="text/javascript">
   // Initialize the plugin
   $(document).ready(function () {
      // Scrollable
      //
      $('.media-list, #FeedContent').perfectScrollbar();

      // Initialize the Heart click explose
      $(".heart").on('click touchstart', function () {
         $(this).toggleClass('is_animating');
      });

      $("#CardFooter").load('../home/component/card-footer.html');


      $(".carousel").swipe({
         swipe: function (event, direction, distance, duration, fingerCount, fingerData) {
            if (direction == 'left') $(this).carousel('next');
            if (direction == 'right') $(this).carousel('prev');
         },
         allowPageScroll: "vertical"
      });


   });
</script>