<div class="row">
    <!--Row -->
    <!-- Content Left -->
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <!--Card Noticias Home-->
                <div id="Slider" class="Home">
                    <div class="NewsComponent card">

                        <!--Init Slider Gallery-->
                        <div id="carouselExampleIndicatorsPrime" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicatorsPrime" data-slide-to="0" class="active">
                                </li>
                                <li data-target="#carouselExampleIndicatorsPrime" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicatorsPrime" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item rounded active">
                                    <div class="p-4 absolute-content text-white rounded black-to-fade"
                                        style="height: 70%;bottom: 0; width: 100%;">

                                        <div class="card-body">
                                            <h3>Compartir con tus seres queridos, por esa razón no te pierdas esta
                                                oportunidad</h3>
                                            <span>La familia es lo mas importante para todos, en U Mayor contamos con
                                                distintos
                                                beneficios para ti y los tuyos,
                                                solo tienes que conocerlos.</span>
                                            <ul id="CardFooterSlider" class="pt-10 p-0">
                                                <li>
                                                    <label class="fs-14 mb-0 mr-2" data-toggle="modal"
                                                        data-target="#modal-Comments">
                                                        <i class="fa fa-comment fs-16 mr-1"></i><strong>25</strong>
                                                    </label>
                                                </li>
                                                <li>
                                                    <div class="content-heart">
                                                        <div class="heart"></div>
                                                        <strong>25</strong>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                    <img src="/assets/img/gallery/1.jpg" alt="...">
                                </div>
                                <div class="carousel-item rounded">
                                    <div class="p-4 absolute-content text-white rounded black-to-fade"
                                        style="height: 70%;bottom: 0; width: 100%;">

                                        <div class="card-body">
                                            <h3>Compartir con tus seres queridos, por esa razón no te pierdas esta
                                                oportunidad</h3>
                                            <span>La familia es lo mas importante para todos, en U Mayor contamos con
                                                distintos
                                                beneficios para ti y los tuyos,
                                                solo tienes que conocerlos.</span>
                                            <ul id="CardFooterSlider" class="pt-10 p-0">
                                                <li>
                                                    <label class="fs-14 mb-0 mr-2" data-toggle="modal"
                                                        data-target="#modal-Comments">
                                                        <i class="fa fa-comment fs-16 mr-1"></i><strong>25</strong>
                                                    </label>
                                                </li>
                                                <li>
                                                    <div class="content-heart">
                                                        <div class="heart"></div>
                                                        <strong>25</strong>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                    <img src="/assets/img/gallery/13.jpg" alt="...">
                                </div>
                                <div class="carousel-item rounded">
                                    <div class="p-4 absolute-content text-white rounded black-to-fade"
                                        style="height: 70%;bottom: 0; width: 100%;">

                                        <div class="card-body">
                                            <h3>Compartir con tus seres queridos, por esa razón no te pierdas esta
                                                oportunidad</h3>
                                            <span>La familia es lo mas importante para todos, en U Mayor contamos con
                                                distintos
                                                beneficios para ti y los tuyos,
                                                solo tienes que conocerlos.</span>
                                            <ul id="CardFooterSlider" class="pt-10 p-0">
                                                <li>
                                                    <label class="fs-14 mb-0 mr-2" data-toggle="modal"
                                                        data-target="#modal-Comments">
                                                        <i class="fa fa-comment fs-16 mr-1"></i><strong>25</strong>
                                                    </label>
                                                </li>
                                                <li>
                                                    <div class="content-heart">
                                                        <div class="heart"></div>
                                                        <strong>25</strong>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                    <img src="/assets/img/gallery/5.jpg" alt="...">
                                </div>
                            </div>
                        </div>
                        <!--End Slider Gallery-->
                    </div>
                </div>
                <!--End Card Noticias Home-->


            </div>

        </div>
        <!--INICIO SLIDER ACCESOS-->
        <!--====================================================================-->
        <div class="row">
            <div class="col-md-12 pr-5 pl-5 pb-3">
                <!--Card Noticias Home-->
                <div id="SliderAccesos" class="Home">
                    <div class="accesosComponet">

                        <!--Init Slider Gallery-->

                        <!--Carousel Wrapper-->
                        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

                            <!--Slides-->
                            <div class="carousel-inner" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <div class="card mb-2">
                                                <a class="btn btn-primary">Button</a>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-4">
                                            <div class="card mb-2">
                                                <a class="btn btn-primary">Button</a>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-4">
                                            <div class="card mb-2">
                                                <a class="btn btn-primary">Button</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--/.First slide-->

                                <!--Second slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <div class="card mb-2">
                                                <a class="btn btn-primary">Button</a>
                                            </div>
                                        </div>


                                        <div class="col-md-4 col-4">
                                            <div class="card mb-2">
                                                <a class="btn btn-primary">Button</a>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-4">
                                            <div class="card mb-2">
                                                <a class="btn btn-primary">Button</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/.Second slide-->

                                <!--Third slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <div class="card mb-2">
                                                <a class="btn btn-primary">Button</a>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-4">
                                            <div class="card mb-2">
                                                <a class="btn btn-primary">Button</a>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-4">
                                            <div class="card mb-2">
                                                <a class="btn btn-primary">Button</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/.Third slide-->

                            </div>

                            <!--Controls-->
                            <div class="controls-top">
                                <a class="carousel-control-prev" href="#multi-item-example" role="button"
                                    data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#multi-item-example" role="button"
                                    data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <!--/.Controls-->

                            <!--/.Slides-->

                        </div>
                        <!--/.Carousel Wrapper-->

                        <!--End Slider Gallery-->
                    </div>
                </div>
                <!--End Card Noticias Home-->

            </div>

        </div>
        <!--FIN SLIDER ACCESOS-->
        <!--====================================================================-->



        <div class="row">

            <div class="col-md-6">

                <!--Card Noticias Home-->
                <div id="News" class="NewsContent">
                    <div class="NewsComponent card">


                        <div id="TitIcoCard">
                            <h4 class="card-title text-right"><span class="avatar avatar-lg avatar-bordered bg-primary">
                                    <i class="fa fa-newspaper-o center-vh"></i></span> Comunicado Noticias</h4>
                        </div>

                        <!--Init Slider Gallery-->
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <span class="badge badge-pill badge-dark w-40px">1 / 3</span>
                                    <img src="/assets/img/gallery/thumb/1.jpg" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <span class="badge badge-pill badge-dark w-40px">2 / 3</span>
                                    <img src="/assets/img/gallery/thumb/12.jpg" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <span class="badge badge-pill badge-dark w-40px">3 / 3</span>
                                    <img src="/assets/img/gallery/thumb/3.jpg" alt="...">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <!--End Slider Gallery-->

                        <!--Init Content Card-->
                        <div class="card-body py-2">
                            <h4><a class="hover-terciario" href="/pages/comunicado/noticias-detalle.html">Revisa esta
                                    Noticia
                                    destacada para el Home con galería</a></h4>
                            <a href="/pages/comunicado/noticias-detalle.html">
                                <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam,
                                    quis nostrud exercitation ullamco...</p>
                            </a>
                            <div id="CardFooter">

                            </div>
                        </div>
                        <!--End Content Card-->

                    </div>
                </div>
                <!--End Card Noticias Home-->

                <!--Card Ranking-->
                <div id="Ranking" class="RankingConponent">
                    <div class="card h-430px">
                        <div id="TitIcoCard" class="mb-3">
                            <h4 class="card-title text-right">
                                <span class="avatar avatar-lg avatar-bordered bg-primary">
                                    <i class="fa fa-gift center-vh"></i>
                                </span> Cumpleaños</h4>
                        </div>
                        <div class="media-list media-list-hover media-list-divided scrollable" style="height: 370px">
                            <!--Usuario-->
                            <div class="media media-single">
                                <div class="row media-body">
                                    <div class="col-2 faceAvatar">
                                        <span class="avatar avatar-lg bg-yellow">
                                            <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                                                <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg"
                                                    alt="...">
                                            </a>
                                        </span>
                                    </div>
                                    <div class="col-10 detalleAvatar">
                                        <span>20-08</span>
                                        <h5>Leonela Andreina López</h5>
                                        <small class="fs-13 text-light">Ejecutiva Comercial</small>
                                    </div>
                                </div>
                            </div>
                            <!--End Usuario-->
                            <!--Usuario-->
                            <div class="media media-single">
                                <div class="row media-body">
                                    <div class="col-2 faceAvatar">
                                        <span class="avatar avatar-lg bg-yellow">
                                            <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                                                <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg"
                                                    alt="...">
                                            </a>
                                        </span>
                                    </div>
                                    <div class="col-10 detalleAvatar">
                                        <span>20-08</span>
                                        <h5>Leonela Andreina López</h5>
                                        <small class="fs-13 text-light">Ejecutiva Comercial</small>
                                    </div>
                                </div>
                            </div>
                            <!--End Usuario-->
                            <!--Usuario-->
                            <div class="media media-single">
                                <div class="row media-body">
                                    <div class="col-2 faceAvatar">
                                        <span class="avatar avatar-lg bg-yellow">
                                            <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                                                <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg"
                                                    alt="...">
                                            </a>
                                        </span>
                                    </div>
                                    <div class="col-10 detalleAvatar">
                                        <span>20-08</span>
                                        <h5>Leonela Andreina López</h5>
                                        <small class="fs-13 text-light">Ejecutiva Comercial</small>
                                    </div>
                                </div>
                            </div>
                            <!--End Usuario-->
                            <!--Usuario-->
                            <div class="media media-single">
                                <div class="row media-body">
                                    <div class="col-2 faceAvatar">
                                        <span class="avatar avatar-lg bg-yellow">
                                            <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                                                <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg"
                                                    alt="...">
                                            </a>
                                        </span>
                                    </div>
                                    <div class="col-10 detalleAvatar">
                                        <span>20-08</span>
                                        <h5>Leonela Andreina López</h5>
                                        <small class="fs-13 text-light">Ejecutiva Comercial</small>
                                    </div>
                                </div>
                            </div>
                            <!--End Usuario-->
                            <!--Usuario-->
                            <div class="media media-single">
                                <div class="row media-body">
                                    <div class="col-2 faceAvatar">
                                        <span class="avatar avatar-lg bg-yellow">
                                            <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                                                <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg"
                                                    alt="...">
                                            </a>
                                        </span>
                                    </div>
                                    <div class="col-10 detalleAvatar">
                                        <span>20-08</span>
                                        <h5>Leonela Andreina López</h5>
                                        <small class="fs-13 text-light">Ejecutiva Comercial</small>
                                    </div>
                                </div>
                            </div>
                            <!--End Usuario-->
                            <!--Usuario-->
                            <div class="media media-single">
                                <div class="row media-body">
                                    <div class="col-2 faceAvatar">
                                        <span class="avatar avatar-lg bg-yellow">
                                            <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                                                <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg"
                                                    alt="...">
                                            </a>
                                        </span>
                                    </div>
                                    <div class="col-10 detalleAvatar">
                                        <span>20-08</span>
                                        <h5>Leonela Andreina López</h5>
                                        <small class="fs-13 text-light">Ejecutiva Comercial</small>
                                    </div>
                                </div>
                            </div>
                            <!--End Usuario-->
                            <!--Usuario-->
                            <div class="media media-single">
                                <div class="row media-body">
                                    <div class="col-2 faceAvatar">
                                        <span class="avatar avatar-lg bg-yellow">
                                            <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                                                <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg"
                                                    alt="...">
                                            </a>
                                        </span>
                                    </div>
                                    <div class="col-10 detalleAvatar">
                                        <span>20-08</span>
                                        <h5>Leonela Andreina López</h5>
                                        <small class="fs-13 text-light">Ejecutiva Comercial</small>
                                    </div>
                                </div>
                            </div>
                            <!--End Usuario-->
                            <!--Usuario-->
                            <div class="media media-single">
                                <div class="row media-body">
                                    <div class="col-2 faceAvatar">
                                        <span class="avatar avatar-lg bg-yellow">
                                            <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                                                <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg"
                                                    alt="...">
                                            </a>
                                        </span>
                                    </div>
                                    <div class="col-10 detalleAvatar">
                                        <span>20-08</span>
                                        <h5>Leonela Andreina López</h5>
                                        <small class="fs-13 text-light">Ejecutiva Comercial</small>
                                    </div>
                                </div>
                            </div>
                            <!--End Usuario-->
                            <!--Usuario-->
                            <div class="media media-single">
                                <div class="row media-body">
                                    <div class="col-2 faceAvatar">
                                        <span class="avatar avatar-lg bg-yellow">
                                            <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                                                <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg"
                                                    alt="...">
                                            </a>
                                        </span>
                                    </div>
                                    <div class="col-10 detalleAvatar">
                                        <span>20-08</span>
                                        <h5>Leonela Andreina López</h5>
                                        <small class="fs-13 text-light">Ejecutiva Comercial</small>
                                    </div>
                                </div>
                            </div>
                            <!--End Usuario-->
                        </div>
                        <div class="text-center bt-1 border-light p-2">
                            <a class="text-uppercase d-block fs-10 fw-500 ls-1" href="#">Ver todos</a>
                        </div>
                    </div>
                </div>
                <!--End Card Ranking-->

            </div>
            <br />
            <div class="col-md-6">

                <!--Card Nuestros Eventos-->
                <div id="Events" class="EventsComponent">
                    <div class="card">
                        <div id="TitIcoCard" class="mb-3">
                            <h4 class="card-title text-right"><span
                                    class="avatar avatar-lg avatar-bordered bg-primary"><i
                                        class="fa fa-calendar center-vh"></i></span>Nuestros Eventos</h4>
                        </div>
                        <div class="media-list media-list-hover media-list-divided scrollable" style="height: 345px">
                            <div class="media media-single">
                                <div class="media-body">
                                    <h4><a class="hover-terciario" href="#">Mayo</a></h4>
                                    <p class="py-2">sed do eiusmod tempor incididunt ut labore et dolore magna aliquar
                                        incididunt
                                    </p>
                                </div>
                                <div class="media-right">
                                    <div class="avatar avatar-lg fs-14 bg-yellowMayor fw-900">
                                        <div class="row center-vh">
                                            <span class="dia-num">06</span>
                                            <span class="dia-text">Jue</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media media-single">
                                <div class="media-body">
                                    <h4><a class="hover-terciario" href="#">Junio</a></h4>
                                    <p class="py-2">sed do eiusmod tempor incididunt ut labore et dolore magna aliquar
                                        incididunt
                                    </p>
                                </div>
                                <div class="media-right">
                                    <div class="avatar avatar-lg fs-14 bg-yellowMayor fw-900">
                                        <div class="row center-vh">
                                            <span class="dia-num">12</span>
                                            <span class="dia-text">Vier</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media media-single">
                                <div class="media-body">
                                    <h4><a class="hover-terciario" href="#">Julio</a></h4>
                                    <p class="py-2">sed do eiusmod tempor incididunt ut labore et dolore magna aliquar
                                        incididunt
                                    </p>
                                </div>
                                <div class="media-right">
                                    <div class="avatar avatar-lg fs-14 bg-yellowMayor fw-900">
                                        <div class="row center-vh">
                                            <span class="dia-num">21</span>
                                            <span class="dia-text">Mier</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media media-single">
                                <div class="media-body">
                                    <h4><a class="hover-terciario" href="#">Agosto</a></h4>
                                    <p class="py-2">sed do eiusmod tempor incididunt ut labore et dolore magna aliquar
                                        incididunt
                                    </p>
                                </div>
                                <div class="media-right">
                                    <div class="avatar avatar-lg fs-14 bg-yellowMayor fw-900">
                                        <div class="row center-vh">
                                            <span class="dia-num">21</span>
                                            <span class="dia-text">Mier</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media media-single">
                                <div class="media-body">
                                    <h4><a class="hover-terciario" href="#">Septiembre</a></h4>
                                    <p class="py-2">sed do eiusmod tempor incididunt ut labore et dolore magna aliquar
                                        incididunt
                                    </p>
                                </div>
                                <div class="media-right">
                                    <div class="avatar avatar-lg fs-14 bg-yellowMayor fw-900">
                                        <div class="row center-vh">
                                            <span class="dia-num">21</span>
                                            <span class="dia-text">Mier</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center bt-1 border-light p-2">
                            <a class="text-uppercase d-block fs-10 fw-500 ls-1" href="#">Ver todos</a>
                        </div>
                    </div>
                </div>
                <!--End Card Nuestros Eventos-->


                <!--Card Beneficios-->
                <div id="Benefits" class="Benefitscomponent">
                    <div class="card">
                        <div id="TitIcoCard">
                            <h4 class="card-title text-right"><span
                                    class="avatar avatar-lg avatar-bordered bg-primary"><i
                                        class="fa fa-star center-vh"></i></span> Beneficios Destacados</h4>
                        </div>

                        <div class="swiper-container swiper-pagination-outside swiper-container-horizontal"
                            data-provide="swiper">
                            <div class="swiper-wrapper no-gutters">


                                <div class="swiper-slide">
                                    <div class="bg-img br-4">
                                        <img class="bg-img-img" src="/assets/img/gallery/thumb/10.jpg">
                                    </div>
                                    <div class="card-body">
                                        <h4>
                                            <a class="hover-terciario"
                                                href="/pages/comunicado/noticias-detalle.html">Revisa el
                                                beneficio de
                                                caja Los Andes que tenemos para tí... </a>
                                        </h4>
                                        <div class="card-footer pt-10 p-0">
                                            <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                                            <div class="gap-items-2 float-md-right">
                                                <label class="fs-14 text-lighter mb-0 mr-2">
                                                    <i class="fa fa-comment fs-16"></i> 25
                                                </label>
                                                <div class="content-heart">
                                                    <div class="heart"></div>
                                                    <span class="fs-14 text-lighter">25</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="swiper-slide">
                                    <!--Init Slider Gallery-->
                                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#carouselExampleIndicators" data-slide-to="0"
                                                class="active"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <span class="badge badge-pill badge-dark w-40px">1 / 3</span>
                                                <img src="/assets/img/gallery/thumb/1.jpg" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <span class="badge badge-pill badge-dark w-40px">2 / 3</span>
                                                <img src="/assets/img/gallery/thumb/12.jpg" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <span class="badge badge-pill badge-dark w-40px">3 / 3</span>
                                                <img src="/assets/img/gallery/thumb/3.jpg" alt="...">
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                            data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                            data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                    <!--End Slider Gallery-->
                                </div>

                                <div class="swiper-slide">
                                    <div class="bg-img br-4">
                                        <img class="bg-img-img" src="/assets/img/gallery/thumb/12.jpg">
                                    </div>
                                    <div class="card-body">
                                        <h4>
                                            <a class="hover-terciario"
                                                href="/pages/comunicado/noticias-detalle.html">Revisa el
                                                beneficio de
                                                caja Los Andes que tenemos para tí... </a>
                                        </h4>
                                        <div class="card-footer pt-10 p-0">
                                            <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                                            <div class="gap-items-2 float-md-right">
                                                <label class="fs-14 text-lighter mb-0 mr-2">
                                                    <i class="fa fa-comment fs-16"></i> 25
                                                </label>
                                                <div class="content-heart">
                                                    <div class="heart"></div>
                                                    <span class="fs-14 text-lighter">25</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--End paginador slider-->
                            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                                <span class="swiper-pagination-bullet"></span>
                            </div>
                            <!--End paginador slider-->
                        </div>
                    </div>
                </div>
                <!--End Card Beneficios-->

                <!--Card Trivia-->
                <div id="Trivia" class="TriviaComponent">
                    <div id="trivia" class="content-trivia rounded" style="position:relative;">
                        <div class="card rounded">
                            <img class="w-100" src="/assets/img/gallery/18.jpg" alt="..."
                                style="object-fit: cover;object-position: center; width: 100%; height: 100%;">
                            <div class="card-body flexbox"
                                style="position: absolute;top: 1.3rem;left: 1rem;background: rgba(0, 0, 0, .5);width: 90%;border-radius: 8px;color: #fff;padding: 5%!important;">
                                <h4 class="center-h" style="color:#fff">
                                    ¿Qué es lo que más te gusta de la nueva intranet?</h4 class="center-h"
                                    style="color:#fff">
                            </div>
                            <div class="card-body">
                                <p>Envíanos tu respuesta y participa por un premio sorpresa, que se sorteara al
                                    finalizar este
                                    mes.</p>
                            </div>
                            <footer class="publisher p-10 rounded">
                                <img class="avatar align-self-start avatar-sm" src="/assets/img/avatar/1.jpg" alt="...">
                                <input class="publisher-input" rows="1" placeholder="Comenta en el muro…">
                                <div class="align-self-end gap-items m-0">
                                    <span class="publisher-btn file-group">
                                        <i class="fa fa-paperclip file-browser"></i>
                                        <input type="file">
                                    </span>
                                    <a class="publisher-btn" href="#"><i class="fa fa-smile-o"></i></a>
                                    <a class="publisher-btn" href="#"><i class="fa fa-paper-plane"></i></a>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
                <!--End Card Trivia-->

            </div>

        </div>
    </div>
    <!-- End Content Left -->
    <!-- Content Right -->
    <div class="col-md-4">

            <div id="SearchPrime">
                    <!--Card Busqueda de Personas-->
                    <div class="card">
                            <div class="card-title">
                                <h5 class="m-0">Buscador de Personas</h5>
                            </div>
                            <div class="searchBody">
                                <input type="text" placeholder="Nombre Apellido">
                                <a class="publish-btn fa fa-paper-plane" href="#"></a>
                            </div>
                    </div>
                    <!--End Card Busqueda de Personas-->
                </div>


        <div id="FeedPrime" class="FeedConponent rounded">
            <!--Card Comentario Feed-->
            <div class="card">
                <!--====================================================-->
                <!--Header Feed-->
                <div class="header-feed">
                    <div class="card-title center-vh bg-primary">
                        <h5 class="m-0 text-white">Comenta y comparte en el Feed!</h5>
                    </div>
                    <div class="row px-3 py-2 bg-primary">
                        <div class="col-md-12 form-type-round center-vh py-1">
                            <input type="text" readonly class="form-control b-0" id="input-normal"
                                value="Comenta en el muro…" placeholder="Comenta en el muro…" data-toggle="modal"
                                data-target="#Comtarfeed">
                        </div>
                    </div>
                </div>
                <!--End Header Feed-->
                <!--====================================================-->
                <div id="FeedContent" class="bt-0 p-15 scrollable">


                    <div id="CardReconocimiento" class="card rounded">

                        <!--INICIO CARD HEAD-->
                        <!--====================================================================-->
                        <div class="media p-10">
                            <div id="Usuario">
                                <span class="avatar avatar-lg bg-terciario">
                                    <a class="align-self-center img-hov-fadein" href="#">
                                        <img class="avatar avatar-md" src="/assets/img/avatar/5.jpg" alt="...">
                                    </a>
                                </span>
                            </div>

                            <div class="media-body">
                                <div id="UsuarioReconocido">
                                    <a href="#">
                                        <h5 class="hover-terciario mb-0">Margarita Villareal</h5>
                                    </a>
                                    <small class="fs-11 text-light">Reconoció a:</small>
                                    <span class="avatar avatar-xxs bg-terciario">
                                        <a class="align-self-center img-hov-fadein" href="#">
                                            <img class="avatar avatar-xxs" src="/assets/img/avatar/1.jpg" alt="...">
                                        </a>
                                    </span>
                                    <small class="fs-11 text-light">Gregorio Quintero</small>
                                </div>
                                <small class="text-yellow fs-12 m-0">Servicio Sorprendente</small>
                            </div>
                        </div>
                        <!--FIN CARD HEAD-->
                        <!--====================================================================-->

                        <!--INICIO CARD MEDIA-->
                        <!--====================================================================-->
                        <div class="bg-light img-perfil-dest center-vh">
                            <img class="img-back-perfil" src="/assets/img/gallery/bg-reconocimiento.png">
                            <div id="demo-basic" class="demo-basic align-self-center" href="#">
                                <img class="avatar avatar-xxl avatar-bordered mb-1" src="/assets/img/avatar/6.jpg"
                                    alt="...">
                                <a class="d-block w-100" href="#">
                                    <h4 class="text-white hover-terciario mb-0">Margarita Villareal</h4>
                                </a>
                                <small class="td-block w-100 text-yellow fs-12 m-0">Servicio Sorprendente</small>
                            </div>
                            <span id="IcoReco" class="avatar avatar-lg avatar-bordered bg-primary"><i
                                    class="fa fa-star center-vh"></i></span>
                        </div>
                        <!--FIN CARD MEDIA-->
                        <!--====================================================================-->

                        <!--INICIO CARD CONTENT-->
                        <!--====================================================================-->
                        <div class="InsideContent">
                            <div class="d-inline-block w-100 px-3 py-2">
                                <small class="text-info">a ti y a otras 75 personas le gusta esto</small>
                            </div>
                            <hr class="hr-sm m-0 w-100">
                            <div class="res-min px-3 py-2">
                                <p class="m-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                    enim ad
                                    minim
                                    veniam, quis nostrud exercitation ullamco. Sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>
                        <!--FIN CARD CONTENT-->
                        <!--====================================================================-->

                        <!--INICIO CARD FOOTER-->
                        <!--====================================================================-->
                        <div class="card-footer pt-10">
                            <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                            <div class="gap-items-2 float-md-right">
                                <label class="fs-14 text-lighter mr-2">
                                    <i class="fa fa-comment fs-16"></i> 25
                                </label>
                                <div class="content-heart">
                                    <div class="heart"></div>
                                    <span class="fs-14 text-lighter">25</span>
                                </div>
                            </div>
                        </div>
                        <!--FIN CARD FOOTER-->
                        <!--====================================================================-->


                    </div>


                    <div id="CardNoticias" class="card rounded">

                        <!--INICIO CARD HEAD-->
                        <!--====================================================================-->
                        <div class="media p-10 mb-2">
                            <div id="Usuario">
                                <span class="avatar avatar-lg bg-terciario">
                                    <a class="align-self-center img-hov-fadein" href="#">
                                        <img class="avatar avatar-md" src="/assets/img/avatar/5.jpg" alt="...">
                                    </a>
                                </span>
                            </div>

                            <div class="media-body">
                                <div id="UsuarioNoticias">
                                    <a href="#">
                                        <h5 class="hover-terciario mb-0">Mi Mundo Alsea</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--FIN CARD HEAD-->
                        <!--====================================================================-->

                        <!--INICIO CARD MEDIA-->
                        <!--====================================================================-->

                        <div class="MediaContent">

                            <div class="gallery"></div>

                            <div class="img"><img src="/assets/img/gallery/thumb/9.jpg" alt="..."></div>

                            <div class="video"></div>
                            <span id="IcoReco" class="avatar avatar-lg avatar-bordered bg-primary"><i
                                    class="fa fa-star center-vh"></i></span>

                        </div>
                        <!--FIN CARD MEDIA-->
                        <!--====================================================================-->

                        <!--INICIO CARD CONTENT-->
                        <!--====================================================================-->
                        <div class="InsideContent">
                            <div class="d-inline-block w-100 px-3 py-2">
                                <small class="text-info">a ti y a otras 75 personas le gusta esto</small>
                            </div>
                            <hr class="hr-sm m-0 w-100">
                            <div class="res-min px-3 py-2">
                                <p class="m-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                    enim ad
                                    minim
                                    veniam, quis nostrud exercitation ullamco. Sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>
                        <!--FIN CARD CONTENT-->
                        <!--====================================================================-->

                        <!--INICIO CARD FOOTER-->
                        <!--====================================================================-->
                        <div class="card-footer pt-10">
                            <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                            <div class="gap-items-2 float-md-right">
                                <label class="fs-14 text-lighter mr-2">
                                    <i class="fa fa-comment fs-16"></i> 25
                                </label>
                                <div class="content-heart">
                                    <div class="heart"></div>
                                    <span class="fs-14 text-lighter">25</span>
                                </div>
                            </div>
                        </div>
                        <!--FIN CARD FOOTER-->
                        <!--====================================================================-->


                    </div>


                    <div id="CardPublicador" class="card rounded">
                        <!--INICIO CARD HEAD-->
                        <!--====================================================================-->
                        <div class="media p-10 mb-2">
                            <div id="Usuario">
                                <span class="avatar avatar-lg bg-terciario">
                                    <a class="align-self-center img-hov-fadein" href="#">
                                        <img class="avatar avatar-md" src="/assets/img/avatar/5.jpg" alt="...">
                                    </a>
                                </span>
                            </div>

                            <div class="media-body">
                                <div id="UsuarioNoticias">
                                    <a href="#">
                                        <h5 class="hover-terciario mb-0">Margarita Villareal</h5>
                                    </a>
                                    <small class="text-yellow fs-12 m-0">Servicio Sorprendente</small>
                                </div>
                            </div>
                        </div>
                        <!--FIN CARD HEAD-->
                        <!--====================================================================-->

                        <!--INICIO CARD MEDIA-->
                        <!--====================================================================-->

                        <div class="MediaContent">

                            <div class="gallery"></div>

                            <div class="img"><img src="/assets/img/gallery/thumb/9.jpg" alt="..."></div>

                            <div class="video"></div>

                        </div>
                        <!--FIN CARD MEDIA-->
                        <!--====================================================================-->

                        <!--INICIO CARD CONTENT-->
                        <!--====================================================================-->
                        <div class="InsideContent">
                            <div class="d-inline-block w-100 px-3 py-2">
                                <small class="text-info">a ti y a otras 75 personas le gusta esto</small>
                            </div>
                            <hr class="hr-sm m-0 w-100">
                            <div class="res-min px-3 py-2">
                                <p class="m-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                    enim ad
                                    minim
                                    veniam, quis nostrud exercitation ullamco. Sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>
                        <!--FIN CARD CONTENT-->
                        <!--====================================================================-->

                        <!--INICIO CARD FOOTER-->
                        <!--====================================================================-->
                        <div class="card-footer pt-10">
                            <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                            <div class="gap-items-2 float-md-right">
                                <label class="fs-14 text-lighter mr-2">
                                    <i class="fa fa-comment fs-16"></i> 25
                                </label>
                                <div class="content-heart">
                                    <div class="heart"></div>
                                    <span class="fs-14 text-lighter">25</span>
                                </div>
                            </div>
                        </div>
                        <!--FIN CARD FOOTER-->
                        <!--====================================================================-->


                    </div>

                    <div id="CardReconocimiento" class="card rounded">

                        <!--INICIO CARD HEAD-->
                        <!--====================================================================-->
                        <div class="media p-10">
                            <div id="Usuario">
                                <span class="avatar avatar-lg bg-terciario">
                                    <a class="align-self-center img-hov-fadein" href="#">
                                        <img class="avatar avatar-md" src="/assets/img/avatar/5.jpg" alt="...">
                                    </a>
                                </span>
                            </div>

                            <div class="media-body">
                                <div id="UsuarioReconocido">
                                    <a href="#">
                                        <h5 class="hover-terciario mb-0">Margarita Villareal</h5>
                                    </a>
                                    <small class="fs-11 text-light">Reconoció a:</small>
                                    <span class="avatar avatar-xxs bg-terciario">
                                        <a class="align-self-center img-hov-fadein" href="#">
                                            <img class="avatar avatar-xxs" src="/assets/img/avatar/1.jpg" alt="...">
                                        </a>
                                    </span>
                                    <small class="fs-11 text-light">Gregorio Quintero</small>
                                </div>
                                <small class="text-yellow fs-12 m-0">Servicio Sorprendente</small>
                            </div>
                        </div>
                        <!--FIN CARD HEAD-->
                        <!--====================================================================-->

                        <!--INICIO CARD MEDIA-->
                        <!--====================================================================-->
                        <div class="bg-light img-perfil-dest center-vh">
                            <img class="img-back-perfil" src="/assets/img/gallery/bg-reconocimiento.png">
                            <div id="demo-basic" class="demo-basic align-self-center" href="#">
                                <img class="avatar avatar-xxl avatar-bordered mb-1" src="/assets/img/avatar/6.jpg"
                                    alt="...">
                                <a class="d-block w-100" href="#">
                                    <h4 class="text-white hover-terciario mb-0">Margarita Villareal</h4>
                                </a>
                                <small class="td-block w-100 text-yellow fs-12 m-0">Servicio Sorprendente</small>
                            </div>
                            <span id="IcoReco" class="avatar avatar-lg avatar-bordered bg-primary"><i
                                    class="fa fa-star center-vh"></i></span>
                        </div>
                        <!--FIN CARD MEDIA-->
                        <!--====================================================================-->

                        <!--INICIO CARD CONTENT-->
                        <!--====================================================================-->
                        <div class="InsideContent">
                            <div class="d-inline-block w-100 px-3 py-2">
                                <small class="text-info">a ti y a otras 75 personas le gusta esto</small>
                            </div>
                            <hr class="hr-sm m-0 w-100">
                            <div class="res-min px-3 py-2">
                                <p class="m-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                    enim ad
                                    minim
                                    veniam, quis nostrud exercitation ullamco. Sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>
                        <!--FIN CARD CONTENT-->
                        <!--====================================================================-->

                        <!--INICIO CARD FOOTER-->
                        <!--====================================================================-->
                        <div class="card-footer pt-10">
                            <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                            <div class="gap-items-2 float-md-right">
                                <label class="fs-14 text-lighter mr-2">
                                    <i class="fa fa-comment fs-16"></i> 25
                                </label>
                                <div class="content-heart">
                                    <div class="heart"></div>
                                    <span class="fs-14 text-lighter">25</span>
                                </div>
                            </div>
                        </div>
                        <!--FIN CARD FOOTER-->
                        <!--====================================================================-->


                    </div>


                    <div id="CardNoticias" class="card rounded">

                        <!--INICIO CARD HEAD-->
                        <!--====================================================================-->
                        <div class="media p-10 mb-2">
                            <div id="Usuario">
                                <span class="avatar avatar-lg bg-terciario">
                                    <a class="align-self-center img-hov-fadein" href="#">
                                        <img class="avatar avatar-md" src="/assets/img/avatar/5.jpg" alt="...">
                                    </a>
                                </span>
                            </div>

                            <div class="media-body">
                                <div id="UsuarioNoticias">
                                    <a href="#">
                                        <h5 class="hover-terciario mb-0">Mi Mundo Alsea</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--FIN CARD HEAD-->
                        <!--====================================================================-->

                        <!--INICIO CARD MEDIA-->
                        <!--====================================================================-->

                        <div class="MediaContent">

                            <div class="gallery"></div>

                            <div class="img"><img src="/assets/img/gallery/thumb/9.jpg" alt="..."></div>

                            <div class="video"></div>
                            <span id="IcoReco" class="avatar avatar-lg avatar-bordered bg-primary"><i
                                    class="fa fa-star center-vh"></i></span>

                        </div>
                        <!--FIN CARD MEDIA-->
                        <!--====================================================================-->

                        <!--INICIO CARD CONTENT-->
                        <!--====================================================================-->
                        <div class="InsideContent">
                            <div class="d-inline-block w-100 px-3 py-2">
                                <small class="text-info">a ti y a otras 75 personas le gusta esto</small>
                            </div>
                            <hr class="hr-sm m-0 w-100">
                            <div class="res-min px-3 py-2">
                                <p class="m-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                    enim ad
                                    minim
                                    veniam, quis nostrud exercitation ullamco. Sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>
                        <!--FIN CARD CONTENT-->
                        <!--====================================================================-->

                        <!--INICIO CARD FOOTER-->
                        <!--====================================================================-->
                        <div class="card-footer pt-10">
                            <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                            <div class="gap-items-2 float-md-right">
                                <label class="fs-14 text-lighter mr-2">
                                    <i class="fa fa-comment fs-16"></i> 25
                                </label>
                                <div class="content-heart">
                                    <div class="heart"></div>
                                    <span class="fs-14 text-lighter">25</span>
                                </div>
                            </div>
                        </div>
                        <!--FIN CARD FOOTER-->
                        <!--====================================================================-->


                    </div>


                    <div id="CardPublicador" class="card rounded">
                        <!--INICIO CARD HEAD-->
                        <!--====================================================================-->
                        <div class="media p-10 mb-2">
                            <div id="Usuario">
                                <span class="avatar avatar-lg bg-terciario">
                                    <a class="align-self-center img-hov-fadein" href="#">
                                        <img class="avatar avatar-md" src="/assets/img/avatar/5.jpg" alt="...">
                                    </a>
                                </span>
                            </div>

                            <div class="media-body">
                                <div id="UsuarioNoticias">
                                    <a href="#">
                                        <h5 class="hover-terciario mb-0">Margarita Villareal</h5>
                                    </a>
                                    <small class="text-yellow fs-12 m-0">Servicio Sorprendente</small>
                                </div>
                            </div>
                        </div>
                        <!--FIN CARD HEAD-->
                        <!--====================================================================-->

                        <!--INICIO CARD MEDIA-->
                        <!--====================================================================-->

                        <div class="MediaContent">

                            <div class="gallery"></div>

                            <div class="img"><img src="/assets/img/gallery/thumb/9.jpg" alt="..."></div>

                            <div class="video"></div>

                        </div>
                        <!--FIN CARD MEDIA-->
                        <!--====================================================================-->

                        <!--INICIO CARD CONTENT-->
                        <!--====================================================================-->
                        <div class="InsideContent">
                            <div class="d-inline-block w-100 px-3 py-2">
                                <small class="text-info">a ti y a otras 75 personas le gusta esto</small>
                            </div>
                            <hr class="hr-sm m-0 w-100">
                            <div class="res-min px-3 py-2">
                                <p class="m-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                    enim ad
                                    minim
                                    veniam, quis nostrud exercitation ullamco. Sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>
                        <!--FIN CARD CONTENT-->
                        <!--====================================================================-->

                        <!--INICIO CARD FOOTER-->
                        <!--====================================================================-->
                        <div class="card-footer pt-10">
                            <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                            <div class="gap-items-2 float-md-right">
                                <label class="fs-14 text-lighter mr-2">
                                    <i class="fa fa-comment fs-16"></i> 25
                                </label>
                                <div class="content-heart">
                                    <div class="heart"></div>
                                    <span class="fs-14 text-lighter">25</span>
                                </div>
                            </div>
                        </div>
                        <!--FIN CARD FOOTER-->
                        <!--====================================================================-->


                    </div>


                    <div id="CardReconocimiento" class="card rounded">

                        <!--INICIO CARD HEAD-->
                        <!--====================================================================-->
                        <div class="media p-10">
                            <div id="Usuario">
                                <span class="avatar avatar-lg bg-terciario">
                                    <a class="align-self-center img-hov-fadein" href="#">
                                        <img class="avatar avatar-md" src="/assets/img/avatar/5.jpg" alt="...">
                                    </a>
                                </span>
                            </div>

                            <div class="media-body">
                                <div id="UsuarioReconocido">
                                    <a href="#">
                                        <h5 class="hover-terciario mb-0">Margarita Villareal</h5>
                                    </a>
                                    <small class="fs-11 text-light">Reconoció a:</small>
                                    <span class="avatar avatar-xxs bg-terciario">
                                        <a class="align-self-center img-hov-fadein" href="#">
                                            <img class="avatar avatar-xxs" src="/assets/img/avatar/1.jpg" alt="...">
                                        </a>
                                    </span>
                                    <small class="fs-11 text-light">Gregorio Quintero</small>
                                </div>
                                <small class="text-yellow fs-12 m-0">Servicio Sorprendente</small>
                            </div>
                        </div>
                        <!--FIN CARD HEAD-->
                        <!--====================================================================-->

                        <!--INICIO CARD MEDIA-->
                        <!--====================================================================-->
                        <div class="bg-light img-perfil-dest center-vh">
                            <img class="img-back-perfil" src="/assets/img/gallery/bg-reconocimiento.png">
                            <div id="demo-basic" class="demo-basic align-self-center" href="#">
                                <img class="avatar avatar-xxl avatar-bordered mb-1" src="/assets/img/avatar/6.jpg"
                                    alt="...">
                                <a class="d-block w-100" href="#">
                                    <h4 class="text-white hover-terciario mb-0">Margarita Villareal</h4>
                                </a>
                                <small class="td-block w-100 text-yellow fs-12 m-0">Servicio Sorprendente</small>
                            </div>
                            <span id="IcoReco" class="avatar avatar-lg avatar-bordered bg-primary"><i
                                    class="fa fa-star center-vh"></i></span>
                        </div>
                        <!--FIN CARD MEDIA-->
                        <!--====================================================================-->

                        <!--INICIO CARD CONTENT-->
                        <!--====================================================================-->
                        <div class="InsideContent">
                            <div class="d-inline-block w-100 px-3 py-2">
                                <small class="text-info">a ti y a otras 75 personas le gusta esto</small>
                            </div>
                            <hr class="hr-sm m-0 w-100">
                            <div class="res-min px-3 py-2">
                                <p class="m-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                    enim ad
                                    minim
                                    veniam, quis nostrud exercitation ullamco. Sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>
                        <!--FIN CARD CONTENT-->
                        <!--====================================================================-->

                        <!--INICIO CARD FOOTER-->
                        <!--====================================================================-->
                        <div class="card-footer pt-10">
                            <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                            <div class="gap-items-2 float-md-right">
                                <label class="fs-14 text-lighter mr-2">
                                    <i class="fa fa-comment fs-16"></i> 25
                                </label>
                                <div class="content-heart">
                                    <div class="heart"></div>
                                    <span class="fs-14 text-lighter">25</span>
                                </div>
                            </div>
                        </div>
                        <!--FIN CARD FOOTER-->
                        <!--====================================================================-->


                    </div>


                    <div id="CardNoticias" class="card rounded">

                        <!--INICIO CARD HEAD-->
                        <!--====================================================================-->
                        <div class="media p-10 mb-2">
                            <div id="Usuario">
                                <span class="avatar avatar-lg bg-terciario">
                                    <a class="align-self-center img-hov-fadein" href="#">
                                        <img class="avatar avatar-md" src="/assets/img/avatar/5.jpg" alt="...">
                                    </a>
                                </span>
                            </div>

                            <div class="media-body">
                                <div id="UsuarioNoticias">
                                    <a href="#">
                                        <h5 class="hover-terciario mb-0">Mi Mundo Alsea</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--FIN CARD HEAD-->
                        <!--====================================================================-->

                        <!--INICIO CARD MEDIA-->
                        <!--====================================================================-->

                        <div class="MediaContent">

                            <div class="gallery"></div>

                            <div class="img"><img src="/assets/img/gallery/thumb/9.jpg" alt="..."></div>

                            <div class="video"></div>
                            <span id="IcoReco" class="avatar avatar-lg avatar-bordered bg-primary"><i
                                    class="fa fa-star center-vh"></i></span>

                        </div>
                        <!--FIN CARD MEDIA-->
                        <!--====================================================================-->

                        <!--INICIO CARD CONTENT-->
                        <!--====================================================================-->
                        <div class="InsideContent">
                            <div class="d-inline-block w-100 px-3 py-2">
                                <small class="text-info">a ti y a otras 75 personas le gusta esto</small>
                            </div>
                            <hr class="hr-sm m-0 w-100">
                            <div class="res-min px-3 py-2">
                                <p class="m-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                    enim ad
                                    minim
                                    veniam, quis nostrud exercitation ullamco. Sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>
                        <!--FIN CARD CONTENT-->
                        <!--====================================================================-->

                        <!--INICIO CARD FOOTER-->
                        <!--====================================================================-->
                        <div class="card-footer pt-10">
                            <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                            <div class="gap-items-2 float-md-right">
                                <label class="fs-14 text-lighter mr-2">
                                    <i class="fa fa-comment fs-16"></i> 25
                                </label>
                                <div class="content-heart">
                                    <div class="heart"></div>
                                    <span class="fs-14 text-lighter">25</span>
                                </div>
                            </div>
                        </div>
                        <!--FIN CARD FOOTER-->
                        <!--====================================================================-->


                    </div>


                    <div id="CardPublicador" class="card ultimo rounded">
                        <!--INICIO CARD HEAD-->
                        <!--====================================================================-->
                        <div class="media p-10 mb-2">
                            <div id="Usuario">
                                <span class="avatar avatar-lg bg-terciario">
                                    <a class="align-self-center img-hov-fadein" href="#">
                                        <img class="avatar avatar-md" src="/assets/img/avatar/5.jpg" alt="...">
                                    </a>
                                </span>
                            </div>

                            <div class="media-body">
                                <div id="UsuarioNoticias">
                                    <a href="#">
                                        <h5 class="hover-terciario mb-0">Margarita Villareal</h5>
                                    </a>
                                    <small class="text-yellow fs-12 m-0">Servicio Sorprendente</small>
                                </div>
                            </div>
                        </div>
                        <!--FIN CARD HEAD-->
                        <!--====================================================================-->

                        <!--INICIO CARD MEDIA-->
                        <!--====================================================================-->

                        <div class="MediaContent">

                            <div class="gallery"></div>

                            <div class="img"><img src="/assets/img/gallery/thumb/9.jpg" alt="..."></div>

                            <div class="video"></div>

                        </div>
                        <!--FIN CARD MEDIA-->
                        <!--====================================================================-->

                        <!--INICIO CARD CONTENT-->
                        <!--====================================================================-->
                        <div class="InsideContent">
                            <div class="d-inline-block w-100 px-3 py-2">
                                <small class="text-info">a ti y a otras 75 personas le gusta esto</small>
                            </div>
                            <hr class="hr-sm m-0 w-100">
                            <div class="res-min px-3 py-2">
                                <p class="m-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                    enim ad
                                    minim
                                    veniam, quis nostrud exercitation ullamco. Sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>
                        <!--FIN CARD CONTENT-->
                        <!--====================================================================-->

                        <!--INICIO CARD FOOTER-->
                        <!--====================================================================-->
                        <div class="card-footer pt-10">
                            <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                            <div class="gap-items-2 float-md-right">
                                <label class="fs-14 text-lighter mr-2">
                                    <i class="fa fa-comment fs-16"></i> 25
                                </label>
                                <div class="content-heart">
                                    <div class="heart"></div>
                                    <span class="fs-14 text-lighter">25</span>
                                </div>
                            </div>
                        </div>
                        <!--FIN CARD FOOTER-->
                        <!--====================================================================-->


                    </div>

                </div>
                <div class="text-center bt-1 border-light p-2">
                    <a class="text-uppercase d-block fs-10 fw-500 ls-1" href="#Feed" data-ancla="Feed">volver arriba
                        <i class="ti-arrow-up"></i></a>
                </div>
                <!--====================================================-->
            </div>
            <!--End Card Comentario Feed-->
        </div>



        <div class="modal fade" id="Comtarfeed" tabindex="-1" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Publicar Contenido</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body form-type-round"">

                         <div class=" form-group">
                        <label for="input-normal">Cuentanos</label>
                        <input type="text" class="form-control" id="input-normal" value="Input value">
                    </div>

                    <div class="form-group form-type-round file-group">
                        <label for="input-normal">Sube tu foto</label>
                        <input type="text" class="form-control file-value file-browser" placeholder="Subir imagen..."
                            readonly="">
                        <input type="file" multiple="">
                    </div>

                    <div class="form-group">
                        <label for="input-normal">Link Video</label>
                        <input type="text" class="form-control" id="input-normal" value="Input value">
                    </div>

                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-bold btn-pure btn-secondary"
                        data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-bold btn-pure  text-white bg-terciario">Save
                        changes</button>
                </div>
            </div>
        </div>
    </div>

    <!--Card Noticias Home-->
    <div id="News" class="NewsContent">
        <div class="NewsComponent card">


            <div id="TitIcoCard">
                <h4 class="card-title text-right"><span class="avatar avatar-lg avatar-bordered bg-primary">
                        <i class="fa fa-newspaper-o center-vh"></i></span> Comunicado Noticias</h4>
            </div>

            <!--Init Slider Gallery-->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <span class="badge badge-pill badge-dark w-40px">1 / 3</span>
                        <img src="/assets/img/gallery/thumb/1.jpg" alt="...">
                    </div>
                    <div class="carousel-item">
                        <span class="badge badge-pill badge-dark w-40px">2 / 3</span>
                        <img src="/assets/img/gallery/thumb/12.jpg" alt="...">
                    </div>
                    <div class="carousel-item">
                        <span class="badge badge-pill badge-dark w-40px">3 / 3</span>
                        <img src="/assets/img/gallery/thumb/3.jpg" alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!--End Slider Gallery-->

            <!--Init Content Card-->
            <div class="card-body py-2">
                <h4><a class="hover-terciario" href="/pages/comunicado/noticias-detalle.html">Revisa esta Noticia
                        destacada para el Home con galería</a></h4>
                <a href="/pages/comunicado/noticias-detalle.html">
                    <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco...</p>
                </a>
                <div id="CardFooter">

                </div>
            </div>
            <!--End Content Card-->

        </div>
    </div>
    <!--End Card Noticias Home-->


</div>
<!-- End Content Right -->
</div>
<!-- Scripts -->

<script type="text/javascript">
    // Initialize the plugin
    $(document).ready(function () {
        // Scrollable
        //
        $('.media-list, #FeedContent').perfectScrollbar();

        // Initialize the Heart click explose
        $(".heart").on('click touchstart', function () {
            $(this).toggleClass('is_animating');
        });

        $("#CardFooter").load('../home/component/card-footer.html');


        $(".carousel").swipe({
            swipe: function (event, direction, distance, duration, fingerCount, fingerData) {
                if (direction == 'left') $(this).carousel('next');
                if (direction == 'right') $(this).carousel('prev');
            },
            allowPageScroll: "vertical"
        });


    });
</script>
