<div class="container mb-4 homeIntranet">
    <div class="row">
        <div class="col-md-8">
            <h2 class="home">Lo que tienes que saber</h2>
        </div>
        <div class="col-md-4">
            <input type="search" class="searchHome float-right" value="Busca Personas..." />
        </div>
    </div>
</div>
<div class="container">
    <div class="row mb-4">
        <div class="col-lg-3">
            <div class="card intraNetCard">
                <ul class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                        <small>Mi Intra</small>
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Estudiantes</h5>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <small>Mi Intra</small>
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Colaboradores</h5>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <small>Mi Intra</small>
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Académicos</h5>
                        </div>
                    </a>
                </ul>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="carousel slide" id="carousel-4" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://www.fillmurray.com/780/360" alt="...">
                        <div class="carousel-caption UmayorHome d-none d-md-block">
                            <h3>Científicos U. Mayor integran
                                equipo que entregó propuesta
                                nacional para prevenir las
                                demencias</h3>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://www.fillmurray.com/g/780/360" alt="...">
                        <div class="carousel-caption UmayorHome d-none d-md-block">
                            <h3>Científicos U. Mayor integran
                                equipo que entregó propuesta
                                nacional para prevenir las
                                demencias</h3>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://www.fillmurray.com/780/360" alt="...">
                        <div class="carousel-caption UmayorHome d-none d-md-block">
                            <h3>Científicos U. Mayor integran
                                equipo que entregó propuesta
                                nacional para prevenir las
                                demencias</h3>
                        </div>
                    </div>
                </div>

                <ol class="carousel-indicators">
                    <li data-target="#carousel-4" data-slide-to="0" class=""></li>
                    <li data-target="#carousel-4" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-4" data-slide-to="2" class="active"></li>
                </ol>
            </div>
        </div>
    </div>

    <div class="row MB-4">
        <h2 class="home ml-3">Accesos</h2>
        <div class="col-md-12 pr-5 pl-5 pb-3">
            <!--Card Noticias Home-->
            <div id="SliderAccesos" class="Home">
                <div class="accesosComponet">

                    <!--Init Slider Gallery-->

                    <!--Carousel Wrapper-->
                    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

                        <!--Slides-->
                        <div class="carousel-inner" role="listbox">

                            <!--First slide-->
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-4 col-4">
                                        <div class="card mb-2">
                                            <a class="btn btn-primary">Button</a>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-4">
                                        <div class="card mb-2">
                                            <a class="btn btn-primary">Button</a>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-4">
                                        <div class="card mb-2">
                                            <a class="btn btn-primary">Button</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--/.First slide-->

                            <!--Second slide-->
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-4 col-4">
                                        <div class="card mb-2">
                                            <a class="btn btn-primary">Button</a>
                                        </div>
                                    </div>


                                    <div class="col-md-4 col-4">
                                        <div class="card mb-2">
                                            <a class="btn btn-primary">Button</a>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-4">
                                        <div class="card mb-2">
                                            <a class="btn btn-primary">Button</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/.Second slide-->

                            <!--Third slide-->
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-4 col-4">
                                        <div class="card mb-2">
                                            <a class="btn btn-primary">Button</a>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-4">
                                        <div class="card mb-2">
                                            <a class="btn btn-primary">Button</a>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-4">
                                        <div class="card mb-2">
                                            <a class="btn btn-primary">Button</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/.Third slide-->

                        </div>

                        <!--Controls-->
                        <div class="controls-top">
                            <a class="carousel-control-prev" href="#multi-item-example" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#multi-item-example" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <!--/.Controls-->

                        <!--/.Slides-->

                    </div>
                    <!--/.Carousel Wrapper-->

                    <!--End Slider Gallery-->
                </div>
            </div>
            <!--End Card Noticias Home-->

        </div>

    </div>
</div>
<div class="container">
    <h2 class="home mt-3">Cartelera U. Mayor</h2>
    <div class="row">
        <div class="col-lg-8">

            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="row m-0">
                            <div class="media-left fechaHora">
                                <div class="fw-900">
                                    <span>25</span>
                                    <span>JUN.</span>
                                    <span>12:00</span>
                                </div>
                            </div>
                            <div class="p-2 media-body detalleCartelera">
                                <h5>Concierto Educativo:
                                    Banda Índigo Carmesí</h5>
                                <p class="py-3">Organiza: Pedagogía en Artes Musicales Básicas y Media, U. Mayor
                                    Lugar: Centro Cultural Gabriela Mistral (GAM).</p>
                                <a href="#;" class="hover-primary mb-10">Más Información aquí</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="row m-0">
                            <div class="media-left fechaHora">
                                <div class="fw-900">
                                    <span>25</span>
                                    <span>JUN.</span>
                                    <span>12:00</span>
                                </div>
                            </div>
                            <div class="p-2 media-body detalleCartelera">
                                <h5>Concierto Educativo:
                                    Banda Índigo Carmesí</h5>
                                <p class="py-3">Organiza: Pedagogía en Artes Musicales Básicas y Media, U. Mayor
                                    Lugar: Centro Cultural Gabriela Mistral (GAM).</p>
                                <a href="#;" class="hover-primary mb-10">Más Información aquí</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="row m-0">
                            <div class="media-left fechaHora">
                                <div class="fw-900">
                                    <span>25</span>
                                    <span>JUN.</span>
                                    <span>12:00</span>
                                </div>
                            </div>
                            <div class="p-2 media-body detalleCartelera">
                                <h5>Concierto Educativo:
                                    Banda Índigo Carmesí</h5>
                                <p class="py-3">Organiza: Pedagogía en Artes Musicales Básicas y Media, U. Mayor
                                    Lugar: Centro Cultural Gabriela Mistral (GAM).</p>
                                <a href="#;" class="hover-primary mb-10">Más Información aquí</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="home">Noticias Diario Mayor</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="bg-img br-4 rounded content-object-fit">
                            <img class="bg-img-img img-object-fit" src="/assets/img/gallery/18.jpg">
                        </div>
                        <div class="card-body">
                            <p>
                                <a class="hover-terciario" href="#;">¿Qué es lo justo? Conversatorio de la Facultad de
                                    Humanidades debatió en torno a la justicia social y la meritocracia</a>
                            </p>
                            <a class="hover-primary mb-10" href="#;">Publicado: Lunes, 01 Julio 2019 08:39</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="row m-0">
                            <div class="card-body">
                                <p><a class="hover-terciario" href="#;">“Cátedra del Futuro” abordó cómo los avances en
                                        Genómica son una oportunidad para mejorar nuestra salud.</a></p>
                                <a class="hover-primary mb-10" href="#;">Publicado: Miércoles, 26 Junio 2019 18:32</a>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="row m-0">
                            <div class="card-body">
                                <p><a class="hover-terciario" href="#;">Científicos U. Mayor integran equipo que entregó
                                        propuesta nacional para prevenir las demencias</a></p>
                                <a class="hover-primary mb-10" href="#;">Publicado: Lunes, 24 Junio 2019 12:04</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-sm-6 col-md-12">
                    <div id="feedInstagram" class="mb-4">
                    </div>
                </div>
                <div class="col-sm-6 col-md-12">
                    <div class="encuesta card-body shadow-sm p-3 mb-4 bg-white rounded">
                        <h6 class="mb-2" ">Encuesta de la Semana</h6>
                            <p>¿Un tipo o Dos Tipos?</p>
                            <div class=" custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                class=".custom-control-input">
                            <label class="custom-control-label mt-2" for="customRadioInline1">Un Tipo</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="customRadioInline1"
                            class=".custom-control-input">
                        <label class="custom-control-label mt-2" for="customRadioInline2">Dos Tipos</label>
                    </div>
                    <div>
                        <button class="btn btn-primary mt-3">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    $(document).ready(function () {

        $("#feedInstagram").load('../home/component/component-feed.html');

    });
</script>