<!--Init Slider Gallery-->
<div class="swiper-container swiper-pagination-outside swiper-container-horizontal" data-provide="swiper">
    <div class="swiper-wrapper no-gutters" data-provide="photoswipe">
        <div class="swiper-slide">
            <span class="badge badge-pill badge-dark w-40px">1 / 4</span>
            <img class="cursor-pointer" src="/assets/img/gallery/1.jpg" alt="...">
        </div>

        <div class="swiper-slide">
            <span class="badge badge-pill badge-dark w-40px">2 / 4</span>
            <img class="cursor-pointer" src="/assets/img/gallery/2.jpg" alt="...">
        </div>

        <div class="swiper-slide">
            <span class="badge badge-pill badge-dark w-40px">3 / 4</span>
            <img class="cursor-pointer" src="/assets/img/gallery/3.jpg" alt="...">
        </div>

        <div class="swiper-slide">
            <span class="badge badge-pill badge-dark w-40px">4 / 4</span>
            <img class="cursor-pointer" src="/assets/img/gallery/4.jpg" alt="...">
        </div>
    </div>

    <!--Init paginador slider-->

    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
        <span class="swiper-pagination-bullet"></span>
    </div>
    <!--End paginador slider-->

</div>
<!--End Slider Gallery-->