<!--Init Slider Gallery-->
<div class="swiper-container swiper-pagination-outside swiper-container-horizontal" data-provide="swiper">
    <div class="swiper-wrapper no-gutters" data-provide="photoswipe">
        <div class="swiper-slide">
            <img class="cursor-pointer" src="/assets/img/gallery/1.jpg" alt="...">
        </div>

        <div class="swiper-slide">
            <img class="cursor-pointer" src="/assets/img/gallery/2.jpg" alt="...">
        </div>

        <div class="swiper-slide">
            <img class="cursor-pointer" src="/assets/img/gallery/3.jpg" alt="...">
        </div>

        <div class="swiper-slide">
            <img class="cursor-pointer" src="/assets/img/gallery/4.jpg" alt="...">
        </div>
    </div>


    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
    </div>

</div>
<!--End Slider Gallery-->