<!--Card Noticias Home-->
<div id="News" class="NewsContent">
    <div class="NewsComponent card">


        <div id="TitIcoCard">
            <h4 class="card-title text-right"><span class="avatar avatar-lg avatar-bordered bg-primary">
                    <i class="fa fa-newspaper-o center-vh"></i></span> Comunicado Noticias</h4>
        </div>

        <!--Init Slider Gallery-->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <span class="badge badge-pill badge-dark w-40px">1 / 3</span>
                    <img src="/assets/img/gallery/thumb/1.jpg" alt="...">
                </div>
                <div class="carousel-item">
                    <span class="badge badge-pill badge-dark w-40px">2 / 3</span>
                    <img src="/assets/img/gallery/thumb/12.jpg" alt="...">
                </div>
                <div class="carousel-item">
                    <span class="badge badge-pill badge-dark w-40px">3 / 3</span>
                    <img src="/assets/img/gallery/thumb/3.jpg" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!--End Slider Gallery-->

        <!--Init Content Card-->
        <div class="card-body py-2">
            <h4><a class="hover-terciario" href="/pages/comunicado/noticias-detalle.html">Revisa esta Noticia
                    destacada para el Home con galería</a></h4>
            <a href="/pages/comunicado/noticias-detalle.html">
                <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco...</p>
            </a>
            <div id="CardFooter">

            </div>
        </div>
        <!--End Content Card-->

    </div>
</div>
<!--End Card Noticias Home-->



<!-- Scripts -->
<script type="text/javascript">
    // Initialize the plugin
    $(document).ready(function () {
        // Scrollable
        //
        $('.media-list, #FeedContent').perfectScrollbar();

        // Initialize the Heart click explose
        $(".heart").on('click touchstart', function () {
            $(this).toggleClass('is_animating');
        });

        $("#CardFooter").load('../home/component/card-footer.html');


        $(".carousel").swipe({
            swipe: function (event, direction, distance, duration, fingerCount, fingerData) {
                if (direction == 'left') $(this).carousel('next');
                if (direction == 'right') $(this).carousel('prev');
            },
            allowPageScroll: "vertical"
        });

    });
</script>