#Feed {
	.header-feed {
		border-top-left-radius: 4px!important;
		border-top-right-radius: 4px!important;
		overflow: hidden;
	}
	#CrearContenido{
		position: absolute;
		top: 2rem;
		right: .4rem;
		z-index:$zindex-toast ;	
}
	#FeedContent {
		background-color: $gray-400;
		height: 125.3vh;
	}
	@media (max-width: 1440px){
		#FeedContent{
		  height: 149.2vh !important;
		}
	  }
	//-----------------------------------------------------------------
	// Card Feed Reconocimientos
	//
		#UsuarioReconocido {
			a {
				vertical-align: top;
			}
			span {
				margin-top: 3px;
			}
			.avatar-xxs {
				width: 17px!important;
				height: 17px!important;
				vertical-align: top;
			}
		}
	.MediaContent {
        position: relative;
		display: flex;
		flex-wrap: wrap;
		margin: -1rem 0rem;
		.img {
			position: relative;
			margin: .3rem 0 .8rem;
			max-height: 210px;
			color: #fff;
			object-fit: contain;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
        }
        #IcoReco {
			position: absolute;
			bottom: 1.3rem;
			right: 1rem;
		}
	}
	.img-perfil-dest {
		height: 190px;
		width: 100%;
		position: relative;
		text-align: center;
		.img-back-perfil {
			object-fit: cover;
			object-position: center;
			max-height: 100%;
			width: 100%;
		}
		.demo-basic {
			position: absolute;
			top: 1.3rem;
		}
		#IcoReco {
			position: absolute;
			bottom: 1.3rem;
			right: 1rem;
		}
	}
}