<div id="documentos-container">
    <div class="">
        <div class="card w-100">
            <h4 class="card-title">Buscador de documentos</h4>
            <div class="card-body">
                <div id="SearchTopBarDocumentosPrime" class="form-group m-0">
                    <div class="lookup w-100">
                        <input id="SearchTopBarClick" type="text" placeholder="Buscar..." name="Buscador"
                            onkeypress="validar(event)" class="w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">

        <div class="card">
            <div class="card-body row">

                <div class="col-md-4 mb-3">
                    <div class="card m-0 border">

                        <div class="card-body">
                            <div class="row">

                                <div class="col-2 px-3 text-center"><span class="text-center">
                                        <a class="fa fa-file-text-o fs-40 text-center"></a>
                                    </span>
                                </div>
                                <div class="col-10 px-3 pl-0 ">

                                    <div class="">
                                        <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio
                                                (100%)</a></h6>
                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. </p>
                                        <a href="#">
                                            <h6 class=" pt-2 m-0 text-right pr-3"><strong><span class="fa fa-download"></span> Descargar</strong>
                                            </h6>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 mb-3">
                    <div class="card m-0 border">

                        <div class="card-body">
                            <div class="row">

                                <div class="col-2 px-3 text-center"><span class="text-center">
                                        <a class="fa fa-file-text-o fs-40 text-center"></a>
                                    </span>
                                </div>
                                <div class="col-10 px-3 pl-0 ">

                                    <div class="">
                                        <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio
                                                (100%)</a></h6>
                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. </p>
                                        <a href="#">
                                            <h6 class=" pt-2 m-0 text-right pr-3"><strong><span class="fa fa-download"></span> Descargar</strong>
                                            </h6>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 mb-3">
                    <div class="card m-0 border">

                        <div class="card-body">
                            <div class="row">

                                <div class="col-2 px-3 text-center"><span class="text-center">
                                        <a class="fa fa-file-text-o fs-40 text-center"></a>
                                    </span>
                                </div>
                                <div class="col-10 px-3 pl-0 ">

                                    <div class="">
                                        <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio
                                                (100%)</a></h6>
                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. </p>
                                        <a href="#">
                                            <h6 class=" pt-2 m-0 text-right pr-3"><strong><span class="fa fa-download"></span> Descargar</strong>
                                            </h6>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 mb-3">
                    <div class="card m-0 border">

                        <div class="card-body">
                            <div class="row">

                                <div class="col-2 px-3 text-center"><span class="text-center">
                                        <a class="fa fa-file-text-o fs-40 text-center"></a>
                                    </span>
                                </div>
                                <div class="col-10 px-3 pl-0 ">

                                    <div class="">
                                        <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio
                                                (100%)</a></h6>
                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. </p>
                                        <a href="#">
                                            <h6 class=" pt-2 m-0 text-right pr-3"><strong><span class="fa fa-download"></span> Descargar</strong>
                                            </h6>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 mb-3">
                    <div class="card m-0 border">

                        <div class="card-body">
                            <div class="row">

                                <div class="col-2 px-3 text-center"><span class="text-center">
                                        <a class="fa fa-file-text-o fs-40 text-center"></a>
                                    </span>
                                </div>
                                <div class="col-10 px-3 pl-0 ">

                                    <div class="">
                                        <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio
                                                (100%)</a></h6>
                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. </p>
                                        <a href="#">
                                            <h6 class=" pt-2 m-0 text-right pr-3"><strong><span class="fa fa-download"></span> Descargar</strong>
                                            </h6>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 mb-3">
                    <div class="card m-0 border">

                        <div class="card-body">
                            <div class="row">

                                <div class="col-2 px-3 text-center"><span class="text-center">
                                        <a class="fa fa-file-text-o fs-40 text-center"></a>
                                    </span>
                                </div>
                                <div class="col-10 px-3 pl-0 ">

                                    <div class="">
                                        <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio
                                                (100%)</a></h6>
                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. </p>
                                        <a href="#">
                                            <h6 class=" pt-2 m-0 text-right pr-3"><strong><span class="fa fa-download"></span> Descargar</strong>
                                            </h6>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 mb-3">
                    <div class="card m-0 border">

                        <div class="card-body">
                            <div class="row">

                                <div class="col-2 px-3 text-center"><span class="text-center">
                                        <a class="fa fa-file-text-o fs-40 text-center"></a>
                                    </span>
                                </div>
                                <div class="col-10 px-3 pl-0 ">

                                    <div class="">
                                        <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio
                                                (100%)</a></h6>
                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. </p>
                                        <a href="#">
                                            <h6 class=" pt-2 m-0 text-right pr-3"><strong><span class="fa fa-download"></span> Descargar</strong>
                                            </h6>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 mb-3">
                    <div class="card m-0 border">

                        <div class="card-body">
                            <div class="row">

                                <div class="col-2 px-3 text-center"><span class="text-center">
                                        <a class="fa fa-file-text-o fs-40 text-center"></a>
                                    </span>
                                </div>
                                <div class="col-10 px-3 pl-0 ">

                                    <div class="">
                                        <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio
                                                (100%)</a></h6>
                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. </p>
                                        <a href="#">
                                            <h6 class=" pt-2 m-0 text-right pr-3"><strong><span class="fa fa-download"></span> Descargar</strong>
                                            </h6>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 mb-3">
                    <div class="card m-0 border">

                        <div class="card-body">
                            <div class="row">

                                <div class="col-2 px-3 text-center"><span class="text-center">
                                        <a class="fa fa-file-text-o fs-40 text-center"></a>
                                    </span>
                                </div>
                                <div class="col-10 px-3 pl-0 ">

                                    <div class="">
                                        <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio
                                                (100%)</a></h6>
                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. </p>
                                        <a href="#">
                                            <h6 class=" pt-2 m-0 text-right pr-3"><strong><span class="fa fa-download"></span> Descargar</strong>
                                            </h6>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <!--Paginador-->
            <div class="row py-4">
                <div class="container center-vh">
                    <nav>
                        <ul class="pagination pagination-circle">
                            <li class="page-item disabled">
                                <a class="page-link" href="#"> <span class="ti-arrow-left"></span> </a>
                            </li>
                            <li class="page-item active"> <a class="page-link" href="#">1</a> </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"> <span class="ti-arrow-right"></span> </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</div>
