<div id="documentos-container">
    <div class="">
        <h2>Reclutamiento Tesistas</h2>
        <div class="card">
            <div class="card-body row">

                <div class="col-md-4 mb-3">
                    <div class="card m-0 border">

                        <div class="card-body">
                            <div class="row">

                                <div class="col-2 px-3 text-center"><span class="text-center">
                                        <a class="fa fa-star fs-40 text-center"></a>
                                    </span>
                                </div>
                                <div class="col-10 px-3 pl-0 ">

                                    <div class="">
                                        <h6 class="mb-1"><a class="hover-primary" href="#" data-toggle="modal"
                                                data-target="#modal-center">Card detalle beneficio
                                                (100%)</a></h6>
                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. </p>
                                        <a href="#">
                                            <h6 class=" pt-2 m-0 pr-3"><strong>20-08-2019</strong>
                                            </h6>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 mb-3">
                    <div class="card m-0 border">

                        <div class="card-body">
                            <div class="row">

                                <div class="col-2 px-3 text-center"><span class="text-center">
                                        <a class="fa fa-star fs-40 text-center"></a>
                                    </span>
                                </div>
                                <div class="col-10 px-3 pl-0 ">

                                    <div class="">
                                        <h6 class="mb-1"><a class="hover-primary" href="#" data-toggle="modal"
                                                data-target="#modal-center">Card detalle beneficio
                                                (100%)</a></h6>
                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. </p>
                                        <a href="#">
                                            <h6 class=" pt-2 m-0 pr-3"><strong>20-08-2019</strong>
                                            </h6>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 mb-3">
                    <div class="card m-0 border">

                        <div class="card-body">
                            <div class="row">

                                <div class="col-2 px-3 text-center"><span class="text-center">
                                        <a class="fa fa-star fs-40 text-center"></a>
                                    </span>
                                </div>
                                <div class="col-10 px-3 pl-0 ">

                                    <div class="">
                                        <h6 class="mb-1"><a class="hover-primary" href="#" data-toggle="modal"
                                                data-target="#modal-center">Card detalle beneficio
                                                (100%)</a></h6>
                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. </p>
                                        <a href="#">
                                            <h6 class=" pt-2 m-0 pr-3"><strong>20-08-2019</strong>
                                            </h6>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 mb-3">
                    <div class="card m-0 border">

                        <div class="card-body">
                            <div class="row">

                                <div class="col-2 px-3 text-center"><span class="text-center">
                                        <a class="fa fa-star fs-40 text-center"></a>
                                    </span>
                                </div>
                                <div class="col-10 px-3 pl-0 ">

                                    <div class="">
                                        <h6 class="mb-1"><a class="hover-primary" href="#" data-toggle="modal"
                                                data-target="#modal-center">Card detalle beneficio
                                                (100%)</a></h6>
                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. </p>
                                        <a href="#">
                                            <h6 class=" pt-2 m-0 pr-3"><strong>20-08-2019</strong>
                                            </h6>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 mb-3">
                    <div class="card m-0 border">

                        <div class="card-body">
                            <div class="row">

                                <div class="col-2 px-3 text-center"><span class="text-center">
                                        <a class="fa fa-star fs-40 text-center"></a>
                                    </span>
                                </div>
                                <div class="col-10 px-3 pl-0 ">

                                    <div class="">
                                        <h6 class="mb-1"><a class="hover-primary" href="#" data-toggle="modal"
                                                data-target="#modal-center">Card detalle beneficio
                                                (100%)</a></h6>
                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. </p>
                                        <a href="#">
                                            <h6 class=" pt-2 m-0 pr-3"><strong>20-08-2019</strong>
                                            </h6>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 mb-3">
                    <div class="card m-0 border">

                        <div class="card-body">
                            <div class="row">

                                <div class="col-2 px-3 text-center"><span class="text-center">
                                        <a class="fa fa-star fs-40 text-center"></a>
                                    </span>
                                </div>
                                <div class="col-10 px-3 pl-0 ">

                                    <div class="">
                                        <h6 class="mb-1"><a class="hover-primary" href="#" data-toggle="modal"
                                                data-target="#modal-center">Card detalle beneficio
                                                (100%)</a></h6>
                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. </p>
                                        <a href="#">
                                            <h6 class=" pt-2 m-0 pr-3"><strong>20-08-2019</strong>
                                            </h6>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 mb-3">
                    <div class="card m-0 border">

                        <div class="card-body">
                            <div class="row">

                                <div class="col-2 px-3 text-center"><span class="text-center">
                                        <a class="fa fa-star fs-40 text-center"></a>
                                    </span>
                                </div>
                                <div class="col-10 px-3 pl-0 ">

                                    <div class="">
                                        <h6 class="mb-1"><a class="hover-primary" href="#" data-toggle="modal"
                                                data-target="#modal-center">Card detalle beneficio
                                                (100%)</a></h6>
                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. </p>
                                        <a href="#">
                                            <h6 class=" pt-2 m-0 pr-3"><strong>20-08-2019</strong>
                                            </h6>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 mb-3">
                    <div class="card m-0 border">

                        <div class="card-body">
                            <div class="row">

                                <div class="col-2 px-3 text-center"><span class="text-center">
                                        <a class="fa fa-star fs-40 text-center"></a>
                                    </span>
                                </div>
                                <div class="col-10 px-3 pl-0 ">

                                    <div class="">
                                        <h6 class="mb-1"><a class="hover-primary" href="#" data-toggle="modal"
                                                data-target="#modal-center">Card detalle beneficio
                                                (100%)</a></h6>
                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. </p>
                                        <a href="#">
                                            <h6 class=" pt-2 m-0 pr-3"><strong>20-08-2019</strong>
                                            </h6>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 mb-3">
                    <div class="card m-0 border">

                        <div class="card-body">
                            <div class="row">

                                <div class="col-2 px-3 text-center"><span class="text-center">
                                        <a class="fa fa-star fs-40 text-center"></a>
                                    </span>
                                </div>
                                <div class="col-10 px-3 pl-0 ">

                                    <div class="">
                                        <h6 class="mb-1"><a class="hover-primary" href="#" data-toggle="modal"
                                                data-target="#modal-center">Card detalle beneficio
                                                (100%)</a></h6>
                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. </p>
                                        <a href="#">
                                            <h6 class=" pt-2 m-0 pr-3"><strong>20-08-2019</strong>
                                            </h6>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <!--Paginador-->
            <div class="row py-4">
                <div class="container center-vh">
                    <nav>
                        <ul class="pagination pagination-circle">
                            <li class="page-item disabled">
                                <a class="page-link" href="#"> <span class="ti-arrow-left"></span> </a>
                            </li>
                            <li class="page-item active"> <a class="page-link" href="#">1</a> </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"> <span class="ti-arrow-right"></span> </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade fade bd-example-modal-lg" id="modal-center" tabindex="-1" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Solicitud de Tesistas</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-times-circle"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Titulo</label>
                    <input type="email" class="form-control" id="" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Descripción de la Investigación</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Competencias</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Requisitos</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Mail</label>
                    <input type="email" class="form-control" id="" aria-describedby="emailHelp">
                </div>
                <button type="submit" class="btn btn-primary rounded float-right">Ingresar</button>
            </div>

        </div>
    </div>
</div>