<div class="row">

    <div class="col-md-12">
        <h2>Documentos</h2>
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Dirección</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Unidad Organizativa</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Tipo Documento</label>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-row">
                            <div class="form-group col-md-9">
                                <label>Dirección</label>
                                <input class="form-control" type="text">
                            </div>
                            <div class="form-group col-md-3">
                                <input class="btn btn-primary searchForm" type="button" value="Buscar">
                            </div>
                        </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <th class="d-none d-sm-none d-md-block">Unidad Organizativa</th>
                            <th>Nombre Documento</th>
                            <th class="d-none d-sm-none d-md-block">Tipo Documento</th>
                            <th><span class="center-vh">Descargar</span></th>
                        </thead>
                        <tbody>
                            <tr class="bg-pale-secondary">
                                <td class="d-none d-sm-none d-md-block">Departamento</td>
                                <td>Lorem ipsum dolor sit amet</td>
                                <td class="d-none d-sm-none d-md-block">Flujo</td>
                                <td>
                                    <a class="center-vh linkDownload" data-toggle="modal" data-target="#modal-center"
                                        href="#">
                                        <span class="fa fa-download"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="d-none d-sm-none d-md-block">Departamento</td>
                                <td>Lorem ipsum dolor sit amet</td>
                                <td class="d-none d-sm-none d-md-block">Flujo</td>
                                <td>
                                    <a class="center-vh linkDownload" data-toggle="modal" data-target="#modal-center"
                                        href="#">
                                        <span class="fa fa-download"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr class="bg-pale-secondary">
                                <td class="d-none d-sm-none d-md-block">Departamento</td>
                                <td>Lorem ipsum dolor sit amet</td>
                                <td class="d-none d-sm-none d-md-block">Flujo</td>
                                <td>
                                    <a class="center-vh linkDownload" data-toggle="modal" data-target="#modal-center"
                                        href="#">
                                        <span class="fa fa-download"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="d-none d-sm-none d-md-block">Departamento</td>
                                <td>Lorem ipsum dolor sit amet</td>
                                <td class="d-none d-sm-none d-md-block">Flujo</td>
                                <td>
                                    <a class="center-vh linkDownload" data-toggle="modal" data-target="#modal-center"
                                        href="#">
                                        <span class="fa fa-download"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr class="bg-pale-secondary">
                                <td class="d-none d-sm-none d-md-block">Departamento</td>
                                <td>Lorem ipsum dolor sit amet</td>
                                <td class="d-none d-sm-none d-md-block">Flujo</td>
                                <td>
                                    <a class="center-vh linkDownload" data-toggle="modal" data-target="#modal-center"
                                        href="#">
                                        <span class="fa fa-download"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="d-none d-sm-none d-md-block">Departamento</td>
                                <td>Lorem ipsum dolor sit amet</td>
                                <td class="d-none d-sm-none d-md-block">Flujo</td>
                                <td>
                                    <a class="center-vh linkDownload" data-toggle="modal" data-target="#modal-center"
                                        href="#">
                                        <span class="fa fa-download"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr class="bg-pale-secondary">
                                <td class="d-none d-sm-none d-md-block">Departamento</td>
                                <td>Lorem ipsum dolor sit amet</td>
                                <td class="d-none d-sm-none d-md-block">Flujo</td>
                                <td>
                                    <a class="center-vh linkDownload" data-toggle="modal" data-target="#modal-center"
                                        href="#">
                                        <span class="fa fa-download"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="d-none d-sm-none d-md-block">Departamento</td>
                                <td>Lorem ipsum dolor sit amet</td>
                                <td class="d-none d-sm-none d-md-block">Flujo</td>
                                <td>
                                    <a class="center-vh linkDownload" data-toggle="modal" data-target="#modal-center"
                                        href="#">
                                        <span class="fa fa-download"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="container center-vh">
                <nav>
                    <ul class="pagination pagination-circle">
                        <li class="page-item disabled">
                            <a class="page-link" href="#"> <span class="ti-arrow-left"></span> </a>
                        </li>
                        <li class="page-item active"> <a class="page-link" href="#">1</a> </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#"> <span class="ti-arrow-right"></span> </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-center" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Fromulario Postulación Pasastías y Congresos</h3>
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-times-circle"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3 col-6 detalleForm">
                        <strong>Versión:<br>
                            Fecha de vigencia</strong>
                    </div>
                    <div class="col-sm-3 col-6 detalleForm">2.0<br>
                        30-09-2020</div>
                    <div class="col-sm-3 col-6 detalleForm"><span><i class="fa fa-star-o fs-30""></i> <small>Agregar a
                                    Favoritos</small></span></div>
                        <div class=" col-sm-3 col-6 detalleForm"><span><i class="fa fa-share-alt fs-30"></i> <small>
                                        Compartir
                                        Documento</small></span></div>
                </div>
                <a href="#;" class="btn btn-bold btn-block btn-primary mb-10 mt-10 rounded">Descargar <i
                        class="fa fa-download"></i></a>
            </div>
        </div>
    </div>
</div>