body {
  font-family: Roboto, sans-serif;
  color: #9B9B9B;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  min-height: 100vh;
  height: 100%;
  margin: 0;
}

#ops_body {
  font-family: Roboto, sans-serif;
  color: #9B9B9B;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  min-height: 100vh;
  height: 100%;
  margin: 0;
}

.row:before, .row:after {
  display: none !important;
}

.font-dosis {
  font-family: Dosis, Roboto, sans-serif;
}

h4 {
  font-size: 16px;
  font-weight: normal;
  color: #4D5259;
}

p {
  font-size: 14px;
  font-weight: normal;
  color: #495057;
}

small, time, .small {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #c7c7c7;
}

.doc-btn-spacing .btn {
  margin-bottom: 10px;
  margin-right: 6px;
}
.doc-btn-spacing .btn-group {
  margin-bottom: 10px;
}
.doc-btn-spacing .btn-group .btn,
.doc-btn-spacing .btn-group .btn-group,
.doc-btn-spacing .btn-group-vertical .btn {
  margin-bottom: 0;
  margin-right: 0;
}

.doc-dropdown .dropdown,
.doc-dropdown .dropup {
  display: inline-block;
}
.doc-dropdown .dropdown-menu,
.doc-dropdown .dropdown-grid {
  transform: scale(1, 1);
}

.doc-bg-colors-spacing > [class*=bg-] {
  padding: 8px;
  margin-bottom: 8px;
}

.doc-link-colors-spacing > a[class] {
  padding-right: 8px;
}

.doc-topbar-static .topbar {
  position: static;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
}
.doc-topbar-static .topbar .sidebar-toggler,
.doc-topbar-static .topbar .topbar-menu-toggler {
  display: none;
}
.topbar-menu-open .doc-topbar-static .topbar .topbar-navigation {
  display: none;
}

#SearchTopBar .lookup input {
  width: 500px !important;
  background-color: #f8f9fa !important;
}
#SearchTopBar .lookup input:focus {
  background-color: #e9ecef !important;
}

#TitIcoCard span {
  position: absolute;
  z-index: 9;
  left: 4%;
  top: 2%;
  text-align: center;
}

.doc-aos div {
  width: 200px;
  height: 200px;
  margin: 0 auto 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);
}

.demo-code-for-media .code-title {
  background-color: #fff;
}
.demo-code-for-media .code-preview {
  padding: 0;
}
.demo-code-for-media .code-toggler ~ pre {
  display: none;
}

.doc-media-bg .media {
  background-color: #f9fafb;
}

.demo-icons-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 32px;
}
.demo-icons-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 72px;
  height: 72px;
  text-align: center;
  cursor: pointer;
  transition: 0.1s;
}
.demo-icons-list li .material-icons {
  font-size: inherit;
}
.demo-icons-list li [data-i8-icon] {
  margin: 0 10px;
}
.demo-icons-list li [data-provide~=emoji] svg {
  width: 32px;
  height: 32px;
}
.demo-icons-list li:hover {
  background-color: #f7fafc;
}
.demo-icons-list.icons-size-16px {
  font-size: 16px;
}
.demo-icons-list.icons-size-16px li {
  width: 56px;
  height: 56px;
}
.demo-icons-list.icons-size-24px {
  font-size: 24px;
}
.demo-icons-list.icons-size-24px li {
  width: 64px;
  height: 64px;
}
.demo-icons-list.icons-size-32px {
  font-size: 32px;
}
.demo-icons-list.icons-size-32px li {
  width: 72px;
  height: 72px;
}
.demo-icons-list.icons-size-48px {
  font-size: 48px;
}
.demo-icons-list.icons-size-48px li {
  width: 88px;
  height: 88px;
}
.demo-icons-list.icons-size-64px {
  font-size: 64px;
}
.demo-icons-list.icons-size-64px li {
  width: 104px;
  height: 104px;
}
.demo-icons-list.icons-size-80px {
  font-size: 80px;
}
.demo-icons-list.icons-size-80px li {
  width: 120px;
  height: 120px;
}
.demo-icons-list.icons-size-96px {
  font-size: 96px;
}
.demo-icons-list.icons-size-96px li {
  width: 136px;
  height: 136px;
}

.demo-emoji-list-container .demo-icons-list li {
  margin-right: 0;
  margin-bottom: 0;
  width: 52px;
  height: 52px;
}
.demo-emoji-list-container .demo-icons-list.icons-size-16px li {
  width: 36px;
  height: 36px;
}
.demo-emoji-list-container .demo-icons-list.icons-size-16px li [data-provide~=emoji] svg {
  width: 16px;
  height: 16px;
}
.demo-emoji-list-container .demo-icons-list.icons-size-24px li {
  width: 44px;
  height: 44px;
}
.demo-emoji-list-container .demo-icons-list.icons-size-24px li [data-provide~=emoji] svg {
  width: 24px;
  height: 24px;
}
.demo-emoji-list-container .demo-icons-list.icons-size-32px li {
  width: 52px;
  height: 52px;
}
.demo-emoji-list-container .demo-icons-list.icons-size-32px li [data-provide~=emoji] svg {
  width: 32px;
  height: 32px;
}
.demo-emoji-list-container .demo-icons-list.icons-size-48px li {
  width: 68px;
  height: 68px;
}
.demo-emoji-list-container .demo-icons-list.icons-size-48px li [data-provide~=emoji] svg {
  width: 48px;
  height: 48px;
}
.demo-emoji-list-container .demo-icons-list.icons-size-64px li {
  width: 84px;
  height: 84px;
}
.demo-emoji-list-container .demo-icons-list.icons-size-64px li [data-provide~=emoji] svg {
  width: 64px;
  height: 64px;
}
.demo-emoji-list-container .demo-icons-list.icons-size-80px li {
  width: 100px;
  height: 100px;
}
.demo-emoji-list-container .demo-icons-list.icons-size-80px li [data-provide~=emoji] svg {
  width: 80px;
  height: 80px;
}
.demo-emoji-list-container .demo-icons-list.icons-size-96px li {
  width: 116px;
  height: 116px;
}
.demo-emoji-list-container .demo-icons-list.icons-size-96px li [data-provide~=emoji] svg {
  width: 96px;
  height: 96px;
}

.demo-color-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.demo-color-list li {
  display: inline-flex;
  flex-direction: column;
  margin: 20px;
  margin-right: 0;
  border: 1px solid #f1f2f3;
}
.demo-color-list li > span {
  display: flex;
  flex-grow: 1;
  flex-basis: 100px;
  min-height: 80px;
  min-width: 160px;
}
.demo-color-list p {
  font-size: 12px;
  padding: 6px 12px;
  margin-bottom: 0;
  background-color: #fcfdfe;
  border-top: 1px solid #f1f2f3;
}

.demo-tooltip-static .tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  margin-bottom: 15px;
}

.image-container .image-card {
  height: calc(100% - 30px);
}
.image-container .image-card .row {
  height: 100%;
}
.image-container .image-card .row .img-fill {
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.image-container .image-card .row .img-fill img {
  max-width: unset;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  transform: translateX(-20%);
}
.image-container .image-card .row .p-20 {
  display: flex;
  flex-direction: column;
}
.image-container .image-card .row .p-20 .card-footer {
  margin-top: auto;
}

@media (max-width: 767px) {
  .image-container .image-card {
    height: auto;
  }
  .image-container .image-card .row {
    height: auto;
  }
  .image-container .image-card .row .img-fill {
    height: auto;
    display: block;
    position: relative;
    overflow: visible;
  }
  .image-container .image-card .row .img-fill img {
    position: relative;
    max-width: 100%;
    transform: translateX(0);
    width: 100%;
  }
}
.publish-btn {
  height: 45px;
  width: 45px;
  border-radius: 25px;
  text-align: center;
  line-height: 42px;
  font-size: 20px;
  color: white;
}
.publish-btn:before {
  display: block;
  transform: rotate(50deg);
}

.bubble {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
  position: relative;
}
.bubble:before {
  content: "";
  height: 35px;
  width: 35px;
  border-radius: 5px;
  transform: rotate(45deg);
  background-color: white;
  position: absolute;
  left: -10px;
  top: 15px;
}

/*------Reconocimientos------*/
.card-title .icon {
  position: absolute;
  top: 25px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  text-align: center;
  line-height: 50px;
  left: 20px;
  color: white;
}

.recommend-sidebar .card-title {
  border-radius: 5px 5px 0 0;
}

/*-------card multimedia------*/
.recommend-sidebar .card-title {
  border-radius: 5px 5px 0 0;
}

.multimedia {
  height: calc(100% - 30px);
}
.multimedia .card-body {
  display: flex;
  flex-direction: column;
}
.multimedia .card-body .card-footer {
  margin-top: auto;
}
.multimedia .card-body .col-md-4:first-child {
  padding-left: 0 !important;
}
.multimedia .card-body .col-md-4:nth-child(3n) {
  padding-right: 0 !important;
}
.multimedia .card-body .col-md-4:nth-child(4n) {
  padding-left: 0 !important;
}

/*-----------------------------------------------------------------
// Home
//*/
#trivia img {
  max-height: 215px;
}

#Events.EventsComponent {
  height: 370px;
}

/*-----------------------------------------------------------------


/*-----------------------------------------------------------------
// Perfil Usuario
//*/
#perfil-container {
  /*Images limit*/
}
#perfil-container .card-perfil {
  min-height: 455px;
}
#perfil-container .tab-pane {
  height: 415px;
}
#perfil-container .tab-perfil {
  min-height: 455px;
}
#perfil-container .text-data-secondary span {
  font-size: 12px;
}
#perfil-container .img-back-perfil {
  object-fit: cover;
  object-position: center;
  max-height: 100%;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
#perfil-container .perfil-usuario-ops {
  text-align: center;
}
#perfil-container .perfil-usuario-ops h5 {
  margin-bottom: 0;
}
#perfil-container .img-perfil-dest {
  height: 140px;
  width: 100%;
  position: relative;
  text-align: center;
}
#perfil-container .img-perfil-dest a {
  position: absolute;
  display: flex;
  bottom: -40px;
}
#perfil-container .data-perfil-num {
  width: 32px;
  height: 32px;
  border: 2px solid grey;
  border-radius: 45px;
}
#perfil-container .image-limit {
  object-fit: cover;
  object-position: center;
  min-height: 50vh;
}

/*404 Styles */
/*---------------------- Tab shadow --------------------------*/
.tab-content {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tab-box-shadow {
  -webkit-box-shadow: -3px 4px 8px 0px rgba(0, 0, 0, 0.06);
  box-shadow: -3px 4px 8px 0px rgba(0, 0, 0, 0.06);
}

.min-height-profile-tab {
  min-height: 60vh;
}

.h-profile {
  min-height: 60vh;
}

/*---------------------- Tab shadow --------------------------*/
/*404 Styles */
.title-404 {
  font-size: 28vh;
  line-height: 1;
  color: #9B9B9B;
}

.p-404 {
  font-size: 23px;
}

@media (max-width: 1000px) {
  .cont-text-404 {
    text-align: center;
  }

  .title-404 {
    font-size: 14vh;
    text-align: center;
  }

  .p-404 {
    text-align: center;
  }
}
/*404 Styles */
/*-------------Valores styles add------------*/
.absolute-content {
  position: absolute;
}

.black-to-fade {
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, black 100%);
}

/*-------------Valores styles add------------*/
/*------Contenido Tabs------*/
.align-self {
  align-self: center;
}

.adaptative-img {
  object-fit: cover;
  object-position: center center;
  height: 100%;
  width: 100%;
}

.mx-h {
  max-height: 500px;
}

/*------Contenido Tabs------*/
.swiper-wrapper .swiper-slide img {
  width: 100%;
  max-width: 1024px;
}
.swiper-wrapper .swiper-slide .badge {
  position: absolute;
  top: 10px;
  right: 20px;
  opacity: 0.8;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  min-height: 10px;
}

.carousel.slide .badge {
  position: absolute;
  top: 10px;
  right: 20px;
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
