// TODO: will fix in Beta release
button, input, optgroup, select, textarea {
  font-family: $font-body;
  font-weight: 300;
}


canvas:focus {
  outline: none;
}

::selection {
  background: lighten($color-primary, 7%);
  color: #fff;
}
::-moz-selection {
  background: lighten($color-primary, 7%);
  color: #fff;
}


a {
  color: $color-primary;
  transition: .2s linear;

  &:hover,
  &:focus {
    color: $color-text;
    text-decoration: none;
    outline: none;
  }

  &.media {
    color: $color-text;
  }

  &[class*="text-"] {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &[class*="hover-"] {
    color: $color-text;
  }
}


b,
strong {
  font-weight: 500;
}

small,
time,
.small {
  font-family: $font-body;
  font-weight: 400;
  font-size: 11px;
  color: $color-text-secondary;

  a {
    color: $color-text-secondary;
    border-bottom: 1px dotted $color-text-secondary;

    &:hover {
      color: $color-primary;
      border-bottom-color: transparent;
    }
  }
}

.lead {
  font-size: 16px;
  line-height: $line-height-lg;
}

.semibold {
  font-weight: 400;
}

.dropcap:first-child:first-letter {
  float: left;
  color: #903;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

//-----------------------------------------------------------------
// Heading
//
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-title;
  font-weight: 500;
  color: $color-title;
  line-height: 1.2;
  letter-spacing: .3px;
  margin-bottom: .9rem;

  b,
  strong {
    font-weight: 400;
  }

  small {
    font-size: 65%;
  }

  a,
  a[class*="hover-"] {
    color: $color-title;
  }

}

h1, .h1 { font-size: 33px; }
h2, .h2 { font-size: 28px; }
h3, .h3 { font-size: 23px; }
h4, .h4 { font-size: 19px; }
h5, .h5 { font-size: 16px; font-weight: 400; }
h6, .h6 { font-size: 14px; font-weight: 400; }

.font-alt {
  font-family: $font-body;
}

.sidetitle {
  font-style: italic;
  margin-left: 0.5rem;

  &::before {
    content: '\2014 \00A0';
  }
}

.subtitle {
  display: block;
  margin-top: 8px;
}



//-----------------------------------------------------------------
// UL & OL lists
//
.list-iconic {
  list-style: none;
  padding-left: 1.5rem;

  .icon {
    padding-right: 0.5rem;
    font-size: 0.75em;
  }
}


.blockquote {
  font-style: italic;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  color: $color-text;

  p {
    font-size: 1.125rem;
    line-height: 1.875rem;
  }

  a {
    color: $color-text;
  }

  footer {
    color: $color-text-secondary;
    font-size: 0.875rem;

    &::before {
      content: '\2014 \00A0';
    }
  }
}

.blockquote-inverse {
  &,
  footer {
    color: #fff;
  }
}



dt {
  font-weight: 400;
}


time {
  font-size: 12px;
  color: $color-text-secondary;
}


.dl-inline {
  dt,
  dd {
    display: inline-block;
  }

  dd {
    margin-bottom: 0;
  }
}





//-----------------------------------------------------------------
// Media queries
//
@include media-down(md) {

  html {
    font-size: 16px;
  }


  h1, .h1 { font-size: 31px; }
  h2, .h2 { font-size: 26px; }
  h3, .h3 { font-size: 22px; }
  h4, .h4 { font-size: 18px; }
  h5, .h5 { font-size: 15px; }
  h6, .h6 { font-size: 13px; }

  .blockquote {
    margin-left: 2rem;
    margin-right: 2rem;
  }

}


@include media-down(sm) {

  html {
    font-size: 15px;
  }

  h1, .h1 { font-size: 24px; }
  h2, .h2 { font-size: 22px; }
  h3, .h3 { font-size: 20px; }
  h4, .h4 { font-size: 16px; }

  .lead {
    font-size: 15px;
  }

  .blockquote {
    margin-left: 0;
    margin-right: 0;
  }

}

//---------------------------------------------------------------------------
// New Like blow
//
.content-heart {
  position: relative;
  display: inline-block;
  width: auto;
  padding-left: 21px;
}
.heart {
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-image:url( '/assets/img/bg/web_heart_animation.png');
  background-position: left;
  background-repeat:no-repeat;
  background-size:2900%;
  position: absolute;
  top: -14px;
  left: -17px;
}

.heart.is_animating, .heart:hover {
  background-position:right;
}

.is_animating {
  animation: heart-burst .8s steps(28) 1;
}

@keyframes heart-burst {
  from {background-position:left;}
  to { background-position:right;}
}
span.dia-num {
  position: absolute;
  top: -7px;
}
span.dia-text{
  position: absolute;
  bottom: -7px;
}