<div id="agenda-container">

    <h2>Apoyo Estudiantil</h2>
    <!-- Nav tabs -->
    <div id="TabContent">
        <ul id="tabCalendario" class="nav nav-tabs nav-tabs-inverse-mode">
            <li class="nav-item espirituLink">
                <a class="round-item-single-lf nav-link br-1 tab-color-inactive active" data-toggle="tab" href="#julio"
                    aria-expanded="true">Consejos Psicológicos</a>
            </li>
            <li class="nav-item espirituLink">
                <a class="nav-link br-1 tab-color-inactive" data-toggle="tab" href="#junio"
                    aria-expanded="false">Consejos Psicopedagógicos</a>
            </li>
            <li class="nav-item espirituLink">
                <a class="nav-link br-1 tab-color-inactive" data-toggle="tab" href="#mayo"
                    aria-expanded="false">Orientación Financiera</a>
            </li>
            <li class="nav-item espirituLink">
                <a class="nav-link br-1 tab-color-inactive" data-toggle="tab" href="#mayo" aria-expanded="false">Guía
                    para Estudiantes de último año</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="py-4 px-0 bg-white tab-content min-height-profile-tab tab-box-shadow">
            <div class="tab-pane active" id="julio" aria-expanded="true">
                <div class="card-body p-0 pl-16 pr-16">
                    <div class="card" style="box-shadow: none;">
                        <img class="bg-img-img responsive cutImage d-none d-sm-none d-md-block mb-30" src="/assets/img/gallery/thumb/232261-P28NOV-207.jpg" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <!--Card Multimedia carousel-->
                                    <div id="slideMultimediaPrime" class="card multimedia">
                                        <div class="swiper-container swiper-pagination-outside swiper-container-horizontal"
                                            data-provide="swiper">
                                            <div class="swiper-wrapper"
                                                style="transform: translate3d(-388px, 0px, 0px); transition-duration: 0ms;">
                                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-prev"
                                                    data-swiper-slide-index="3" style="width: 388px;">
                                                    <div class="semicirclehor"></div> <img
                                                        src="/assets/img/gallery/thumb/4.jpg" alt="...">
                                                </div>

                                                <div class="swiper-slide swiper-slide-active"
                                                    data-swiper-slide-index="0" style="width: 388px;">
                                                    <div class="semicirclehor"></div> <img
                                                        src="/assets/img/gallery/thumb/1.jpg" alt="...">
                                                </div>
                                                <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1"
                                                    style="width: 388px;">
                                                    <div class="semicirclehor"></div> <img
                                                        src="/assets/img/gallery/thumb/2.jpg" alt="...">
                                                </div>
                                                <div class="swiper-slide" data-swiper-slide-index="2"
                                                    style="width: 388px;">
                                                    <div class="semicirclehor"></div> <img
                                                        src="/assets/img/gallery/thumb/3.jpg" alt="...">
                                                </div>
                                                <div class="swiper-slide swiper-slide-duplicate-prev"
                                                    data-swiper-slide-index="3" style="width: 388px;">
                                                    <div class="semicirclehor"></div> <img
                                                        src="/assets/img/gallery/thumb/4.jpg" alt="...">
                                                </div>
                                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
                                                    data-swiper-slide-index="0" style="width: 388px;">
                                                    <div class="semicirclehor"></div> <img
                                                        src="/assets/img/gallery/thumb/1.jpg" alt="...">
                                                </div>
                                            </div>
                                            <div
                                                class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                                                <span
                                                    class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span
                                                    class="swiper-pagination-bullet"></span><span
                                                    class="swiper-pagination-bullet"></span><span
                                                    class="swiper-pagination-bullet"></span></div>
                                        </div>
                                        <div class="card-body">
                                            <h4><a class="hover-terciario"
                                                    href="/pages/informate/multimedia-detalle.html">Nuestro especialista
                                                    nos
                                                    presenta un importante proceso interno.</a></h4>
                                            <div class="card-footer pt-10 p-0">
                                                <div class="d-inline-block"><small>Publicado hace dos horas</small>
                                                </div>
                                                <div class="gap-items-2 float-md-right">
                                                    <label class="fs-14 text-lighter mr-2">
                                                        <i class="fa fa-comment fs-16"></i>25
                                                    </label>
                                                    <div class="content-heart">
                                                        <div class="heart"></div>
                                                        <span class="fs-14 text-lighter">25</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <!--Card Multimedia embed-->
                                    <div id="videoMultimediaPrime" class="card multimedia">
                                        <div class="embed-responsive embed-responsive-16by9" style="height: inherit;">
                                            <div class="semicirclehor"></div>
                                            <iframe src="https://www.youtube.com/embed/nrJtHemSPW4" frameborder="0"
                                                allowfullscreen=""></iframe>
                                        </div>
                                        <div class="card-body">
                                            <h4><a class="hover-terciario"
                                                    href="/pages/informate/multimedia-detalle.html">Nuestro especialista
                                                    nos
                                                    presenta un importante proceso interno.</a></h4>
                                            <div class="card-footer pt-10 p-0">
                                                <div class="d-inline-block"><small>Publicado hace dos horas</small>
                                                </div>
                                                <div class="gap-items-2 float-md-right">
                                                    <label class="fs-14 text-lighter mr-2">
                                                        <i class="fa fa-comment fs-16"></i>25
                                                    </label>
                                                    <div class="content-heart">
                                                        <div class="heart"></div>
                                                        <span class="fs-14 text-lighter">25</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <!--Card Multimedia mp4-->
                                    <div class="card">
                                        <div class="bg-img br-4">
                                            <img class="bg-img-img" src="/assets/img/gallery/thumb/1.jpg" alt="...">
                                            <div class="semicirclehor"></div>
                                        </div>
                                        <div class="card-body">
                                            <h4><a class="hover-terciario"
                                                    href="/pages/informate/multimedia-detalle.html">Nuestro especialista
                                                    nos
                                                    presenta un importante proceso interno.</a>
                                            </h4>

                                            <div class="card-footer pt-10 p-0">
                                                <div class="d-inline-block">
                                                    <small>04/06/2019</small>
                                                </div>
                                                <div class="gap-items-2 float-md-right">
                                                    <label class="fs-14 text-lighter mr-2">
                                                        <i class="fa fa-comment fs-16"></i>25
                                                    </label>
                                                    <div class="content-heart">
                                                        <div class="heart"></div>
                                                        <span class="fs-14 text-lighter">25</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="junio" aria-expanded="false">
                <div class="card-body p-0 pl-16 pr-16">
                    <div class="card" style="box-shadow: none;">
                        <img class="bg-img-img responsive cutImage" src="/assets/img/gallery/thumb/1.jpg" alt="...">
                        <div class="card-body">
                            <h4 class="hover-primary">Card DetASDASDASDASalle de noticia</h4>
                            <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam,
                                quis nostrud exercitation ullamco. Sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud
                                exercitation ullamco</p>
                            <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam,
                                quis nostrud exercitation ullamco. Sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud
                                exercitation ullamco</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="mayo" aria-expanded="false">
                <div class="card-body p-0 pl-16 pr-16">
                    <div class="card" style="box-shadow: none;">
                        <img class="bg-img-img responsive cutImage" src="/assets/img/gallery/thumb/1.jpg" alt="...">
                        <div class="card-body">
                            <h4 class="hover-primary">Card Detalle de noSDASADAS as asdsad asd ticia</h4>
                            <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam,
                                quis nostrud exercitation ullamco. Sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud
                                exercitation ullamco</p>
                            <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam,
                                quis nostrud exercitation ullamco. Sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud
                                exercitation ullamco</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            // Initialize the plugin
            $(document).ready(function () {
                // Scrollable
                //
                $('.media-list').perfectScrollbar();
            });
        </script>
