<div id="beneficios-container">
    <h2>Beneficios y Convenios</h2>
    <div data-provide="shuffle">
        <!--Card shufle-->

        <div class="gap-items-2 gap-y mb-8" data-shuffle="filter">
            <button class="btn btn-w-sm bg-primarioReal rounded px-2 active" data-shuffle="button">Todos</button>
            <button class="btn btn-w-sm bg-primarioReal rounded px-2" data-shuffle="button"
                data-group="salud">Categoría 1</button>
            <button class="btn btn-w-sm bg-primarioReal rounded px-2" data-shuffle="button"
                data-group="familia">Categoría 2</button>
            <button class="btn btn-w-sm bg-primarioReal rounded px-2" data-shuffle="button"
                data-group="deportes">Categoría 3</button>
            <button class="btn btn-w-sm bg-primarioReal rounded px-2" data-shuffle="button"
                data-group="economicos">Categoría 4</button>
        </div>
        <br/>
        <br/>
        <!--Card shufle-->
        <div class="shuffle row" data-shuffle="list">

            <div class="col-md-4 shuffle-item shuffle-item--visible" data-shuffle="item" data-groups="economicos">
                <div class="card">

                    <div class="bg-img br-4 rounded content-object-fit">
                        <img class="bg-img-img img-object-fit" src="/assets/img/gallery/18.jpg">
                        <div class="semicirclehor"></div>
                    </div>

                    <div class="card-body flexbox py-0 d-block" style="margin-top: -25px">
                        <a href="#" class="float-right" data-toggle="modal" data-target="#modal-center">
                            <span class="avatar avatar-lg mr-3 bg-primary"><i class="fa fa-star"></i></span>
                        </a>
                    </div>

                    <div class="card-body">
                        <p>
                            <a class="hover-terciario" href="#;" data-toggle="modal" data-target="#modal-center">Revisa el beneficio
                                de
                                caja Los Andes que tenemos para tí... </a>
                        </p>
                        <a class="hover-primary mb-10" href="#;" data-toggle="modal" data-target="#modal-center">Ver Más [ + ]</a>

                        <div class="card-footer pt-10 mt-10 p-0">
                            <div class="gap-items-1 float-md-right">

                                <div class="content-heart">
                                    <div class="heart"></div>
                                    <span class="fs-14 text-lighter">25</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4 shuffle-item shuffle-item--visible" data-shuffle="item" data-groups="salud">
                <div class="card">

                    <div class="bg-img br-4 rounded content-object-fit">
                        <img class="bg-img-img img-object-fit" src="/assets/img/gallery/15.jpg">
                        <div class="semicirclehor"></div>
                    </div>

                    <div class="card-body flexbox py-0 d-block" style="margin-top: -25px">
                        <a href="#" class="float-right" data-toggle="modal" data-target="#modal-center">
                            <span class="avatar avatar-lg mr-3 bg-primary"><i class="fa fa-star"></i></span>
                        </a>
                    </div>

                    <div class="card-body">
                        <p>
                            <a class="hover-terciario" href="#;" data-toggle="modal" data-target="#modal-center">Revisa el beneficio
                                de
                                caja Los Andes que tenemos para tí... </a>
                        </p>
                        <a class="hover-primary mb-10" href="#;" data-toggle="modal" data-target="#modal-center">Ver Más [ + ]</a>

                        <div class="card-footer pt-10 mt-10 p-0">
                            <div class="gap-items-1 float-md-right">

                                <div class="content-heart">
                                    <div class="heart"></div>
                                    <span class="fs-14 text-lighter">25</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4 shuffle-item shuffle-item--visible" data-shuffle="item" data-groups="deportes">
                <div class="card">

                    <div class="bg-img br-4 rounded content-object-fit">
                        <img class="bg-img-img img-object-fit" src="/assets/img/gallery/18.jpg">
                        <div class="semicirclehor"></div>
                    </div>

                    <div class="card-body flexbox py-0 d-block" style="margin-top: -25px">
                        <a href="#" class="float-right" data-toggle="modal" data-target="#modal-center">
                            <span class="avatar avatar-lg mr-3 bg-primary"><i class="fa fa-star"></i></span>
                        </a>
                    </div>

                    <div class="card-body">
                        <p>
                            <a class="hover-terciario" href="#;" data-toggle="modal" data-target="#modal-center">Revisa el beneficio
                                de
                                caja Los Andes que tenemos para tí... </a>
                        </p>
                        <a class="hover-primary mb-10" href="#;" data-toggle="modal" data-target="#modal-center">Ver Más [ + ]</a>

                        <div class="card-footer pt-10 mt-10 p-0">
                            <div class="gap-items-1 float-md-right">

                                <div class="content-heart">
                                    <div class="heart"></div>
                                    <span class="fs-14 text-lighter">25</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4 shuffle-item shuffle-item--visible" data-shuffle="item" data-groups="familia">
                <div class="card">

                    <div class="bg-img br-4 rounded content-object-fit">
                        <img class="bg-img-img img-object-fit" src="/assets/img/gallery/15.jpg">
                        <div class="semicirclehor"></div>
                    </div>

                    <div class="card-body flexbox py-0 d-block" style="margin-top: -25px">
                        <a href="#" class="float-right" data-toggle="modal" data-target="#modal-center">
                            <span class="avatar avatar-lg mr-3 bg-primary"><i class="fa fa-star"></i></span>
                        </a>
                    </div>

                    <div class="card-body">
                        <p>
                            <a class="hover-terciario" href="#;" data-toggle="modal" data-target="#modal-center">Revisa el beneficio
                                de
                                caja Los Andes que tenemos para tí... </a>
                        </p>
                        <a class="hover-primary mb-10" href="#;" data-toggle="modal" data-target="#modal-center">Ver Más [ + ]</a>

                        <div class="card-footer pt-10 mt-10 p-0">
                            <div class="gap-items-1 float-md-right">

                                <div class="content-heart">
                                    <div class="heart"></div>
                                    <span class="fs-14 text-lighter">25</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4 shuffle-item shuffle-item--visible" data-shuffle="item" data-groups="economicos,salud">
                <div class="card">

                    <div class="bg-img br-4 rounded content-object-fit">
                        <img class="bg-img-img img-object-fit" src="/assets/img/gallery/18.jpg">
                        <div class="semicirclehor"></div>
                    </div>

                    <div class="card-body flexbox py-0 d-block" style="margin-top: -25px">
                        <a href="#" class="float-right" data-toggle="modal" data-target="#modal-center">
                            <span class="avatar avatar-lg mr-3 bg-primary"><i class="fa fa-star"></i></span>
                        </a>
                    </div>

                    <div class="card-body">
                        <p>
                            <a class="hover-terciario" href="#;" data-toggle="modal" data-target="#modal-center">Revisa el beneficio
                                de
                                caja Los Andes que tenemos para tí... </a>
                        </p>
                        <a class="hover-primary mb-10" href="#;" data-toggle="modal" data-target="#modal-center">Ver Más [ + ]</a>

                        <div class="card-footer pt-10 mt-10 p-0">
                            <div class="gap-items-1 float-md-right">

                                <div class="content-heart">
                                    <div class="heart"></div>
                                    <span class="fs-14 text-lighter">25</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4 shuffle-item shuffle-item--visible" data-shuffle="item" data-groups="deportes,familia">
                <div class="card">

                    <div class="bg-img br-4 rounded content-object-fit">
                        <img class="bg-img-img img-object-fit" src="/assets/img/gallery/15.jpg">
                        <div class="semicirclehor"></div>
                    </div>

                    <div class="card-body flexbox py-0 d-block" style="margin-top: -25px">
                        <a href="#" class="float-right" data-toggle="modal" data-target="#modal-center">
                            <span class="avatar avatar-lg mr-3 bg-primary"><i class="fa fa-star"></i></span>
                        </a>
                    </div>

                    <div class="card-body">
                        <p>
                            <a class="hover-terciario" href="#;" data-toggle="modal" data-target="#modal-center">Revisa el beneficio
                                de
                                caja Los Andes que tenemos para tí... </a>
                        </p>
                        <a class="hover-primary mb-10" href="#;" data-toggle="modal" data-target="#modal-center">Ver Más [ + ]</a>

                        <div class="card-footer pt-10 mt-10 p-0">
                            <div class="gap-items-1 float-md-right">

                                <div class="content-heart">
                                    <div class="heart"></div>
                                    <span class="fs-14 text-lighter">25</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>

    <div class="modal fade show" id="modal-center" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Titulo de la publicación</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fa fa-times-circle"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Descripción de la Investigación: </h5>
                    <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco.</p>

                    <h5>Competencia: </h5>
                    <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco.</p>

                    <h5>Requisitos:</h5>
                    <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco.</p>

                    <h5>Mail de Contacto: </h5>
                    <p>cmunoz@colabra.cl</p>


                </div>
            </div>
        </div>
    </div>

    <script>
        // Initialize the plugin
        $(document).ready(function () {

            // Initialize the Heart click explose
            $(".heart").on('click touchstart', function () {
                $(this).toggleClass('is_animating');
            });

        });
    </script>
