<div id="agenda-container">


    <!-- Nav tabs -->
    <div id="TabContent">
        <ul id="tabCalendario" class="nav nav-tabs nav-tabs-inverse-mode">
            <li class="nav-item espirituLink">
                <a class="round-item-single-lf nav-linkk br-1 tab-color-inactive active" data-toggle="tab" href="#julio" aria-expanded="true">
                    Postulaciones a Concursos
                </a>
            </li>
            <li class="nav-item espirituLink">
                <a class="nav-link br-1 tab-color-inactive" data-toggle="tab" href="#junio" aria-expanded="false">
                    Becas
                </a>
            </li>
            <li class="nav-item espirituLink">
                <a class="nav-link br-1 tab-color-inactive" data-toggle="tab" href="#mayo" aria-expanded="false">
                    Oportunidades para Emprender
                </a>
            </li>
            <li class="nav-item espirituLink">
                <a class="nav-link br-1 tab-color-inactive" data-toggle="tab" href="#mayo" aria-expanded="false"
                    style="border-radius: 4px 4px 0 0;">
                    Consejos
                </a>
            </li>
            <li class="nav-item espirituLink">
                <a class="nav-link br-1 tab-color-inactive" data-toggle="tab" href="#mayo" aria-expanded="false">
                    Casos de Éxito
                </a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="py-4 px-0 bg-white tab-content min-height-profile-tab tab-box-shadow">
            <div class="tab-pane active" id="julio" aria-expanded="true">
                <div class="card-body p-0 pl-16 pr-16">
                    <div class="card" style="box-shadow: none;">
                        <img class="bg-img-img responsive cutImage" src="/assets/img/gallery/thumb/1.jpg" alt="...">
                        <div class="card-body">
                            <h4 class="hover-primary">Card Detalle de noticia</h4>
                            <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam,
                                quis nostrud exercitation ullamco. Sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud
                                exercitation ullamco</p>
                            <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam,
                                quis nostrud exercitation ullamco. Sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud
                                exercitation ullamco</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="junio" aria-expanded="false">
                <div class="card-body p-0 pl-16 pr-16">
                    <div class="card" style="box-shadow: none;">
                        <img class="bg-img-img responsive cutImage" src="/assets/img/gallery/thumb/1.jpg" alt="...">
                        <div class="card-body">
                            <h4 class="hover-primary">Card DetASDASDASDASalle de noticia</h4>
                            <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam,
                                quis nostrud exercitation ullamco. Sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud
                                exercitation ullamco</p>
                            <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam,
                                quis nostrud exercitation ullamco. Sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud
                                exercitation ullamco</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="mayo" aria-expanded="false">
                <div class="card-body p-0 pl-16 pr-16">
                    <div class="card" style="box-shadow: none;">
                        <img class="bg-img-img responsive cutImage" src="/assets/img/gallery/thumb/1.jpg" alt="...">
                        <div class="card-body">
                            <h4 class="hover-primary">Card Detalle de noSDASADAS as asdsad asd ticia</h4>
                            <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam,
                                quis nostrud exercitation ullamco. Sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud
                                exercitation ullamco</p>
                            <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam,
                                quis nostrud exercitation ullamco. Sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud
                                exercitation ullamco</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            // Initialize the plugin
            $(document).ready(function () {
                // Scrollable
                //
                $('.media-list').perfectScrollbar();
            });
        </script>
