
//==================
// Topbar
//==================


// Fix movement on openning modal
@include media-up(lg) {
  .modal-open .topbar {
    padding-right: 37px;
  }
}



//==================
// Main
//==================
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: margin-left .3s ease-out;
}

.topbar + main {
  padding-top: 50px;
}

.topbar-secondary + main {
  padding-top: $height-topbar-sec;
}

.main-container{
  padding-top: $height-topbar;
}
//==================
// Main content
//==================
.main-content {
  padding: 30px 30px;
  flex: 1 0 auto;
  min-height: 650px;

  > .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.container-full {
  margin-left: -30px;
  margin-right: -30px;
}

//==================
// Footer
//==================
.site-footer {
  padding: 10px 30px;
}

//==================
// Backdrop
//==================
.app-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $backdrop-bg-light;

  &.backdrop-sidebar {
    z-index: $zindex-backdrop-sidebar;
  }

  &.backdrop-topbar-menu {
    z-index: $zindex-backdrop-topbar;
  }

  &.backdrop-quickview {
    background-color: transparent;
    z-index: $zindex-backdrop-quickview;
  }
}

//==================
// Small devices
//==================
@include media-up(md) {

  .card-maximize {
    left: $width-sidebar-normal;
  }

}

@include media-down(lg) {



}

@include media-down(md) {

  .topbar,
  body > main {
    margin-left: 0;
  }

  .card-maximize {
    left: 0;
  }

  // Site footer
  .site-footer,
  .site-footer .container {
    flex-direction: column;
  }

}


@include media-down(sm) {

  .topbar {
    padding: 0 0.25rem;
  }

  .site-footer,
  .main-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .container-full {
    margin-left: -15px;
    margin-right: -15px;
  }

}




@media print {
  body * {
    visibility: hidden;
  }

  .printing-area {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;

    * {
      visibility: visible;
    }
  }
}
