
//-----------------------------------------------------------------
// Sidebar
//
.sidebar2.ps-relative{
position: $ps-relative;
}
.sidebar.ps-absolut{
  position: $ps-absolute;
}
.sidebar.ps-fixed{
  position: $ps-fixed;
}

.sidebar {
  position: $ps-fixed;
  top: 0;
  bottom: 0;
  width: $width-sidebar-normal;
  background-color: $sidebar-dark-bg;
  white-space: nowrap;
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.08);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.08);
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  z-index: 997;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  will-change: transform;

  ~ .topbar,
  ~ main {
    margin-left: $width-sidebar-normal;
  }
}

.sidebar-sm {
  width: $width-sidebar-sm;
  ~ .topbar {
    margin-left: 185px;
  }
}

.sidebar-sm {
  width: $width-sidebar-sm;
  ~ main {
    margin-left: $width-sidebar-sm;
  }
}

.sidebar-lg {
  width: $width-sidebar-lg;
  ~ .topbar,
  ~ main {
    margin-left: $width-sidebar-lg;
  }
}


.sidebar-header{
  height: $height-sidebar-header_v2;
  background-size: cover;
}
.site-footer{
  height: $height-side-footer;
}
.sidebar-navigation {
  position: relative;
  overflow: hidden;
  flex: 1;
}

.sidebar-profile {
  text-align: center;

  .avatar {
    width: 85px;
    height: 85px;
    transition: .5s;
  }
  h5.name, span.hello-profile{
    width: 100%;
    white-space: initial;
    text-align: center;
    
  }
  span.state-profile{
    display: flex;
    clear: both;
    white-space: pre-line;
  }

  .profile-info {
    transform: scale(1);
    margin-top: 1rem;
    transition: .5s;
  }
}


//-----------------------------------------------------------------
// Sidebar header
//
.sidebar-header {
  background: $sidebar-header-circle-bg;
  background-color: $color-primary;
  padding: 0 $sidebar-padding-x;
  display: flex;
  align-items: center;
  color: #fff;
  background-size: cover;

  > * {
    margin-left: $sidebar-items-margin-x;
    margin-right: $sidebar-items-margin-x;
  }

  .logo-icon {
    text-align: center;
    flex-basis: $sidebar-icon-size;
    font-size: 1.25rem;
    flex-shrink: 0;
  }

  .logo {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    flex-grow: 1;
    
    img{
      width: 120px;
    }

    a {
      display: block;
      width: 155px;
      height:  120px;/* Se modifica de 30px a 80px */
      margin-top: -10px /*se agrega este atributo*/
    }
  }

  a {
    color: #fff;
  }
}

.sidebar-toggle-fold {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px $sidebar-items-margin-x;
  cursor: pointer;

  &::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 100%;
    background-color: #fff;
    transition: 0.2s linear;
  }

}
.sidebar-folded .sidebar-toggle-fold::before {
  background-color: transparent;
}

// Alternative color
.sidebar-header-inverse {
  color: $color-text;
  background-color: #fff;

  .sidebar-toggle-fold::before {
    border-color: $color-text;
  }

  a {
    color: $color-text;
  }
}
.sidebar-folded .sidebar-header-inverse .sidebar-toggle-fold::before {
  background-color: $color-text;
}



//-----------------------------------------------------------------
// Sidebar footer
//
.sidebar-footer {
  border-top: 1px solid $color-alpha-dark-divider;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  > * {
    margin: 0 4px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}


//-----------------------------------------------------------------
// Sidebar utilities
//

// Spacer
//
.sidebar-spacer-sm {
  height: $height-topbar/2;
}

.sidebar-spacer {
  height: $height-topbar;
}

.sidebar-spacer-lg {
  height: $height-topbar*3/2;
}




//-----------------------------------------------------------------
// Body classes
//
.sidebar-open {
  overflow: hidden;

  .sidebar {
    position: fixed!important;
    left: 0 !important;
    box-shadow: $offcanvas-left-shadow !important;
  }
}

.sidebar-folded {

  .sidebar {
    ~ .topbar,
    ~ main {
      margin-left: $width-sidebar-folded;
    }


    // Utility classes
    .hide-on-fold {
      display: none;
    }

    .fade-on-fold {
      opacity: 0;
      transition: .5s;
    }

  }

  .sidebar:not(.sidebar-icons-right) {
    width: $width-sidebar-folded;


    .sidebar-profile {
      .avatar {
        width: $sidebar-icon-size-lg;
        height: $sidebar-icon-size-lg;
      }

      .profile-info {
        transform: scale(0.33);
        margin-left: -100px;
        margin-right: -100px;
      }
    }

    &:hover {
      width: $width-sidebar-normal;
      box-shadow: $offcanvas-left-shadow;

      .sidebar-profile {

        .avatar {
          width: $width-cons-xs;
          height: $height-xxl;
        }

        .profile-info {
          transform: scale(1);
        }
        span.hello-profile{
          width: 100%;
        }
        span.state-profile{
          clear: both;
          white-space: pre-line;
        }
      }
     

    }

    &.sidebar-sm:hover {
      width: $width-sidebar-sm;
    }

    &.sidebar-lg:hover {
      width: $width-sidebar-lg;
    }

  }

  .sidebar-icons-right {
    left: -($width-sidebar-normal - $width-sidebar-folded);

    &:hover {
      left: 0;
      box-shadow: $offcanvas-left-shadow;
    }

    &.sidebar-sm {
      left: -($width-sidebar-sm - $width-sidebar-folded);
    }

    &.sidebar-lg {
      left: -($width-sidebar-lg - $width-sidebar-folded);
    }
  }


  .card-maximize {
    left: $width-sidebar-folded;
  }
}

.sidebar-folded .sidebar {
  @include sidebar-folded-open();
}

