<!---Multimedia---->
<div class="row">
    <div class="col-md-4">
        <!--Card Multimedia carousel-->
        <div id="slideMultimediaPrime" class="card multimedia">
            <div class="swiper-container swiper-pagination-outside swiper-container-horizontal" data-provide="swiper">
                <div class="swiper-wrapper"
                    style="transform: translate3d(-2948px, 0px, 0px); transition-duration: 0ms;">
                    <div class="swiper-slide swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev"
                        data-swiper-slide-index="2" style="width: 737px;"> <img src="/assets/img/gallery/thumb/3.jpg"
                            alt="..."> </div>
                    <div class="swiper-slide" data-swiper-slide-index="0">
                        <div class="semicirclehor"></div> <img src="/assets/img/gallery/thumb/1.jpg" alt="...">
                    </div>
                    <div class="swiper-slide" data-swiper-slide-index="1">
                        <div class="semicirclehor"></div> <img src="/assets/img/gallery/thumb/2.jpg" alt="...">
                    </div>
                    <div class="swiper-slide" data-swiper-slide-index="3">
                        <div class="semicirclehor"></div> <img src="/assets/img/gallery/thumb/3.jpg" alt="...">
                    </div>
                    <div class="swiper-slide" data-swiper-slide-index="4">
                        <div class="semicirclehor"></div> <img src="/assets/img/gallery/thumb/4.jpg" alt="...">
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span
                        class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span
                        class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
            </div>
            <div class="card-body">
                <h4><a class="hover-terciario" href="/pages/informate/multimedia-detalle.html">Nuestro especialista nos
                        presenta un importante proceso interno.</a></h4>
                <div class="card-footer pt-10 p-0">
                    <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                    <div class="gap-items-2 float-md-right">
                        <label class="fs-14 text-lighter mr-2">
                            <i class="fa fa-comment fs-16"></i>25
                        </label>
                        <div class="content-heart">
                            <div class="heart"></div>
                            <span class="fs-14 text-lighter">25</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <!--Card Multimedia embed-->
        <div id="videoMultimediaPrime" class="card multimedia">
            <div class="embed-responsive embed-responsive-16by9" style="height: inherit;">
                <div class="semicirclehor"></div>
                <iframe src="https://www.youtube.com/embed/nrJtHemSPW4" frameborder="0" allowfullscreen=""></iframe>
            </div>
            <div class="card-body">
                <h4><a class="hover-terciario" href="/pages/informate/multimedia-detalle.html">Nuestro especialista nos
                        presenta un importante proceso interno.</a></h4>
                <div class="card-footer pt-10 p-0">
                    <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                    <div class="gap-items-2 float-md-right">
                        <label class="fs-14 text-lighter mr-2">
                            <i class="fa fa-comment fs-16"></i>25
                        </label>
                        <div class="content-heart">
                            <div class="heart"></div>
                            <span class="fs-14 text-lighter">25</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <!--Card Multimedia mp4-->
        <div class="card">
            <div class="bg-img br-4">
                <img class="bg-img-img" src="/assets/img/gallery/thumb/1.jpg" alt="...">
                <div class="semicirclehor"></div>
            </div>
            <div class="card-body">
                <h4><a class="hover-terciario" href="/pages/informate/multimedia-detalle.html">Nuestro especialista nos
                        presenta un importante proceso interno.</a>
                </h4>

                <div class="card-footer pt-10 p-0">
                    <div class="d-inline-block">
                        <small>04/06/2019</small>
                    </div>
                    <div class="gap-items-2 float-md-right">
                        <label class="fs-14 text-lighter mr-2">
                            <i class="fa fa-comment fs-16"></i>25
                        </label>
                        <div class="content-heart">
                            <div class="heart"></div>
                            <span class="fs-14 text-lighter">25</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <!--Card Multimedia mp4-->
        <div class="card">
            <div class="bg-img br-4">
                <img class="bg-img-img" src="/assets/img/gallery/thumb/1.jpg" alt="...">
                <div class="semicirclehor"></div>
            </div>
            <div class="card-body">
                <h4><a class="hover-terciario" href="/pages/informate/multimedia-detalle.html">Nuestro especialista nos
                        presenta un importante proceso interno.</a>
                </h4>

                <div class="card-footer pt-10 p-0">
                    <div class="d-inline-block">
                        <small>04/06/2019</small>
                    </div>
                    <div class="gap-items-2 float-md-right">
                        <label class="fs-14 text-lighter mr-2">
                            <i class="fa fa-comment fs-16"></i>25
                        </label>
                        <div class="content-heart">
                            <div class="heart"></div>
                            <span class="fs-14 text-lighter">25</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <!--Card Multimedia mp4-->
        <div class="card">
            <div class="bg-img br-4">
                <img class="bg-img-img" src="/assets/img/gallery/thumb/1.jpg" alt="...">
                <div class="semicirclehor"></div>
            </div>
            <div class="card-body">
                <h4><a class="hover-terciario" href="/pages/informate/multimedia-detalle.html">Nuestro especialista nos
                        presenta un importante proceso interno.</a>
                </h4>

                <div class="card-footer pt-10 p-0">
                    <div class="d-inline-block">
                        <small>04/06/2019</small>
                    </div>
                    <div class="gap-items-2 float-md-right">
                        <label class="fs-14 text-lighter mr-2">
                            <i class="fa fa-comment fs-16"></i>25
                        </label>
                        <div class="content-heart">
                            <div class="heart"></div>
                            <span class="fs-14 text-lighter">25</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <!--Card Multimedia mp4-->
        <div class="card">
            <div class="bg-img br-4">
                <img class="bg-img-img" src="/assets/img/gallery/thumb/1.jpg" alt="...">
                <div class="semicirclehor"></div>
            </div>
            <div class="card-body">
                <h4><a class="hover-terciario" href="/pages/informate/multimedia-detalle.html">Nuestro especialista nos
                        presenta un importante proceso interno.</a>
                </h4>

                <div class="card-footer pt-10 p-0">
                    <div class="d-inline-block">
                        <small>04/06/2019</small>
                    </div>
                    <div class="gap-items-2 float-md-right">
                        <label class="fs-14 text-lighter mr-2">
                            <i class="fa fa-comment fs-16"></i>25
                        </label>
                        <div class="content-heart">
                            <div class="heart"></div>
                            <span class="fs-14 text-lighter">25</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->
</div>
<!--Paginador-->
<div class="row py-4">
    <div class="container center-vh">
        <nav>
            <ul class="pagination pagination-circle">
                <li class="page-item disabled">
                    <a class="page-link" href="#"> <span class="ti-arrow-left"></span> </a>
                </li>
                <li class="page-item active"> <a class="page-link" href="#">1</a> </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                    <a class="page-link" href="#"> <span class="ti-arrow-right"></span> </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- Scripts -->
<script>
    // Initialize the plugin
    $(document).ready(function () {
        // Scrollable
        //
        $('.media-list, #FeedContent').perfectScrollbar();

        // Initialize the Heart click explose
        $(".heart").on('click touchstart', function () {
            $(this).toggleClass('is_animating');
        });

    });
</script>
