<div id="agenda-container">
    <h2>Lo que tienes que saber</h2>
    <!-- Nav tabs -->
    <div id="TabContent">
        <!-- Tab panes -->
        <div class="py-4 px-0 bg-white tab-content min-height-profile-tab tab-box-shadow">
            <div class="tab-pane active" aria-expanded="true">
                <div class="card-body">
                    <div class="h-profile align-self">
                        <div class="media-list media-list-hover media-list-divided scrollable" style="height: 60vh">
                            <div class="media media-single">
                                <div class="row">
                                    <div class="media-left">
                                        <div class="avatar avatar-lg bg-l-blue fw-900">
                                            <div class="row center-vh">
                                                <span class="dia-num fs-14">01</span>
                                                <span class="dia-text fs-12">Lun</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="px-4 media-body">
                                        <h5><a class="saber" href="#" data-toggle="modal"
                                                data-target="#modal-center">Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit</a></h5>
                                        <p class="py-2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                            accusantium
                                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                            veritatis
                                            et quasi architecto beatae vitae dicta sunt explicabo. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="media media-single">
                                <div class="row">
                                    <div class="media-left">
                                        <div class="avatar avatar-lg bg-l-blue fw-900">
                                            <div class="row center-vh">
                                                <span class="dia-num fs-14">01</span>
                                                <span class="dia-text fs-12">Lun</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="px-4 media-body">
                                        <h5><a class="saber" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit</a></h5>
                                        <p class="py-2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                            accusantium
                                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                            veritatis
                                            et quasi architecto beatae vitae dicta sunt explicabo. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="media media-single">
                                <div class="row">
                                    <div class="media-left">
                                        <div class="avatar avatar-lg bg-l-blue fw-900">
                                            <div class="row center-vh">
                                                <span class="dia-num fs-14">01</span>
                                                <span class="dia-text fs-12">Lun</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="px-4 media-body">
                                        <h5><a class="saber" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit</a></h5>
                                        <p class="py-2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                            accusantium
                                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                            veritatis
                                            et quasi architecto beatae vitae dicta sunt explicabo. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="media media-single">
                                <div class="row">
                                    <div class="media-left">
                                        <div class="avatar avatar-lg bg-l-blue fw-900">
                                            <div class="row center-vh">
                                                <span class="dia-num fs-14">01</span>
                                                <span class="dia-text fs-12">Lun</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="px-4 media-body">
                                        <h5><a class="saber" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit</a></h5>
                                        <p class="py-2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                            accusantium
                                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                            veritatis
                                            et quasi architecto beatae vitae dicta sunt explicabo. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="media media-single">
                                <div class="row">
                                    <div class="media-left">
                                        <div class="avatar avatar-lg bg-l-blue fw-900">
                                            <div class="row center-vh">
                                                <span class="dia-num fs-14">01</span>
                                                <span class="dia-text fs-12">Jue</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="px-4 media-body">
                                        <h5><a class="saber" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit</a></h5>
                                        <p class="py-2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                            accusantium
                                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                            veritatis
                                            et quasi architecto beatae vitae dicta sunt explicabo. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="media media-single">
                                <div class="row">
                                    <div class="media-left">
                                        <div class="avatar avatar-lg bg-l-blue fw-900">
                                            <div class="row center-vh">
                                                <span class="dia-num fs-14">01</span>
                                                <span class="dia-text fs-12">Lun</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="px-4 media-body">
                                        <h5><a class="saber" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit</a></h5>
                                        <p class="py-2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                            accusantium
                                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                            veritatis
                                            et quasi architecto beatae vitae dicta sunt explicabo. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="media media-single">
                                <div class="row">
                                    <div class="media-left">
                                        <div class="avatar avatar-lg bg-l-blue fw-900">
                                            <div class="row center-vh">
                                                <span class="dia-num fs-14">01</span>
                                                <span class="dia-text fs-12">Lun</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="px-4 media-body">
                                        <h5><a class="saber" href="#">Julio</a></h5>
                                        <p class="py-2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                            accusantium
                                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                            veritatis
                                            et quasi architecto beatae vitae dicta sunt explicabo. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="media media-single">
                                <div class="row">
                                    <div class="media-left">
                                        <div class="avatar avatar-lg bg-l-blue fw-900">
                                            <div class="row center-vh">
                                                <span class="dia-num fs-14">01</span>
                                                <span class="dia-text fs-12">Lun</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="px-4 media-body">
                                        <h5><a class="saber" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit</a></h5>
                                        <p class="py-2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                            accusantium
                                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                            veritatis
                                            et quasi architecto beatae vitae dicta sunt explicabo. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="media media-single">
                                <div class="row">
                                    <div class="media-left">
                                        <div class="avatar avatar-lg bg-l-blue fw-900">
                                            <div class="row center-vh">
                                                <span class="dia-num fs-14">01</span>
                                                <span class="dia-text fs-12">Lun</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="px-4 media-body">
                                        <h5><a class="saber" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit</a></h5>
                                        <p class="py-2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                            accusantium
                                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                            veritatis
                                            et quasi architecto beatae vitae dicta sunt explicabo. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal-center" tabindex="-1" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">JORNADAS ODONTOLÓGICAS DE
                            POSTGRADOS U. MAYOR</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <i class="fa fa-times-circle"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Postgrado de la Facultad de Ciencias te invita a participar de nuestra Jornada Odontológica,
                            en donde daremos a conocer el quehacer de nuestros Programas de Especialidades y Diplomados
                            que ofrece la Escuela de Odontología, difundiendo su calidad académica, vinculada a nuestra
                            población a través de la prevención y promoción de la salud bucal, el diagnóstico oportuno y
                            el tratamiento integral de las patologías que afectan al territorio bucomáxilofacial.</p>
                        <p>Los programas de postgrado que imparte nuestra universidad son programas son 100%
                            presenciales, utilizando metodologías de enseñanza actualizadas e innovadoras, con mucho
                            énfasis en la formación clínica, respaldada por la supervisión de docentes con experiencia,
                            en una infraestructura que cuenta con campos clínicos propios, una tecnología de última
                            generación que incorpora la odontología digital, y cuatro pabellones quirúrgicos para
                            realizar cirugías de baja y mediana complejidad, incluyendo intervenciones con sedación.
                        </p>
                        <h5>Información de Jornada:</h5>
                        <ul>
                            <li>Día: sábado 31 de agosto.</li>
                            <li>Hora inicio: 8:45 horas.</li>
                            <li>Hora Termino: 14:30 horas.</li>
                            <li>Lugar: Campus Alameda - Alameda Libertador Bernardo O’Higgins N° 2013, Santiago.</li>
                        </ul>
                        <p>CUPOS LIMITADOS, INSCRIPCIÓN GRATUITA.</p>
                    </div>
                </div>
            </div>
        </div>


        <script>
            // Initialize the plugin
            $(document).ready(function () {
                // Scrollable
                //
                $('.media-list').perfectScrollbar();
            });
        </script>
