<div id="perfil-container">
   <div class="row">
      <!--- Perfil ---->
      <!--- TAB BUSCADOR DE PERSONAS---->
      <div class="col-md-6">
            <!-- Nav tabs -->
            <div>
               <ul class="nav nav-tabs nav-tabs-inverse-mode">
                  <li class=" nav-item">
                     <a class="round-item-single-lf nav-link tab-color-inactive active" data-toggle="tab" href="#datos-personales" aria-expanded="true" style="border-radius: 4px 4px 0 0;">
                        <span class="px-2 text-gray-600">Datos personales</span>
                     </a>
                  </li>
                  
               </ul>
               <!-- Tab panes -->
               
            <div class="bg-white tab-box-shadow pt-4 pb-5">
                  <table class="table table-hover">
                           <tbody>
                              <tr>
                                 <td class="text-terciario border-top-0"><strong class="text-l-blue">Cargo:</strong></td>
                                 <td class="border-top-0"><span class="text-title">Gerente de Recursos Humanos</span></td>
                              </tr>
                              <tr>
                                 <td class="text-terciario"><strong class="text-l-blue">Email:</strong></td>
                                 <td><span class="text-title">persona@empresa.cl</span></td>
                              </tr>
                              <tr>
   
                                 <td class="text-terciario"><strong class="text-l-blue">Teléfono:</strong></td>
                                 <td><span class="text-title">+222334566</span></td>
                              </tr>
                              <tr>
                                 <td class="text-terciario"><strong class="text-l-blue">Área:</strong></td>
   
                                 <td><span class="text-title">Personas</span></td>
                              </tr>
                              <tr>
                                 <td class="text-terciario"><strong class="text-l-blue">Gerencia:</strong></td>
                                 <td><span class="text-title">RRHH</span></td>
                              </tr>
                              <tr>
                                 <td class="text-terciario"><strong class="text-l-blue">Jefe:</strong></td>
                                 <td><span class="text-title">Juan Pérez</span></td>
                              </tr>
                              <tr>
   
                                 <td class="text-terciario"><strong class="text-l-blue">Sucursal:</strong></td>
                                 <td><span class="text-title">Las Condes</span></td>
                              </tr>
                              <tr>
   
                                 <td class="text-terciario"><strong class="text-l-blue">Cumpleaños:</strong></td>
                                 <td><span class="text-title">14 de diciembre</span></td>
                              </tr>
                           </tbody>
                        </table>
                  
   
               </div></div>
         </div>
      <!--- FIN TAB BUSCADOR DE PERSONAS---->


      <div class="col-md-6">
         <!--Perfil de usuario-->
         <div class="card-perfil perfil-usuario-ops card m-0">
            <div class="bg-light img-perfil-dest center-vh">
               <img class="img-back-perfil" src="/assets/img/bg/bg-login.png">
               <a id="demo-basic" class="align-self-center" href="#">
                  <img class="avatar avatar-xxl avatar-bordered mb-3" src="/assets/img/avatar/6.jpg" alt="..."></a>
            </div>
            <div class="py-4">
               <div class="bb-1 pt-3">
                  <h5><a class="hover-primary" href="#">José Quintero</a></h5>
                  <a class="hover-primary cargo" href="#">Atención al Cliente</a> - <a class="hover-primary sede"
                     href="#">Los Dominicos</a>
                  <h5 class="mt-4 py-3"><a class="hover-primary" href="#">Interacciones</a></h5>
               </div>
               <div class="container">
                  <div class="row pt-5 pb-5 center-vh">
                     <div class="text-center px-4 py-0">
                        <span class=" fa fa-instagram fs-20 bg-white avatar avatar-lg b-1 mb-2 text-l-blue border-l-blue"></span>
                        <p class="text-l-blue">530</p>
                     </div>
                     <div class="text-center px-4">
                        <span class="fa fa-commenting-o fs-20 bg-white avatar avatar-lg b-1  mb-2 text-l-pink border-l-pink"></span>
                        <p class="text-l-pink">530</p>
                     </div>
                     <div class="text-center px-4">
                        <span class="fa fa-heart-o fs-20 bg-white avatar avatar-lg b-1 mb-2 text-h-pink border-h-pink"></span>
                        <p class="text-h-pink">530</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--End perfil de usuario-->
      <!--- End Perfil ---->

   </div>
</div>
<script>
   // Initialize the plugin
   $(document).ready(function () {
      // Scrollable
      //
      $('.media-list, #FeedContent').perfectScrollbar();
   });
</script>