<div id="centro-notificaciones-container">
    <!-- Nav tabs -->
    <div id="TabContent">
        <ul id="tabPrime" class="nav nav-tabs nav-tabs-inverse-mode">
            <li class="nav-item br-1 nav-item espirituLink">
                <a class="round-item-single-lf nav-link tab-color-inactive active" data-toggle="tab" href="#Reciente"
                    aria-expanded="true" style="border-radius: 4px 4px 0 0;">
                    <span class="px-2">Recientes</span>
                </a>
            </li>
            <li class="nav-item espirituLink">
                <a class="nav-link br-1 tab-color-inactive" data-toggle="tab" href="#Cometarios" aria-expanded="false"
                    style="border-radius: 4px 4px 0 0;">
                    <span class="px-2">Comentarios</span>
                </a>
            </li>
            <li class="nav-item espirituLink">
                <a class="nav-link br-1 tab-color-inactive" data-toggle="tab" href="#Likes" aria-expanded="false"
                    style="border-radius: 4px 4px 0 0;">
                    <span class="px-2">Likes</span>
                </a>
            </li>
            <li class="nav-item espirituLink">
                <a class="nav-link br-1 tab-color-inactive" data-toggle="tab" href="#MiMundo" aria-expanded="false"
                    style="border-radius: 4px 4px 0 0;">
                    <span class="px-2">Mi Mundo</span>
                </a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="py-4 px-0 bg-white tab-content min-height-profile-tab tab-box-shadow">
            <div class="tab-pane active" id="Reciente" aria-expanded="true">
                <div class="card-body">
                    <div class="media-list media-list-hover media-list-divided scrollable" style="height: 530px">
                        <!--Usuario-->
                        <div style="border-bottom: solid 1px #d6e3ee;" class="row mb-3 pb-3 border-bottom">
                            <div class="col-3 col-md-2 col-lg-1"><a href="#" class="avatar float-right">
                                    <img src="/assets/img/avatar/2.jpg" alt="...">
                                </a></div>
                            <div class="col-8 col-md-9 col-lg-9">
                                <div class="media-body">
                                    <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                            href="/pages/perfil/perfil.html">Patricio
                                            Olivares</a>le gustó tu comentario</h6>

                                    <p>Continually drive user friendly solutions through performance based
                                        infomediaries.
                                        Continually drive user friendly solutions through performance based
                                        infomediaries.
                                        Continually drive user friendly solutions through performance based
                                        infomediaries.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-1 col-md-2"><a
                                    class="btn btn-vermas btn-sm float-right text-fade mr-3 mt-3">Ver más</a></div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div style="border-bottom: solid 1px #d6e3ee;" class="row mb-3 pb-3 border-bottom">
                            <div class="col-3 col-md-2 col-lg-1"><a href="#" class="avatar float-right">
                                    <img src="/assets/img/avatar/2.jpg" alt="...">
                                </a></div>
                            <div class="col-8 col-md-9 col-lg-9">
                                <div class="media-body">
                                    <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                            href="/pages/perfil/perfil.html">Patricio
                                            Olivares</a>le gustó tu comentario</h6>

                                    <p>Continually drive user friendly solutions through performance based
                                        infomediaries.
                                        Continually drive user friendly solutions through performance based
                                        infomediaries.
                                        Continually drive user friendly solutions through performance based
                                        infomediaries.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-1 col-md-2"><a
                                    class="btn btn-vermas btn-sm float-right text-fade mr-3 mt-3">Ver más</a></div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div style="border-bottom: solid 1px #d6e3ee;" class="row mb-3 pb-3 border-bottom">
                            <div class="col-3 col-md-2 col-lg-1"><a href="#" class="avatar float-right">
                                    <img src="/assets/img/avatar/2.jpg" alt="...">
                                </a></div>
                            <div class="col-8 col-md-9 col-lg-9">
                                <div class="media-body">
                                    <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                            href="/pages/perfil/perfil.html">Patricio
                                            Olivares</a>le gustó tu comentario</h6>

                                    <p>Continually drive user friendly solutions through performance based
                                        infomediaries.
                                        Continually drive user friendly solutions through performance based
                                        infomediaries.
                                        Continually drive user friendly solutions through performance based
                                        infomediaries.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-1 col-md-2"><a
                                    class="btn btn-vermas btn-sm float-right text-fade mr-3 mt-3">Ver más</a></div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div style="border-bottom: solid 1px #d6e3ee;" class="row mb-3 pb-3 border-bottom">
                            <div class="col-3 col-md-2 col-lg-1"><a href="#" class="avatar float-right">
                                    <img src="/assets/img/avatar/2.jpg" alt="...">
                                </a></div>
                            <div class="col-8 col-md-9 col-lg-9">
                                <div class="media-body">
                                    <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                            href="/pages/perfil/perfil.html">Patricio
                                            Olivares</a>le gustó tu comentario</h6>

                                    <p>Continually drive user friendly solutions through performance based
                                        infomediaries.
                                        Continually drive user friendly solutions through performance based
                                        infomediaries.
                                        Continually drive user friendly solutions through performance based
                                        infomediaries.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-1 col-md-2"><a
                                    class="btn btn-vermas btn-sm float-right text-fade mr-3 mt-3">Ver más</a></div>
                        </div>
                        <!--End Usuario-->


                        <!--Usuario-->
                        <div style="border-bottom: solid 1px #d6e3ee;" class="row mb-3 pb-3 border-bottom">
                            <div class="col-3 col-md-2 col-lg-1"><a href="#" class="avatar float-right">
                                    <img src="/assets/img/avatar/2.jpg" alt="...">
                                </a></div>
                            <div class="col-8 col-md-9 col-lg-9">
                                <div class="media-body">
                                    <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                            href="/pages/perfil/perfil.html">Patricio
                                            Olivares</a>le gustó tu comentario</h6>

                                    <p>Continually drive user friendly solutions through performance based
                                        infomediaries.
                                        Continually drive user friendly solutions through performance based
                                        infomediaries.
                                        Continually drive user friendly solutions through performance based
                                        infomediaries.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-1 col-md-2"><a
                                    class="btn btn-vermas btn-sm float-right text-fade mr-3 mt-3">Ver más</a></div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div style="border-bottom: solid 1px #d6e3ee;" class="row mb-3 pb-3 border-bottom">
                            <div class="col-3 col-md-2 col-lg-1"><a href="#" class="avatar float-right">
                                    <img src="/assets/img/avatar/2.jpg" alt="...">
                                </a></div>
                            <div class="col-8 col-md-9 col-lg-9">
                                <div class="media-body">
                                    <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                            href="/pages/perfil/perfil.html">Patricio
                                            Olivares</a>le gustó tu comentario</h6>

                                    <p>Continually drive user friendly solutions through performance based
                                        infomediaries.
                                        Continually drive user friendly solutions through performance based
                                        infomediaries.
                                        Continually drive user friendly solutions through performance based
                                        infomediaries.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-1 col-md-2"><a
                                    class="btn btn-vermas btn-sm float-right text-fade mr-3 mt-3">Ver más</a></div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div style="border-bottom: solid 1px #d6e3ee;" class="row mb-3 pb-3 border-bottom">
                            <div class="col-3 col-md-2 col-lg-1"><a href="#" class="avatar float-right">
                                    <img src="/assets/img/avatar/2.jpg" alt="...">
                                </a></div>
                            <div class="col-8 col-md-9 col-lg-9">
                                <div class="media-body">
                                    <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                            href="/pages/perfil/perfil.html">Patricio
                                            Olivares</a>le gustó tu comentario</h6>

                                    <p>Continually drive user friendly solutions through performance based
                                        infomediaries.
                                        Continually drive user friendly solutions through performance based
                                        infomediaries.
                                        Continually drive user friendly solutions through performance based
                                        infomediaries.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-1 col-md-2"><a
                                    class="btn btn-vermas btn-sm float-right text-fade mr-3 mt-3">Ver más</a></div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div style="border-bottom: solid 1px #d6e3ee;" class="row mb-3 pb-3 border-bottom">
                            <div class="col-3 col-md-2 col-lg-1"><a href="#" class="avatar float-right">
                                    <img src="/assets/img/avatar/2.jpg" alt="...">
                                </a></div>
                            <div class="col-8 col-md-9 col-lg-9">
                                <div class="media-body">
                                    <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                            href="/pages/perfil/perfil.html">Patricio
                                            Olivares</a>le gustó tu comentario</h6>

                                    <p>Continually drive user friendly solutions through performance based
                                        infomediaries.
                                        Continually drive user friendly solutions through performance based
                                        infomediaries.
                                        Continually drive user friendly solutions through performance based
                                        infomediaries.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-1 col-md-2"><a
                                    class="btn btn-vermas btn-sm float-right text-fade mr-3 mt-3">Ver más</a></div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div style="border-bottom: solid 1px #d6e3ee;" class="row mb-3 pb-3 border-bottom">
                            <div class="col-3 col-md-2 col-lg-1"><a href="#" class="avatar float-right">
                                    <img src="/assets/img/avatar/2.jpg" alt="...">
                                </a></div>
                            <div class="col-8 col-md-9 col-lg-9">
                                <div class="media-body">
                                    <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                            href="/pages/perfil/perfil.html">Patricio
                                            Olivares</a>le gustó tu comentario</h6>

                                    <p>Continually drive user friendly solutions through performance based
                                        infomediaries.
                                        Continually drive user friendly solutions through performance based
                                        infomediaries.
                                        Continually drive user friendly solutions through performance based
                                        infomediaries.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-1 col-md-2"><a
                                    class="btn btn-vermas btn-sm float-right text-fade mr-3 mt-3">Ver más</a></div>
                        </div>
                        <!--End Usuario-->


                    </div>
                </div>
            </div>

            <div class="tab-pane" id="Cometarios" aria-expanded="false">
                <div class="card-body">
                    <div class="media-list media-list-hover media-list-divided scrollable" style="height: 370px">
                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Magdalena Carrion</a>le gustó tu comentario
                                </h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Magdalena Carrion</a>le gustó tu comentario
                                </h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Magdalena Carrion</a>le gustó tu comentario
                                </h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Magdalena Carrion</a>le gustó tu comentario
                                </h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->


                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Magdalena Carrion</a>le gustó tu comentario
                                </h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Patricio
                                        Olivares</a>le gustó tu comentario</h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Magdalena Carrion</a>le gustó tu comentario
                                </h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Patricio
                                        Olivares</a>le gustó tu comentario</h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Magdalena Carrion</a>le gustó tu comentario
                                </h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->


                    </div>
                </div>
            </div>

            <div class="tab-pane" id="Likes" aria-expanded="false">
                <div class="card-body">
                    <div class="media-list media-list-hover media-list-divided scrollable" style="height: 370px">
                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/2.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Patricio
                                        Olivares</a>le gustó tu comentario</h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/2.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Patricio
                                        Olivares</a>le gustó tu comentario</h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/2.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Patricio
                                        Olivares</a>le gustó tu comentario</h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/2.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Patricio
                                        Olivares</a>le gustó tu comentario</h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->


                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/2.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Patricio
                                        Olivares</a>le gustó tu comentario</h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/2.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Patricio
                                        Olivares</a>le gustó tu comentario</h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/2.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Patricio
                                        Olivares</a>le gustó tu comentario</h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/2.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Patricio
                                        Olivares</a>le gustó tu comentario</h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/2.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Patricio
                                        Olivares</a>le gustó tu comentario</h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->


                    </div>
                </div>
            </div>
            <div class="tab-pane" id="MiMundo" aria-expanded="false">
                <div class="card-body">
                    <div class="media-list media-list-hover media-list-divided scrollable" style="height: 370px">
                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Magdalena Carrion</a>le gustó tu comentario
                                </h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Magdalena Carrion</a>le gustó tu comentario
                                </h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Magdalena Carrion</a>le gustó tu comentario
                                </h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Magdalena Carrion</a>le gustó tu comentario
                                </h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->


                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Magdalena Carrion</a>le gustó tu comentario
                                </h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Patricio
                                        Olivares</a>le gustó tu comentario</h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Magdalena Carrion</a>le gustó tu comentario
                                </h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Patricio
                                        Olivares</a>le gustó tu comentario</h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Magdalena Carrion</a>le gustó tu comentario
                                </h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->


                    </div>
                </div>
            </div>

        </div>


    </div>
    <script>
        // Initialize the plugin
        $(document).ready(function () {
            // Scrollable
            //
            $('.media-list, #FeedContent').perfectScrollbar();

        });
    </script>