@import "variables";
@import "mixins/breakpoints";

body {
  font-family: $font-body;
  color: $color-text;
  font-weight: 300;
  font-size: 14px;
  line-height: $line-height-sm;
  min-height: 100vh;
  height: 100%;
  margin: 0;
}
#ops_body{
  font-family: $font-body;
  color: $color-text;
  font-weight: 300;
  font-size: 14px;
  line-height: $line-height-sm;
  min-height: 100vh;
  height: 100%;
  margin: 0;
}
.row:before, .row:after {display: none !important;}
//---------------------------------------------------------------------------
// General
//---------------------------------------------------------------------------
.font-dosis {
  font-family: Dosis, Roboto, sans-serif;
}

h4{
  font-size: 16px;
  font-weight: normal;
  color: #4D5259;
}
p{
  font-size: 14px;
  font-weight: normal;
  color: $gray-700;
}
small, time, .small {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #c7c7c7;
}


//---------------------------------------------------------------------------
// Header images
//.bg-ui-general {
//  background-image: url("/assets/img/bg/bg-login.png");
//}
//


//---------------------------------------------------------------------------
// Buttons
//
.doc-btn-spacing {
  .btn {
    margin-bottom: 10px;
    margin-right: 6px;
  }

  .btn-group {
    margin-bottom: 10px;
  }

  .btn-group .btn,
  .btn-group .btn-group,
  .btn-group-vertical .btn {
    margin-bottom: 0;
    margin-right: 0;
  }
}





//---------------------------------------------------------------------------
// Dropdown
//
.doc-dropdown {
  .dropdown,
  .dropup {
    display: inline-block;
  }

  .dropdown-menu,
  .dropdown-grid {
    transform: scale(1, 1);
  }
}





//---------------------------------------------------------------------------
// Colors
//
.doc-bg-colors-spacing > [class*="bg-"] {
  padding: 8px;
  margin-bottom: 8px;
}


.doc-link-colors-spacing > a[class] {
  padding-right: 8px;
}






//---------------------------------------------------------------------------
// Sample topbars demo
//
.doc-topbar-static .topbar {
  position: static;
  box-shadow: 0 0 5px rgba(0,0,0,0.08);

  .sidebar-toggler,
  .topbar-menu-toggler {
    display: none;
  }

  .topbar-menu-open & .topbar-navigation {
    display: none;
  }
}
#SearchTopBar{
  .lookup {
    input{
      width: 500px!important;
      background-color: $gray-100!important;
  }
    input:focus {
      background-color:$gray-200!important;
    }
  }
}


//Card h4 tit
#TitIcoCard{
  span{
    position: absolute;
    z-index: 9;
    left: 4%;
    top: 2%;
    text-align: center;
  }
}




//---------------------------------------------------------------------------
// Animate on scroll
//
.doc-aos {

  div {
    width: 200px;
    height: 200px;
    margin: 0 auto 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.07);
  }

}




//---------------------------------------------------------------------------
// Media
//
.demo-code-for-media {
  .code-title {
    background-color: #fff;
  }

  .code-preview {
    padding: 0;
  }

  .code-toggler ~ pre {
    display: none;
  }
}

.doc-media-bg .media  {
  background-color: #f9fafb;
}



//---------------------------------------------------------------------------
// Icons
//
.demo-icons-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 32px;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 32px + 40px;
    height: 32px + 40px;
    text-align: center;
    cursor: pointer;
    transition: .1s;

    .material-icons {
      font-size: inherit;
    }

    [data-i8-icon] {
      margin: 0 10px;
    }

    [data-provide~="emoji"] svg {
      width: 32px;
      height: 32px;
    }

    &:hover {
      background-color: #f7fafc;
    }
  }

  &.icons-size-16px {
    font-size: 16px;

    li {
      width: 16px + 40px;
      height: 16px + 40px;
    }
  }

  &.icons-size-24px {
    font-size: 24px;

    li {
      width: 24px + 40px;
      height: 24px + 40px;
    }
  }

  &.icons-size-32px {
    font-size: 32px;

    li {
      width: 32px + 40px;
      height: 32px + 40px;
    }
  }

  &.icons-size-48px {
    font-size: 48px;

    li {
      width: 48px + 40px;
      height: 48px + 40px;
    }
  }

  &.icons-size-64px {
    font-size: 64px;

    li {
      width: 64px + 40px;
      height: 64px + 40px;
    }
  }

  &.icons-size-80px {
    font-size: 80px;

    li {
      width: 80px + 40px;
      height: 80px + 40px;
    }
  }

  &.icons-size-96px {
    font-size: 96px;

    li {
      width: 96px + 40px;
      height: 96px + 40px;
    }
  }
}





//---------------------------------------------------------------------------
// Emojione
//
.demo-emoji-list-container .demo-icons-list {

  li {
    margin-right: 0;
    margin-bottom: 0;
    width: 32px + 20px;
    height: 32px + 20px;
  }

  &.icons-size-16px li {
    width: 16px + 20px;
    height: 16px + 20px;

    [data-provide~="emoji"] svg {
      width: 16px;
      height: 16px;
    }
  }

  &.icons-size-24px li {
    width: 24px + 20px;
    height: 24px + 20px;

    [data-provide~="emoji"] svg {
      width: 24px;
      height: 24px;
    }
  }

  &.icons-size-32px li {
    width: 32px + 20px;
    height: 32px + 20px;

    [data-provide~="emoji"] svg {
      width: 32px;
      height: 32px;
    }
  }

  &.icons-size-48px li {
    width: 48px + 20px;
    height: 48px + 20px;

    [data-provide~="emoji"] svg {
      width: 48px;
      height: 48px;
    }
  }


  &.icons-size-64px li {
    width: 64px + 20px;
    height: 64px + 20px;

    [data-provide~="emoji"] svg {
      width: 64px;
      height: 64px;
    }
  }

  &.icons-size-80px li {
    width: 80px + 20px;
    height: 80px + 20px;

    [data-provide~="emoji"] svg {
      width: 80px;
      height: 80px;
    }
  }

  &.icons-size-96px li {
    width: 96px + 20px;
    height: 96px + 20px;

    [data-provide~="emoji"] svg {
      width: 96px;
      height: 96px;
    }
  }


}





//---------------------------------------------------------------------------
// Color list
//
.demo-color-list {
  list-style: none;
  padding: 0;
  margin: 0;
  //display: flex;
  //flex-wrap: wrap;
  //justify-content: space-between;

  li {
    display: inline-flex;
    flex-direction: column;
    margin: 20px;
    margin-right: 0;
    border: 1px solid $color-divider-light;

    > span {
      display: flex;
      flex-grow: 1;
      flex-basis: 100px;
      min-height: 80px;
      min-width: 160px;
    }
  }

  p {
    font-size: 12px;
    padding: 6px 12px;
    margin-bottom: 0;
    background-color: $color-bg-lightest;
    border-top: 1px solid $color-divider-light;
  }
}





//---------------------------------------------------------------------------
// Tooltip
//
.demo-tooltip-static .tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  margin-bottom: 15px;
}


//----------------------------------------------------------------------------
// image fluid on container
//

.image-container{
  .image-card{
    height: calc(100% - 30px);
    .row{
      height: 100%;
      .img-fill{
        height: 100%;
        display: flex;
        position: relative;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        img{
          max-width: unset;
          position: absolute;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          height: 100%;
          transform: translateX(-20%);
        }
      }
      .p-20{
        display: flex;
        flex-direction: column;
        .card-footer{
          margin-top: auto;
        }
      }
    }
  }
}

@media (max-width: 767px){
  .image-container{
    .image-card{
      height: auto;
      .row{
        height: auto;
        .img-fill{
          height: auto;
          display: block;
          position: relative;
          overflow: visible;
          img{
            position: relative;
            max-width: 100%;
            transform: translateX(0);
            width: 100%;
          }
        }
      }
    }
  }
}

//publish button---------------------------------------------------------------
//

.publish-btn{
  height: 45px;
  width: 45px;
  border-radius: 25px;
  text-align: center;
  line-height: 42px;
  font-size: 20px;
  color: white;
  &:before{
    display: block;
    transform: rotate(50deg);
  }
}
//comment bubble---------------------------------------------------------------
//
.bubble {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
    position: relative;
    &:before{
      content: '';
      height: 35px;
      width: 35px;
      border-radius: 5px;
      transform: rotate(45deg);
      background-color: white;
      position: absolute;
      left: -10px;
      top: 15px;
    }
  }

  /*------Reconocimientos------*/
  .card-title{
    .icon{
        position: absolute;
        top: 25px;
        height: 50px;
        width: 50px;
        border-radius: 25px;
        text-align: center;
        line-height: 50px;
        left: 20px;
        color: white;
    }
  }

  .recommend-sidebar{
    .card-title{
      border-radius: 5px 5px 0 0;
    }
  }

  /*-------card multimedia------*/
  .recommend-sidebar .card-title{
    border-radius: 5px 5px 0 0;
  }

  .multimedia{
    height: calc(100% - 30px);
    .card-body{
      display: flex;
      flex-direction: column;
      .card-footer{
        margin-top: auto;
      }

      .col-md-4:first-child{
        padding-left: 0!important;
      }
      .col-md-4:nth-child(3n){
        padding-right: 0!important;
      }
      .col-md-4:nth-child(4n){
        padding-left: 0!important;
      }
    }
  }
/*-----------------------------------------------------------------
// Home
//*/
#trivia img{
  max-height:215px;
}
#Events.EventsComponent{
  height: 370px;
}

// Home
//*/
/*-----------------------------------------------------------------


/*-----------------------------------------------------------------
// Perfil Usuario
//*/

// Alto de los card
#perfil-container{

  .card-perfil{
    min-height: 455px;
  }
  .tab-pane{
    height: 415px;
  }
  .tab-perfil{
    min-height: 455px;
  }
  
  .text-data-secondary span {
    font-size: 12px;
  }
  .img-back-perfil{
      object-fit: cover;
      object-position: center;
      max-height: 100%;
      width: 100%;
      border-radius: 5px 5px 0 0;
  }
  .perfil-usuario-ops{
    text-align: center;
  }
  .perfil-usuario-ops h5{
    margin-bottom: 0;
  }
  .img-perfil-dest{
    height: 140px;
    width: 100%;
    position: relative;
    text-align: center;
  }
  .img-perfil-dest a {
      position: absolute;
      display: flex;
      bottom: -40px;
  }
  
  .data-perfil-num  {
    width: 32px;
    height: 32px;
    border: 2px solid grey;
    border-radius: 45px;
  }
  
  /*Images limit*/
  .image-limit {
    object-fit: cover;
    object-position: center;
    min-height: 50vh; 
  }
  
  

}

// @include media-up(xl) {
//   .tab-perfil{
//     min-height: 455px;
//   }
//   table.table td{
//     padding-top: 1.3rem!important;
//     padding-bottom: 1.3rem!important; 
//   }
// }

// @include media-down(lg) {
//   .tab-perfil{
//     min-height: 455px;
//   }

// }





/*404 Styles */
/*---------------------- Tab shadow --------------------------*/
.tab-content{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tab-box-shadow {
    -webkit-box-shadow: -3px 4px 8px 0px rgba(0, 0, 0, 0.06);
    box-shadow: -3px 4px 8px 0px rgba(0, 0, 0, 0.06);
}
.min-height-profile-tab{
  min-height: 60vh;
}
.h-profile{
    min-height: 60vh;
}
/*---------------------- Tab shadow --------------------------*/



 
/*404 Styles */ 
.title-404{ 
  font-size: 28vh; 
  line-height: 1; 
  color: #9B9B9B; 
} 
.p-404{ 
  font-size: 23px; 
} 
 
@media (max-width: 1000px) { 
  .cont-text-404{ 
    text-align: center; 
  } 
  .title-404 { 
    font-size: 14vh; 
    text-align: center; 
  } 
  .p-404{ 
    text-align: center; 
  } 
}
 
/*404 Styles */ 

/*-------------Valores styles add------------*/ 
 
.absolute-content{ 
  position: absolute; 
} 
.black-to-fade{ 
  background-image: linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%); 
} 


/*-------------Valores styles add------------*/ 

/*------Contenido Tabs------*/ 
.align-self{ 
  align-self: center; 
} 
.adaptative-img{ 
    object-fit: cover; 
    object-position: center center; 
    height: 100%; 
    width: 100%; 
} 
.mx-h{ 
  max-height: 500px; 
} 
/*------Contenido Tabs------*/ 


//---------------------------------------------------------------------------
// Swiper Slider gallery
//

//Slide img
.swiper-wrapper{
  .swiper-slide img{
    width: 100%;
    max-width: 1024px;
  }
  .swiper-slide .badge{
    position:absolute;
    top: 10px;
    right: 20px;
    opacity: .8;
  }
}

//Pagination
.swiper-container-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-custom, 
.swiper-pagination-fraction{
min-height: 10px;
}

//---------------------------------------------------------------------------
// Carousel Slider gallery
//
.carousel.slide{
  .badge{
    position:absolute;
    top: 10px;
    right: 20px;
    opacity: .8;
  }
}

