//-----------------------------------------------------------------
@charset "UTF-8";
//-----------------------------------------------------------------
// Import
//
@import "clients/tbk";


@media (max-width: 576px) {
  #videoMultimediaPrime.multimedia, #slideMultimediaPrime.multimedia {
    height: calc(100% - 20px) !important;
  }

  .topbar {
    background-color:#1E94BF;
  }

  #SearchTopBarPrime form {
    display: none;
  }

  #SearchSideBar form {
    display: block;
  }
  #SearchSideBar form input {
    border: 1px solid #CBCBCB;
  }
  #SearchSideBar form button {
    position: absolute;
    top: 0;
    right: 0;
    background: #CBCBCB;
    border: none;
  }

  #carouselExampleIndicatorsPrime .card-body h3 {
    font-size: 16px;
    font-weight: 400;
    color: #fff;


  }
  #carouselExampleIndicatorsPrime .card-body span {
    display: none;
  }

  #SearchSideBar.m-0 {
    margin: 10px 4px !important;
  }

  #SearchSideBar > .lookup {
    display: block;
  }
  #SearchSideBar > .lookup button {
    position: absolute;
    top: 0;
    right: 0;
    background: #CBCBCB;
    border: none;
  }

  .main-content {
    padding: 20px;
  }

  .card {
    margin-bottom: 20px;
  }

  #Feed .card {
    margin-bottom: 0px;
  }
  #Feed .card .card {
    margin-bottom: 20px;
  }
  #Feed .card .card.ultimo {
    margin-bottom: 5px !important;
  }

  .site-footer {
    height: auto;
  }

  .carousel-item.rounded,
.carousel-item.rounded.active {
    height: 260px;
  }

  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #agenda-containerPrime .tab-content {
    margin-left: -20px;
    margin-right: -20px;
    background-color: transparent !important;
    box-shadow: inherit;
  }

  .modal-body .detalleForm:nth-child(2) {
    text-align: right;
  }

  .modal-body .detalleForm:nth-child(3) span,
.modal-body .detalleForm:nth-child(4) span {
    margin-top: 30px;
    display: block;
  }

  .searchForm {
    margin-top: 28px;
    width: 120px;
    border-radius: 6px;
    font-weight: 500;
    margin: 0 auto;
    display: block;
  }

  .gridFicha {
    display: grid;
    grid-template-columns: 39.5% 59.5% !important;
    gap: 1%;
  }

  .fridFichaDos {
    display: grid;
    grid-template-columns: 39.5% 59.5% !important;
    gap: 1%;
    margin-bottom: 20px !important;
  }

  .espirituLink {
    width: 100%;
    margin-bottom: 10px !important;
  }
  .espirituLink2 {
    width: 100%;
    margin-bottom: 10px !important;
  }  
  button.btn.btn-w-sm.bg-primary.hover-terciario.rounded.px-2.active,
  button.btn.btn-w-sm.bg-primary.hover-terciario.rounded.px-2 {
    width: 100%;
    margin-bottom: 10px !important;    
  }
  button.btn.btn-w-sm.bg-primarioReal.rounded.px-2 {
    width: 98.3%;
    line-height: 32px;
    font-size: 13px;
    background-color: #3C3C3B;
    color: #fff;
  }

  .bg-primarioReal.active, .bg-primarioReal:hover {
    background-color: $color-primary!important;
  }

  #tabPrime li a {
    border-radius: 4px !important;
  }

  #ColaboradoresPrime .row .col-md-6 {
    padding: 30px 30px 10px !important;
  }

  #ColaboradoresPrime .row .col-md-6:last-child {
    padding: 0 30px 30px !important;
  }

  #colaboradoresDetalle {
    margin-left: -20px;
    margin-right: -20px;
    background-color: transparent !important;
    box-shadow: none;
    margin-top: -20px;
  }
  #SearchTopBarPrime .lookup {
    display: none;
  }
}
@media (min-width: 577px) {
  .searchForm {
    float: right !important;
    display: initial !important;
    margin-top: 28px;
    width: 120px;
    border-radius: 6px;
  }

  #SearchSideBar.m-0 {
    margin: 10px 4px !important;
  }

  #SearchSideBar > .lookup {
    display: block;
  }
  #SearchSideBar > .lookup button {
    position: absolute;
    top: 0;
    right: 0;
    background: #CBCBCB;
    border: none;
  }

  .carousel-item.rounded.active, .carousel-item.rounded.active {
    height: 390px;
  }

  #SearchSideBar form {
    display: none;
  }

  .espirituLink {
    margin-bottom: -1px;
    width: 116px;
  }
  .espirituLink2 {
    width: auto;
    margin-bottom: -1px;
  }
}

@media (max-width: 991px) {
  #SearchTopBarPrime .lookup {
    display: none;
  }
}

#Container {
  background-color: #FAFAF8;
}

.mb-87 {
  margin-bottom: 87px;
}

#Events.EventsComponent {
  height: auto;
}

a.hover-terciario {
  color: $color-l-pink!important;
  font-weight: 400;
  font-size: 14px;
}
h4 > a.hover-terciario {
  font-weight: 600;
  font-size: 16px;
}
h5 a.saber {
  color: #495057 !important;
}

#carouselExampleIndicatorsPrime .carousel-indicators > li,
#carouselExampleIndicators .carousel-indicators > li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transition: opacity 0.6s ease;
  border: none;
}

#carouselExampleIndicatorsPrime .carousel-indicators .active,
#carouselExampleIndicators .carousel-indicators .active {
  background-color: $color-hard-pink;
}

#carouselExampleIndicatorsPrime .carousel-indicators > li,
#carouselExampleIndicatorsPrime .carousel-indicators > li.active  {
  height: 5px !important;
  width: 40px!important;
}

#carouselExampleIndicatorsPrime .card-body {
  position: absolute;
  bottom: 60px;
  width: 100%;
  flex: none;
  padding: 0 24px;
  left: 0;
}
#carouselExampleIndicatorsPrime .card-body h3 {
  color: #fff;
}
#carouselExampleIndicatorsPrime .card-body ul#CardFooterSlider {
  list-style: none;
  position: absolute;
  right: 24px;
  bottom: -50px;
}
#carouselExampleIndicatorsPrime .card-body ul#CardFooterSlider li {
  float: left;
}
#carouselExampleIndicatorsPrime .card-body ul#CardFooterSlider li .heart {
  filter: brightness(140%);
}

.avatar-right {
  position: absolute;
  right: 0!important;
}
.mnt-30 {
  margin-top: -30px !important;
}
span.mercadito-pecio {
  font-size: 25px!important;
  font-weight: 400;
  color: #00aeef!important;
}

#SidebarMenuPrime .menu-link > * {
  margin: 0 0 0 8px;
}

#SliderAccesos .carousel-inner {
  width: 100%;
}
#SliderAccesos .carousel-inner .btn.btn-primary {
  color: #000 !important;
  background-color: white;
  border-color: #ebebeb;
  border: solid 2px #ebebeb;
  padding: 16px 0;
  font-size: 16px;
  font-weight: 500;
}
#SliderAccesos .carousel-inner .btn.btn-primary:hover {
  background-color: #1E94BF;
  color: $white !important;
  border-color: #b1a6a6;
}
#SliderAccesos .carousel-control-next, #SliderAccesos .carousel-control-prev {
  width: auto;
}
#SliderAccesos .carousel-control-prev {
  left: -35px;
  color: #a7a497;
  height: 56px;
}
#SliderAccesos .carousel-control-next {
  right: -29px;
  color: #a7a497;
  height: 56px;
}

#SearchTopBarPrime .lookup input {
  width: 578px !important;
}

.dia-num, .dia-text {
  color: #fff;
}

#FeedPrime > .card > .header-feed > .bg-primary,
#TitIcoCardPrime h4.card-title.text-right.bg-primary {
  background-color: #3C3C3B !important;
  font-weight: 500;
}

#TitIcoCardPrime span {
  position: absolute;
  z-index: 9;
  left: 4%;
  top: 2%;
  text-align: center;
  background-color: #FDD700 !important;
}
#TitIcoCardPrime span i {
  font-size: 26px;
  color: #3c3c3b;
}

.notice-container .notice p {
  color: #086D71;
  font-size: 13px;
  line-height: 18px;
}
.notice-container .card-footer small {
  color: #9B9B9B;
}

#FeedPrime #FeedContent {
  background-color: #ced4da;
  height: 53.3vh;
}
#FeedPrime .header-feed {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  overflow: hidden;
}
#FeedPrime #UsuarioReconocido .avatar-xxs {
  width: 17px !important;
  height: 17px !important;
  vertical-align: top;
}
#FeedPrime #UsuarioReconocido a {
  vertical-align: top;
}
#FeedPrime .img-perfil-dest {
  height: 190px;
  width: 100%;
  position: relative;
  text-align: center;
}
#FeedPrime .img-perfil-dest .demo-basic {
  position: absolute;
  top: 1.3rem;
}
#FeedPrime .img-perfil-dest .img-back-perfil {
  object-fit: cover;
  object-position: center;
  max-height: 100%;
  width: 100%;
}
#FeedPrime .img-perfil-dest #IcoReco {
  position: absolute;
  bottom: 1.3rem;
  right: 1rem;
}

a.publish-btn {
  background-color: $color-l-blue!important;
}

a.publish-btn:hover {
  color: #ecdfdf !important;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
}

#videoMultimediaPrime.multimedia,
#slideMultimediaPrime.multimedia {
  height: calc(100% - 45px);
}

.modal-header, .modal-body {
  margin: 20px;
}

.modal-body .detalleForm span {
  text-align: center;
}
.modal-body .detalleForm i {
  display: block;
  color:$color-primary;
}
.modal-body .detalleForm small {
  text-align: center;
  display: block;
}

.semicirclevert {
  width: 30px;
  height: 100%;
  display: block;
  position: absolute;
  right: 0;
  background: url(../../img/bg/semi-circle-vert.svg) 0 0 no-repeat;
  background-size: cover;
  z-index: 9;
}

.semicirclehor {
  width: 101%;
  height: 20px;
  display: block;
  position: absolute;
  bottom: 0;
  background: url(../../img/bg/semi-circle-hor.svg) 0 0 no-repeat;
  background-size: cover;
  z-index: 9;
}

.cutImage {
  object-fit: cover;
  object-position: center;
  height: 236px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.linkDownloadBox {
  display: block;
  padding: 20px;
  text-align: center;
  color: white;
  background-color: dimgrey;
  border-radius: 10px;
  margin-bottom: 10px;
}

.linkDownload {
  color: #086D71;
}

.table thead th {
  border-bottom: 1px;
}

#tabPrime li a {
  background: #EF3E64;
  color: $white!important;
  border-radius: 4px 4px 0 0;
  line-height: 18px;
  padding: 10px;
  display: block;
  white-space: initial;
  font-size: 0.9em;
  height: 56px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#tabPrime li a:hover {
  color: white !important;
}

#tabPrime li a.active {
  background: white;
  color: $gray-600!important;
}

.bg-redlight {
  background-color: #C3102F !important;
  color: #fff;
}

.ficaAcaFirst label {
  width: 39.5%;
  padding: 0 0 0 8px;
  margin: 0 0 10px 0;
  font-size: 12px;
  font-weight: 500;
  border: solid 1px;
  line-height: 32px;
}
.ficaAcaFirst input {
  width: 59.5%;
  line-height: 28px;
  float: right;
}

span.avatar.avatar-lg.mr-3.bg-primary {
  background-color: #2C70B8 !important;
}

.bg-primarioReal.active {
  background-color: #fff;
  color: #8B95A5;
}

.bg-primarioReal.active,
.bg-primarioReal:hover {
  background-color: #3C3C3B;
  color: #fff;
}

.faceAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detalleAvatar span {
  display: block;
  font-size: 14px!important;
  font-weight: 400;
  a {
    color: #00AEEF!important;
  }
}
.detalleAvatar h5 {
  margin-bottom: 0;
  color: #4D5259;
  font-size: 14px;
}
.btn-detalle {
  padding: 4px 8px;
  color: $white!important;
  background: #8F4199;
  font-weight: 500;
  border: 0;
  border-radius: 4px;
  letter-spacing: initial;  
}
.btn-vermas {
  background-color: #00AEEF;
  padding: 4px 8px;
  color: #fff !important;
  font-weight: 500;
  border: 0;
  border-radius: 4px;
  letter-spacing: initial;
}
#SearchPrime .card-title {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 50px;
}
#SearchPrime .card-title h5 {
  line-height: 40px;
  color: $white;
}
#SearchPrime .searchBody {
  background-color: #ced4da;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#SearchPrime .searchBody input {
  color: #9b9b9b;
  border: 1px solid #ebebeb;
  border-radius: 18px;
  height: 36px;
  width: 280px;
  max-width: 80%;
  padding-left: 36px;
  padding-right: 18px;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.5px;
  outline: none !important;
  transition: 0.5s;
  float: left;
}
#SearchPrime .searchBody a {
  float: right;
  width: 40px;
  height: 40px;
  line-height: 36px;
  font-size: 18px;
  background-color:$white!important;
  color: $color-hard-pink!important;
  :hover {
    color: #63276A !important
  }
}

#ColaboradoresPrime .px-4.media-body span {
  display: block;
  font-size: 12px;
  line-height: 16px;
  margin-top: 10px;
}
#ColaboradoresPrime .px-4.media-body input {
  float: left !important;
  display: block;
  margin-top: 10px;
}

#ColaboradoresPrime .row hr {
  width: 96%;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  background: #eaeaea;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

/*border colors and text-colors*/
.text-l-pink {
  color: $color-l-pink!important;
}
.border-l-pink {
  border: solid 1px $color-l-pink!important;  
}
.text-l-blue {
  color: $color-l-blue!important;
}
.border-l-blue {
  border: solid 1px $color-l-blue!important;  
}
.text-h-pink {
  color: $color-hard-pink!important;
}
.border-h-pink {
  border: solid 1px $color-hard-pink!important;
}
.text-title {
  color: $color-title;
}
.text-gray-600 {
  color: $gray-600;
}
.text-gray-700 {
  color: $gray-700;
}
/*border colors and text-colors*/

#TopBarPageHome {
  background-color:$color-primary;
  height: 100px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
#TopBarPageHome .logo {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}
#TopBarPageHome .logo a {
  width: 80px;
  height: 80px;
}

.homeIntranet {
  margin-top: 50px;
}

h2.home {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  display: inline-block;
  background: url("../../img/bg/bg_lineaAmarilla.png") 0 38px no-repeat;
  height: 40px;
}

.searchHome {
  background: url("../../img/icon/lupa.svg") right center no-repeat;
  background-size: 40px 26px;
  border: solid 1px #C2C2C2;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 26px;
  color: rgba(87, 88, 90, 0.5);
}

.intraNetCard {
  padding: 10px;
  background-color: #57585A;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
}
.intraNetCard ul a {
  padding-left: 100px;
}
.intraNetCard ul a:first-child {
  background: url("../../img/icon/graduado.svg") 10px 10px no-repeat;
  background-color: #C3102F;
  border-bottom: solid 5px #57595A;
}
.intraNetCard ul a:first-child h5 {
  color: #fff;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 600;
}
.intraNetCard ul a:nth-child(2) {
  background: url("../../img/icon/colaboradores.svg") 10px 10px no-repeat;
  background-color: #3C3C3B;
  border-bottom: solid 5px #57595A;
}
.intraNetCard ul a:nth-child(2) h5 {
  color: #fff;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 600;
}
.intraNetCard ul a:last-child {
  background: url("../../img/icon/academicos.svg") 10px 10px no-repeat;
  background-color: #00707B;
}
.intraNetCard ul a:last-child h5 {
  color: #fff;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 600;
}

.carousel-caption.HomePrime {
  background: #00000082;
  width: 80%;
  position: absolute;
  height: 100%;
  top: 0px;
  right: 0;
  left: auto;
  display: block !important;
  padding: 10% 20px;
  text-align: initial;
}
.carousel-caption.HomePrime h3 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.fechaHora {
  background: #C3102F;
}
.fechaHora .fw-900 {
  width: 60px;
  color: #fff;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
}
.fechaHora .fw-900 span:first-child {
  display: block;
  font-size: 40px;
  margin-top: 40px;
}
.fechaHora .fw-900 span:nth-child(2) {
  display: block;
  margin-top: 10px;
  font-size: 18px;
}
.fechaHora .fw-900 span:last-child {
  display: block;
}

.detalleCartelera h5 {
  border-bottom: solid 1px #f96868;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 22px;
}
.detalleCartelera p, .detalleCartelera a {
  font-family: "Open Sans Condensed", sans-serif;
}

input[type=radio] {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  -webkit-appearance: none;
  background: white;
  border-radius: 50%;
  border: solid 2px #bbb2b2;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
}

input[type=radio]:checked {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  -webkit-appearance: none;
  background: #e8e4e4;
  border-radius: 50%;
  border: solid 5px #bbb2b2;
}

.encuesta {
  background: #343a40 !important;
  color: #fff !important;
}
.encuesta h6 {
  color: #fff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
}
.encuesta p {
  color: #fff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 18px;
}

#feedInstagram > div > iframe {
  outline: solid 1px red;
  width: 100% !important;
  max-width: inherit !important;
  min-width: inherit !important;
}

@media (min-width: 577px) {
  .intraNetCard ul a {
    padding-left: 100px;
  }

  .carousel-caption.HomePrime {
    width: 40%;
  }
  .carousel-caption.HomePrime h3 {
    font-size: 20px;
  }
}
@media (min-width: 1199px) {
  #TopBarPageHome {
    height: 160px;
  }
  #TopBarPageHome .logo {
    width: 100px;
    height: 100px;
  }
  #TopBarPageHome .logo a {
    width: 100px;
    height: 100px;
  }

  .homeIntranet {
    margin-top: 110px;
  }
}
#feedInstagram iframe {
  width: 100% !important;
  max-width: inherit !important;
  min-width: inherit !important;
}

.logo-header {
  background-image: url("../../img/brand/tbk/logos/logo_tbk.svg");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  margin: 0 auto;
}

::selection {
  background: $color-primary;
  color: $white;
}

::-moz-selection {
  background: #fed829;
  color: #fff;
}

a {
  color:$color-primary;
  transition: 0.2s linear;
}
a:hover, a:focus {
  color: #9B9B9B;
  text-decoration: none;
  outline: none;
}
a.media {
  color: #9B9B9B;
}
a[class*=text-]:hover, a[class*=text-]:focus {
  text-decoration: none;
}
a[class*=hover-] {
  color: #9B9B9B;
}

.hover-terciario:hover, .hover-terciario:focus {
  color: #F0CA26 !important;
}

.text-primary {
  color:$color-primary !important;
}

a.text-primary:focus, a.text-primary:hover {
  color:$color-primary !important;
}

.text-secondary {
  color: #66BCE7 !important;
}

a.text-secondary:focus, a.text-secondary:hover {
  color: #66BCE7 !important;
}

.text-terciario {
  color: #F0CA26 !important;
}

a.text-terciario:focus, a.text-terciario:hover {
  color: #F0CA26 !important;
}

.sidebar-header {
  background-color:$white;
  color:$white;
}
.sidebar-header a {
  color: #fff;
}

.sidebar.sidebar-light .menu > .menu-item:hover > .menu-link {
  color: #F0CA26 !important;
  background-color: #fefcf5 !important;
}
.sidebar.sidebar-light .menu > .menu-item > .menu-link.open {
  color: #F0CA26 !important;
  background-color: #fefcf5 !important;
}
.sidebar.sidebar-light .menu-submenu .menu-item:hover a.menu-link,
.sidebar.sidebar-light .menu-submenu .menu-item.active a.menu-link {
  color: #F0CA26 !important;
}

.sidebar .menu:not(.menu-bordery) > .menu-item.active > .menu-link {
  background-color: #F0CA26 !important;
}
.sidebar.sidebar-dark .menu:not(.menu-bordery) > .menu-item.active > .menu-link {
  background-color: rgba(240, 202, 38, 0.95) !important;
}
.sidebar.sidebar-dark.sidebar-icons-boxed .menu-submenu .active > .menu-link .icon {
  background-color: rgba(240, 202, 38, 0.85) !important;
}
.sidebar.sidebar-light.sidebar-icons-boxed .menu-submenu .active > .menu-link .icon {
  background-color: #F0CA26;
}
.sidebar.sidebar-light .menu:not(.menu-bordery) > .menu-item.active > .menu-link, .sidebar.sidebar-light .menu:not(.menu-bordery) > .menu-item.active:hover > .menu-link {
  background-color: #F0CA26;
}
.sidebar .menu.menu-bordery > .menu-item.active > .menu-link::before,
.sidebar .menu.menu-bordery > .menu-item:hover > .menu-link::before {
  background-color: #F0CA26;
}
.sidebar.sidebar-icons-boxed .menu.menu-bordery .active > .menu-link .icon {
  background-color: #F0CA26 !important;
}
.sidebar .menu-submenu .menu-item.active > .menu-link .dot::after, .sidebar .menu-submenu .menu-item:hover > .menu-link .dot::after {
  background-color: #F0CA26;
  border-color: #F0CA26;
}


.topbar .menu-item > .menu-link  {
  color: $white;
  padding: 0;
}
.topbar .menu-item:first-child {
  padding: 0 0 0 12px;
}
.topbar .menu-item:hover > .menu-link, .topbar .menu-item.active > .menu-link {
  border-top-color:transparent;
  color: $white;
}

.menu-submenu .menu-item:hover > .menu-link {
  color: #9B9B9B;
}
.menu-submenu .menu-item.active > .menu-link {
  color: #9B9B9B;
}
.menu-submenu .menu-item .dot::after {
  border-color: #9B9B9B;
}

.dropdown.show .topbar-btn {
  border-top-color:$color-primary;
}

.topbar-btn:hover {
  border-top-color:$color-primary;
}

.fc-event:not(.badge),
.fc-event-dot:not(.badge) {
  background-color:$color-primary;
}

.nav-link.active, .nav-link:hover {
  color:$color-primary !important;
  border-bottom-color:$color-primary;
}

.dropdown.show .nav-link {
  border-bottom-color:$color-primary;
}

.header-action .nav-link.active, .header-action .nav-link:hover {
  border-bottom-color:$color-primary;
}

.topbar-right .dropdown-menu::before, .topbar-right .dropdown-menu::after,
.topbar-right .dropdown-grid::before,
.topbar-right .dropdown-grid::after {
  left: 355px;
}
.topbar-right li.show span.topbar-btn {
  color: #000 !important;
}

.btn-primary {
  color: #fff;
  background-color:$color-primary;
  border-color:$color-primary;
}
.btn-primary:hover {
  color: #fff;
  background-color:$color-primary;
  border-color:$color-primary;
}
.btn-primary.disabled, .btn-primary:disabled {
  background-color:$color-primary;
  border-color:$color-primary;
}
.btn-primary.active, .btn-primary:active {
  background-color:$color-primary;
  background-image: none;
  border-color:$color-primary;
}

.show > .btn-primary.dropdown-toggle {
  background-color:$color-primary;
  background-image: none;
  border-color:$color-primary;
}

.btn-secondary {
  color: #fff;
  background-color: #66BCE7;
  border-color: #66BCE7;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #66BCE7;
  border-color: #66BCE7;
}
.btn-secondary.focus, .btn-secondary:focus {
  box-shadow: 0 0 0 3px rgba(134, 142, 150, 0.5);
}
.btn-secondary.disabled, .btn-secondary:disabled {
  background-color: #66BCE7;
  border-color: #66BCE7;
}
.btn-secondary.active, .btn-secondary:active {
  background-color: #66BCE7;
  background-image: none;
  border-color: #66BCE7;
}

.show > .btn-secondary.dropdown-toggle {
  background-color: #66BCE7;
  background-image: none;
  border-color: #66BCE7;
}

.btn-terciario, .btn-tertiary {
  color: #fff;
  background-color: #66BCE7;
  border-color: #66BCE7;
}
.btn-terciario:hover, .btn-tertiary:hover {
  color: #fff;
  background-color: #66BCE7;
  border-color: #66BCE7;
}
.btn-terciario.focus, .btn-terciario:focus, .btn-tertiary.focus, .btn-tertiary:focus {
  box-shadow: 0 0 0 3px rgba(134, 142, 150, 0.5);
}
.btn-terciario.disabled, .btn-terciario:disabled, .btn-tertiary.disabled, .btn-tertiary:disabled {
  background-color: #66BCE7;
  border-color: #66BCE7;
}
.btn-terciario.active, .btn-terciario:active, .btn-tertiary.active, .btn-tertiary:active {
  background-color: #66BCE7;
  background-image: none;
  border-color: #66BCE7;
}

.show > .btn-terciario.dropdown-toggle, .btn-tertiary.dropdown-toggle {
  background-color: #66BCE7;
  background-image: none;
  border-color: #66BCE7;
}

.btn-outline-primary {
  color:$color-primary;
  background-color: transparent;
  background-image: none;
  border-color:$color-primary;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color:$color-primary;
  border-color:$color-primary;
}
.btn-outline-primary.focus, .btn-outline-primary:focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color:$color-primary;
  background-color: transparent;
}
.btn-outline-primary.active, .btn-outline-primary:active {
  color: #fff;
  background-color:$color-primary;
  border-color:$color-primary;
}

.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color:$color-primary;
  border-color:$color-primary;
}

.btn-outline-secondary {
  color: #66BCE7;
  background-color: transparent;
  background-image: none;
  border-color: #66BCE7;
}
.btn-outline-secondary:hover {
  color: #fff;
  background-color: #66BCE7;
  border-color: #66BCE7;
}
.btn-outline-secondary.focus, .btn-outline-secondary:focus {
  box-shadow: 0 0 0 3px rgba(134, 142, 150, 0.5);
}
.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #66BCE7;
  background-color: transparent;
}
.btn-outline-secondary.active, .btn-outline-secondary:active {
  color: #fff;
  background-color: #66BCE7;
  border-color: #66BCE7;
}

.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #66BCE7;
  border-color: #66BCE7;
}

.badge-primary {
  color: #fff;
  background-color:$color-primary;
}
.badge-primary[href]:focus, .badge-primary[href]:hover {
  color: #fff;
  text-decoration: none;
  background-color:$color-primary;
}

.badge-secondary {
  color: #fff;
  background-color: #66BCE7;
}
.badge-secondary[href]:focus, .badge-secondary[href]:hover {
  color: #fff;
  text-decoration: none;
  background-color: #66BCE7;
}

.bg-primary {
  background-color: $white!important;
}
.bg-primary.active {
  background-color: $color-l-pink !important;
  color: $white!important;
}
.bg-hpink {
  background-color: $color-hard-pink!important;
}
.bg-l-pink {
  background-color: $color-l-pink!important;
}
.bg-l-blue {
  background-color: $color-l-blue!important;
}
.text-white {
  color: $white;
}
button.btn.btn-w-sm.bg-primary.hover-terciario.rounded.px-2 {
  color: #3c3833;
}
a.bg-primary:focus, a.bg-primary:hover {
  background-color:$color-primary !important;
}

.bg-secondary {
  background-color: #66BCE7 !important;
}

a.bg-secondary:focus, a.bg-secondary:hover {
  background-color: #6c757d !important;
}

.bg-yellowMayor {
  background-color: #C3102F;
}

.border-primary {
  border-color:$color-primary !important;
}

.border-secondary {
  border-color: #66BCE7 !important;
}

.card-footer {
  color: #929daf;
}

a.hover-primary.mb-10 {
  color: #00AEEF;
  font-size: 14px;
  font-weight: 500;
}

li > a {
  color: #929daf;
}
li > a:hover {
  color:$color-primary;
}

.text-success {
  color: #0C9647 !important;
}

.site-footer a:hover {
  color:$color-primary;
}

.page-link {
    border: 0!important;
    height: 30px!important;
    width: 30px!important;
}
.page-link.prev {
  background: $color-l-blue!important;
  color: white!important;
}
.page-link.next {
  background: $color-l-blue!important;
  color: white!important;
}


.page-link:hover, .page-link:focus {
  background-color: transparent;
  color: $color-l-blue!important;
  border-color: none!important;
}

.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
  background-color: transparent;
  border-color: transparent;
  font-weight: 500;
  color: $color-l-blue!important;
}




/* Para general.css */
#historia-container .nav-tabs .nav-link.active, #historia-container .nav-tabs .nav-link:hover  {
    border-color: $color-blue-t!important;
    font-size: 20px!important;
    color: $color-blue-t!important;
}
#historia-container .nav-tabs .nav-link {
  color: $color-blue-t!important;
  font-size: 16px!important;
  background: transparent!important;
}
.dashedBottom {
  border-bottom: dashed 1px #80808024;
  line-height: 22px;
  display: block;
}

.tbkAccordeon {
  position: relative;
  h5 {
    background: #00AEEF;
    padding: 10px 20px;
    border-radius: 6px;
    margin-bottom: 0;
    a {
      color: white;
      display: block;
    }
    a:before {
      content: "";
      display: inline-block;
      font-family: themify;
      font-size: 12px;
      transition: 0.2s linear;
      position: absolute;
      right: 20px;
    }
    a.collapsed::before {
      transform: rotate(180deg);
    }    
  }
}

.padding-2020020 {
  padding-bottom: 0!important;
}