<!-- Footer -->
<div class="row">
   <!-- Init copyright -->
   <div class="col-md-12">
      <p class="text-center text-md-left fs-11">Copyright © 2019 Colabra. Todos los derechos reservados.</p>
   </div>
</div>
<!-- END Footer -->