<div class="col-md-12">
   <ol class="breadcrumb breadcrumb-arrow">
         <li class="breadcrumb-item"><a class="hover-terciario" href="#">Home</a></li>
   </ol>
</div>

<script>
      $(document).ready(function(){
         var texto = window.location.pathname;
         var split = texto.split("/");
         
         $(split).each(function(i,val){
            if(i>1){
               if(val != '')
                  $(".breadcrumb").append('<li class="breadcrumb-item"><a class="hover-terciario" href="#">'+val.split('.')[0]+'</a></li>');
            }
         });
         $( ".breadcrumb li.breadcrumb-item:last-child a" ).addClass( "text-terciario" );
      });
      </script>