<ul class="quickview-header p-0 nav nav-tabs nav-justified nav-tabs-info">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#qv-global-tab-contacts"><span class="icon ti-home"></span> Home</a>
    </li>
</ul>
<div class="quickview-body ps-container ps-theme-default ps-active-y" data-ps-id="3e961172-afc3-e8bf-1851-51724fbfa8da">
    <div class="tab-content">
        <div class="tab-pane fade active show" id="qv-global-tab-contacts">
            <div class="media-list media-list-hover">
                <div class="media items-center">
                    <a class="title" href="#">Nosotros</a>
                </div>

                <div class="media items-center">
                    <a class="title" href="#">Desarrollo Organizacional</a>
                </div>

                <div class="media items-center">
                    <a class="title" href="#">Selección</a>
                </div>

                <div class="media items-center">
                    <a class="title" href="#">Capacitación</a>
                </div>

                <div class="media items-center">
                    <a class="title" href="#">Calidad de Vida</a>
                </div>

                <div class="media items-center">
                    <a class="title" href="#">Prevensión de Riesgos</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
        <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps-scrollbar-y-rail" style="top: 0px; right: 2px; height: 449px;">
        <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 367px;"></div>
    </div>
</div>