<!-- Sidebar -->
<nav class="sidebar-navigation">
   <header class="sidebar-header">
      <span class="logo">
         <a href="/pages/home/home.html" class="logo-header"></a>
      </span>
      <!--<span class="sidebar-toggle-fold"></span>-->
   </header>
   <!-- Sidebar Perfil-->
   <div class="content-sidebar-profile p-15 text-center">
      <div class="sidebar-profile">
         <a class="avatar avatar-xxl img-hov-fadein mb-2" href="/pages/perfil/perfil.html">
            <img src="/assets/img/avatar/5.jpg" alt="...">
         </a>
         <h5 class="m-1"><a href="/pages/perfil/perfil.html" class="hover-terciario">Lorena López</a></h5>
         <span class="hello-profile"><small class="fs-13 text-light">Estudiante</small></span>
      </div>
   </div>
   <!-- End Sidebar Perfil-->
   <!-- Sidebar Reconocimientos -->
   <div id="SidebarReconocimiento" class="p-2 center-vh h-60px" style="background: white">
      <ul class="list-inline mb-0">

         <li class="list-inline-item">
            <a href="/pages/seccion/centro-de-notificaciones.html"><span class="avatar status-danger"><i
                     class="ti-bell bg-white avatar b-1" style="color: #C3102F;
                     font-size: 20px;
                     line-height: 32px;
                     border: 1px solid #C3102F!important;"></i></span></a>
         </li>
      </ul>
   </div>
   <!-- End Sidebar Reconocimientos -->
   <!-- Sidebar Menu -->
</nav>
<!-- Scripts -->
<script>
   $(document).ready(function () {
      var texto = window.location.pathname;
      var split = texto.split("/");

      $(".menu .menu-item a.menu-link[href='#'] .title").each(function (i, val) {
         if ($(val).html().toUpperCase() == split[2].toUpperCase()) {
            $(val).parent().eq(0).parent().eq(0).addClass('open active');
         }
      });
      $(".menu .menu-submenu .menu-item a.menu-link .title").each(function (i, val) {
         if ($(val).html().toUpperCase() == split[3].replace('-', ' ').toUpperCase().split(".")[0]) {
            $(val).parent().eq(0).parent().eq(0).addClass('active');
         }
      });
   });
</script>
