<div class="topbar-left">
   <span class="topbar-btn sidebar-toggler"><i>☰</i></span>
   <nav class="topbar-navigation d-none d-lg-block">
      <ul class="menu">
         <li class="menu-item active">
            <a class="menu-link" href="#">
               <span class="icon ti-home"></span>
               <span>&#124;</span>
            </a>
         </li>
         <li class="menu-item">
            <a class="menu-link" href="#">
               <span class="title">NOSOTROS</span>
               <span>&#124;</span>
            </a>
         </li>
         <li class="menu-item">
            <a class="menu-link" href="#">
               <span class="title">DESARROLLO ORGANIZACIONAL</span>
               <span>&#124;</span>
            </a>
         </li>
         <li class="menu-item">
            <a class="menu-link" href="#">
               <span class="title">SELECCIÓN</span>
               <span>&#124;</span>
            </a>
         </li>
         <li class="menu-item">
            <a class="menu-link" href="#">
               <span class="title">CAPACITACIÓN</span>
               <span>&#124;</span>
            </a>
         </li>
         <li class="menu-item">
            <a class="menu-link" href="#">
               <span class="title">CALIDAD DE VIDA</span>
               <span>&#124;</span>
            </a>
         </li> 
         <li class="menu-item">
            <a class="menu-link" href="#">
               <span class="title">PREVENSIÓN DE RIESGOS</span>
            </a>
         </li>                  
      </ul>
   </nav>
</div>
<div class="topbar-right">
   <a class="topbar-btn d-block d-md-block d-lg-none" href="#qv-global" data-toggle="quickview"><i class="ti-align-right"></i></a>
   <ul class="topbar-btns">
      <!-- Messages -->
      <li class="dropdown d-none d-md-block">
         <span class="topbar-btn" data-toggle="dropdown" aria-expanded="false"><i class="ti-layout-grid3-alt"></i></span>
         <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"
            style="position: absolute; will-change: top, left; top: 65px; left: 48px;">
            <div class="media-list media-list-divided media-list-hover scrollable ps-container ps-theme-default"
               style="height: 280px" data-ps-id="4aa92405-6e23-f33d-a100-d3a7af290f63">
               <a class="media media-new" href="#">
                  <span class="avatar status-success">
                     <i class="ti-layout-grid3-alt"></i>
                  </span>
                  <div class="media-body">
                     <p><strong>Maryam Amiri</strong> <time class="float-right" datetime="2018-07-14 20:00">23 min
                           ago</time></p>
                     <p>Authoritatively exploit resource maximizing technologies before technically.</p>
                  </div>
               </a>
               <a class="media media-new" href="#">
                  <span class="avatar status-warning">
                     <img src="../assets/img/avatar/2.jpg" alt="...">
                  </span>

                  <div class="media-body">
                     <p><strong>Hossein Shams</strong> <time class="float-right" datetime="2018-07-14 20:00">48 min
                           ago</time></p>
                     <p>Continually plagiarize efficient interfaces after bricks-and-clicks niches.</p>
                  </div>
               </a>
               <a class="media" href="#">
                  <span class="avatar status-dark">
                     <img src="../assets/img/avatar/3.jpg" alt="...">
                  </span>

                  <div class="media-body">
                     <p><strong>Helen Bennett</strong> <time class="float-right" datetime="2018-07-14 20:00">3 hours
                           ago</time></p>
                     <p>Objectively underwhelm cross-unit web-readiness before sticky outsourcing.</p>
                  </div>
               </a>
               <a class="media" href="#">
                  <span class="avatar status-success bg-purple">FT</span>

                  <div class="media-body">
                     <p><strong>Fidel Tonn</strong> <time class="float-right" datetime="2018-07-14 20:00">21 hours
                           ago</time></p>
                     <p>Interactively innovate transparent relationships with holistic infrastructures.</p>
                  </div>
               </a>
               <a class="media" href="#">
                  <span class="avatar status-danger">
                     <img src="../assets/img/avatar/4.jpg" alt="...">
                  </span>
                  <div class="media-body">
                     <p><strong>Freddie Arends</strong> <time class="float-right"
                           datetime="2018-07-14 20:00">Yesterday</time></p>
                     <p>Collaboratively visualize corporate initiatives for web-enabled value.</p>
                  </div>
               </a>
               <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                  <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
               </div>
               <div class="ps-scrollbar-y-rail" style="top: 0px; right: 2px;">
                  <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
               </div>
            </div>
            <div class="dropdown-footer">
               <div class="left">
                  <a href="#">Read all messages</a>
               </div>
               <div class="right">
                  <a href="#" data-provide="tooltip" title="" data-original-title="Mark all as read"><i
                        class="fa fa-circle-o"></i></a>
                  <a href="#" data-provide="tooltip" title="" data-original-title="Settings"><i
                        class="fa fa-gear"></i></a>
               </div>
            </div>
         </div>
      </li>
      <!-- END Messages -->
   </ul>
</div>

<!-- Scripts -->
<script>
   $(".SearchTopBarEnter").keypress(function (e) {
      if (e.which == 13) {
         window.open('/pages/seccion/resultado-de-busqueda.html', '_self');
      }
   });
   $(".SearchTopBarClick").click(function () {
      window.open('/pages/seccion/resultado-de-busqueda.html', '_self');
   });
   $(document).ready(function () {
      $(".dropdown-menu a.dropdown-item").click(function () {
         $("#Style").attr("href", $(this).attr('value'));
      });
   });
</script>