<div id="noticias-detalle-container">
        <div class="row">
           <!--- Detalle Noticias---->
           <div class="row image-container">
              <div class="col-md-8">
                 <div class="card">
                    <img class="card-img-top" src="/assets/img/gallery/1.jpg" alt="Card image cap">
                    <div class="card-body">
                       <h4 class="hover-primary">Card Detalle de noticia</h4>
                       <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                       <div class="card-footer pt-10 p-0">
                           <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                           <div class="gap-items-2 float-md-right">
                              <label class="fs-14 text-lighter mr-2">
                                 <i class="fa fa-comment fs-16"></i>25
                              </label>
                              <div class="content-heart">
                                 <div class="heart"></div>
                                 <span class="fs-14 text-lighter">25</span>
                              </div>
                           </div>
                        </div>
                    </div>
                 </div>
                 <a href="#ContentBox"></a>
                 <div class="card">
                    <div class="card-title bg-primary"> <strong>Escribe un comentario</strong> </div>
                    <form class="publisher bg-light bt-1 border-fade">
                       <input class="publisher-input" type="text" placeholder="Escribe un comentario">
                       <a class="publish-btn bg-primary fa fa-paper-plane" href="#"></a>
                    </form>
                 </div>
                 
                 <div class="media-list media-list-divided">
                    <div class="media">
                       <a class="avatar mt-10" href="#"> <img src="/assets/img/avatar/6.jpg" alt="..."> </a>
                       <div class="media-body">
                          <div class="maincomment ml-20 bubble">
                             <div class="comment-user-options row py-10 px-20">
                                <div class="comment-user col-md-8">
                                   <a href="#"><strong>Frank Camley</strong></a>
                                   <p class="small text-fader">Ejecutivo Comercial</p>
                                </div>
                                <div class="comment-options col-md-4">
                                    <div class="gap-items-2 float-md-right">
                                          <button class="bg-transparent border-transparent text-gray"><strong>Responder</strong></button>
                                          <label class="fs-14 text-lighter mr-2">
                                             <i class="fa fa-comment fs-16"></i>25
                                          </label>
                                          <div class="content-heart">
                                             <div class="heart"></div>
                                             <span class="fs-14 text-lighter">25</span>
                                          </div>
                                       </div>
                                </div>
                             </div>
                             <div class="comment px-20">
                                <p>Uniquely enhance world-class channels with just in time schemas.</p>
                             </div>
                             <div class="comment-data row pb-10 pt-10 m-0 bt-1">
                                <div class="d-inline-block col-md-10 pl-10"><small>Publicado hace dos horas</small></div>
                                <div class="answers-number col-md-2 pr-10"> <strong class="float-md-right"><span class="mr-10">2</span>Respuestas</strong> </div>
                             </div>
                          </div>
                          <div class="media px-0 ml-20">
                             <a class="avatar mt-10" href="#"> <img src="/assets/img/avatar/1.jpg" alt="..."> </a>
                             <div class="secondary-comment media-body ml-20 bubble">
                                <div class="comment-user-options row row py-10 px-20">
                                   <div class="comment-user col-md-7">
                                      <a href="#"><strong>Maryam Amiri</strong></a>
                                      <p class="small text-fader">Ejecutivo Comercial</p>
                                   </div>
                                   <div class="comment-options col-md-5">
                                       <div class="gap-items-2 float-md-right">
                                             <button class="bg-transparent border-transparent text-gray"><strong>Responder</strong></button>
                                             <label class="fs-14 text-lighter mr-2">
                                                <i class="fa fa-comment fs-16"></i>25
                                             </label>
                                             <div class="content-heart">
                                                <div class="heart"></div>
                                                <span class="fs-14 text-lighter">25</span>
                                             </div>
                                          </div>
                                   </div>
                                </div>
                                <div class="comment py-10 px-30">
                                   <p>Thank you for your nice comment.</p>
                                </div>
                                <div class="comment-data row px-20 pb-10 pt-10 m-0 bt-1">
                                   <div class="d-inline-block col-md-10 pl-10"><small>Publicado hace dos horas</small></div>
                                   <div class="answers-number col-md-2 pr-10"> <strong class="float-md-right"><span class="mr-10">2</span>Respuestas</strong> </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-4">
                 <!--Card Recomendados-->
                 <div class="card recommend-sidebar">
                    <div id="TitIcoCard">
                       <h4 class="card-title text-right bg-primary"><span class="avatar avatar-lg avatar-bordered bg-primary"><i class="fa fa-newspaper-o center-vh"></i></span> Comunicado Noticias</h4>
                    </div>
                    <div class="notices-list pt-40">
                       <div class="notice-container p-10 bb-1">
                          
                        <div class="notice">
                              <a href="/pages/comunicado/noticias-detalle.html">
                                 <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco...</p>
                              </a>
                          </div>

                       </div>



                       <div class="notice-container p-10 bb-1">
                          <div class="notice">
                              <a href="/pages/comunicado/noticias-detalle.html">
                                 <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco...</p>
                              </a>
                          </div>
                          <div class="card-footer pt-10 p-0">
                              <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                              <div class="gap-items-2 float-md-right">
                                 <label class="fs-14 text-lighter mr-2">
                                    <i class="fa fa-comment fs-16"></i>25
                                 </label>
                                 <div class="content-heart">
                                    <div class="heart"></div>
                                    <span class="fs-14 text-lighter">25</span>
                                 </div>
                              </div>
                           </div>
                       </div>
                       <div class="notice-container p-10 bb-1">
                          <div class="notice">
                              <a href="/pages/comunicado/noticias-detalle.html">
                                 <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco...</p>
                              </a>
                          </div>
                          <div class="card-footer pt-10 p-0">
                              <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                              <div class="gap-items-2 float-md-right">
                                 <label class="fs-14 text-lighter mr-2">
                                    <i class="fa fa-comment fs-16"></i>25
                                 </label>
                                 <div class="content-heart">
                                    <div class="heart"></div>
                                    <span class="fs-14 text-lighter">25</span>
                                 </div>
                              </div>
                           </div>
                       </div>
                       <div class="notice-container p-10 bb-1">
                          <div class="notice">
                              <a href="/pages/comunicado/noticias-detalle.html">
                                 <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco...</p>
                              </a>
                          </div>
                          <div class="card-footer pt-10 p-0">
                              <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                              <div class="gap-items-2 float-md-right">
                                 <label class="fs-14 text-lighter mr-2">
                                    <i class="fa fa-comment fs-16"></i>25
                                 </label>
                                 <div class="content-heart">
                                    <div class="heart"></div>
                                    <span class="fs-14 text-lighter">25</span>
                                 </div>
                              </div>
                           </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
<!-- Scripts -->
<script>
      // Initialize the plugin
      $(document).ready(function () {
         // Scrollable
         //
         $('.media-list, #FeedContent').perfectScrollbar();
   
         // Initialize the Heart click explose
         $(".heart").on('click touchstart', function () {
            $(this).toggleClass('is_animating');
         });
   
      });
   </script>