<div id="noticias-portada-container">
   <div class="row">
      <div class="row image-container">
         <div class="col-md-8">
            <div class="card image-card">
               <div class="row no-gutters">
                  <div class="col-md-6 img-fill"><img src="/assets/img/gallery/thumb/3.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-6 p-20">
                     <h4><a class="hover-terciario" href="/pages/comunicado/noticias-detalle.html">Revisa esta Noticia
                           destacada para el Home con galería</a></h4>
                     <a href="/pages/comunicado/noticias-detalle.html">
                        <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                           quis nostrud exercitation ullamco. Sed do eiusmod tempor incididunt ut labore et dolore magna
                           aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. sed do eiusmod tempor
                           incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                           exercitation ullamco...</p>
                     </a>

                     <div class="card-footer pt-10 p-0">
                        <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                        <div class="gap-items-2 float-md-right">
                           <label class="fs-14 text-lighter mr-2">
                              <i class="fa fa-comment fs-16"></i>25
                           </label>
                           <div class="content-heart">
                              <div class="heart"></div>
                              <span class="fs-14 text-lighter">25</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <!--Card Noticias-->
            <div class="card">
               <div class="bg-img br-4"> <img class="bg-img-img" src="/assets/img/gallery/thumb/1.jpg" alt="..."> </div>
               <div class="card-body">
                  <h4><a class="hover-terciario" href="/pages/comunicado/noticias-detalle.html">Revisa esta Noticia
                        destacada para el Home con galería</a></h4>
                  <a href="/pages/comunicado/noticias-detalle.html">
                     <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco...</p>
                  </a>
                  <div class="card-footer pt-10 p-0">
                     <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                     <div class="gap-items-2 float-md-right">
                        <label class="fs-14 text-lighter mr-2">
                           <i class="fa fa-comment fs-16"></i>25
                        </label>
                        <div class="content-heart">
                           <div class="heart"></div>
                           <span class="fs-14 text-lighter">25</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-md-4">
            <div class="card">
               <div class="bg-img br-4"> <img class="bg-img-img" src="/assets/img/gallery/thumb/1.jpg" alt="..."> </div>
               <div class="card-body">
                  <h4><a class="hover-terciario" href="/pages/comunicado/noticias-detalle.html">Revisa esta Noticia
                        destacada para el Home con galería</a></h4>
                  <a href="/pages/comunicado/noticias-detalle.html">
                     <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco...</p>
                  </a>
                  <div class="card-footer pt-10 p-0">
                     <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                     <div class="gap-items-2 float-md-right">
                        <label class="fs-14 text-lighter mr-2">
                           <i class="fa fa-comment fs-16"></i>25
                        </label>
                        <div class="content-heart">
                           <div class="heart"></div>
                           <span class="fs-14 text-lighter">25</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="card">
               <div class="bg-img br-4"> <img class="bg-img-img" src="/assets/img/gallery/thumb/1.jpg" alt="..."> </div>
               <div class="card-body">
                  <h4><a class="hover-terciario" href="/pages/comunicado/noticias-detalle.html">Revisa esta Noticia
                        destacada para el Home con galería</a></h4>
                  <a href="/pages/comunicado/noticias-detalle.html">
                     <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco...</p>
                  </a>
                  <div class="card-footer pt-10 p-0">
                     <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                     <div class="gap-items-2 float-md-right">
                        <label class="fs-14 text-lighter mr-2">
                           <i class="fa fa-comment fs-16"></i>25
                        </label>
                        <div class="content-heart">
                           <div class="heart"></div>
                           <span class="fs-14 text-lighter">25</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="card">
               <div class="bg-img br-4"> <img class="bg-img-img" src="/assets/img/gallery/thumb/1.jpg" alt="..."> </div>
               <div class="card-body">
                  <h4><a class="hover-terciario" href="/pages/comunicado/noticias-detalle.html">Revisa esta Noticia
                        destacada para el Home con galería</a></h4>
                  <a href="/pages/comunicado/noticias-detalle.html">
                     <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco...</p>
                  </a>
                  <div class="card-footer pt-10 p-0">
                     <div class="d-inline-block"><small>Publicado hace dos horas</small></div>
                     <div class="gap-items-2 float-md-right">
                        <label class="fs-14 text-lighter mr-2">
                           <i class="fa fa-comment fs-16"></i>25
                        </label>
                        <div class="content-heart">
                           <div class="heart"></div>
                           <span class="fs-14 text-lighter">25</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>


      <!---- Paginador ----->
      <div class="container center-vh">
         <nav>
            <ul class="pagination pagination-circle">
               <li class="page-item disabled">
                  <a class="page-link" href="#"> <span class="ti-arrow-left"></span> </a>
               </li>
               <li class="page-item active"> <a class="page-link" href="#">1</a> </li>
               <li class="page-item"><a class="page-link" href="#">2</a></li>
               <li class="page-item"><a class="page-link" href="#">3</a></li>
               <li class="page-item"><a class="page-link" href="#">4</a></li>
               <li class="page-item"><a class="page-link" href="#">5</a></li>
               <li class="page-item">
                  <a class="page-link" href="#"> <span class="ti-arrow-right"></span> </a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</div>
<!-- Scripts -->
<script>
   // Initialize the plugin
   $(document).ready(function () {
      // Scrollable
      //
      $('.media-list, #FeedContent').perfectScrollbar();

      // Initialize the Heart click explose
      $(".heart").on('click touchstart', function () {
         $(this).toggleClass('is_animating');
      });

   });
</script>