//-----------------------------------------------------------------
// Customized
//
//Logos
$logo-login:                url('../../img/brand/alsea/logos/logo-mimundo-alsea.svg');

$logo-header:              url('../../img/brand/umayor/logos/header-logo.png');

//Header SideBar
$header-bg-img:             url('../../img/bg/bg-head-circle.svg') no-repeat scroll  center bottom;


// Context colors
$color-primary:                 #FED105!default;
$color-secondary:               #66BCE7!default;
$color-terciario:               #F0CA26!default;
$color-tertiary:                #F0CA26!default;

//Fonts
$opensans:                      'Open Sans Condensed', sans-serif;


//-----------------------------------------------------------------
// Colors
//

$white:                  #fff !default;
$gray-100:               #f8f9fa !default;
$gray-200:               #e9ecef !default;
$gray-300:               #dee2e6 !default;
$gray-400:               #ced4da !default;
$gray-500:               #adb5bd !default;
$gray-600:               #868e96 !default;
$gray-700:               #495057 !default;
$gray-800:               #343a40 !default;
$gray-900:               #212529 !default;
$black:                  #000 !default;

// Base colors
$color-blue:             #48b0f7 !default;
$color-indigo:           #6610f2 !default;
$color-purple:           #926dde !default; // 926dde
$color-pink:             #f96197 !default; // ff708e
$color-hard-pink:        #8F4199 !default;
$color-l-pink:           #EF3E64 !default;
$color-l-blue:           #00AEEF !default;
$color-red:              #f96868 !default;
$color-orange:           #faa64b !default;
$color-yellow:           #fcc525 !default;
$color-green:            #15c377 !default; // 46be8a
$color-teal:             #33cabb !default;
$color-cyan:             #57c7d4 !default;
$color-brown:            #8d6658 !default;
$color-dark:             #465161 !default;
$color-blue-t:           #1e94bf !default;

$color-redHome:          #C3102F !default;

$color-gray:             $gray-600 !default;
$color-light:            $gray-100 !default;


$color-success:          $color-green !default; // 46be8a
$color-info:             $color-blue !default;
$color-warning:          $color-orange !default;
$color-danger:           $color-red !default;

//  Menu Color
$color-menu-primary:      #95989A !default;
$bg-color-menu-active:    #fcfdfe !default;


// Background colors
$color-bg-light:         #f5f6f7 !default;
$color-bg-lighter:       #f9fafb !default;
$color-bg-lightest:      #fcfdfe !default;
$color-bg-body:          #f3f5f7 !default;
$color-bg-new:           #f3f9ff !default;
$color-bg-new-hover:     #ecf5fe !default;
$color-bg-dark:          #e3e4e5 !default;
$color-bg-darker:        #dcddde !default;

// Text colors
$color-title:            #4D5259 !default; //37404d
$color-subtitle:         #999999 !default;
$color-text:             #9B9B9B !default;
$color-text-light:       #788394 !default;
$color-text-secondary:   #929daf !default;
$color-text-placeholder: #c9ccce !default;
$color-text-disable:     #a5b3c7 !default;

// Divider color
$color-divider:          #ebebeb !default;
$color-divider-light:    #f1f2f3 !default;


//-----------------------------------------------------------------
// Pale context colors
//
$color-pale-primary:     #fcfeff !default;
$color-pale-secondary:   #f9fcfe !default;
$color-pale-terciario:   #fefcf5 !default;
$color-pale-tertiary:    #fefcf5 !default;
$color-pale-success:     #e3fcf2 !default;
$color-pale-info:        #e3f3fc !default;
$color-pale-warning:     #fcf0e3 !default;
$color-pale-danger:      #fce3e3 !default;
$color-pale-purple:      #ece3fc !default;
$color-pale-pink:        #fce3ec !default;
$color-pale-cyan:        #e3fafc !default;
$color-pale-yellow:      #fcf8e3 !default;
$color-pale-brown:       #eddcd5 !default;
$color-pale-dark:        #c8c8c8 !default;

//
// Maps
//
$colors: (
  'primary':   $color-primary,
  'secondary': $color-secondary,
  'success':   $color-success,
  'terciario': $color-terciario,
  'info':      $color-info,
  'warning':   $color-warning,
  'danger':    $color-danger,
  'pink':      $color-pink,
  'purple':    $color-purple,
  'brown':     $color-brown,
  'cyan':      $color-cyan,
  'yellow':    $color-yellow,
  'gray':      $color-gray,
  'dark':      $color-dark,
);