<div id="beneficios-detalle-container">

   <!--- Detalle Beneficios---->
   <div class="row image-container">
      <div class="col-md-12">
         <div class="card">
            <img class="card-img-top" src="/assets/img/gallery/18.jpg" alt="Card image cap">
            <div class="card-body">
               <h4 class="hover-primary">Titulo para el detalle de los Beneficios y convenios</h4>
               <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                  nostrud exercitation ullamco. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                  enim ad minim veniam, quis nostrud exercitation ullamco. sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
               <p>Montes egestas cras integer varius ligula hendrerit class lobortis fames, et dignissim fringilla
                  sodales dictumst congue nec facilisis, commodo vitae quis condimentum porta sociis habitant ante.
                  Fringilla sed vestibulum tempus non felis imperdiet, ligula nulla risus platea mi erat ridiculus,
                  himenaeos lacus quis potenti justo. Aliquam habitant ridiculus est mi dui fusce in, cum nulla
                  parturient conubia suspendisse lacus fermentum ullamcorper, etiam convallis augue porttitor metus
                  egestas.</p>
               <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                  nostrud exercitation ullamco. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                  enim ad minim veniam, quis nostrud exercitation ullamco. sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
               <div class="card-footer pt-10 p-0">
                  <div class="gap-items-1 float-md-right">
                     <div class="content-heart">
                        <div class="heart"></div>
                        <span class="fs-14 text-lighter">25</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script>
      // Initialize the plugin
      $(document).ready(function () { 
         // Initialize the Heart click explose
         $(".heart").on('click touchstart', function () {
            $(this).toggleClass('is_animating');
         });
   
      });
   </script>