<h2>Búsqueda de Colaboradores</h2>
<div id="agenda-container">
    <!-- Nav tabs -->
    <div id="TabContent">
        <ul id="tabPrime" class="nav nav-tabs nav-tabs-inverse-mode">
            <li class="nav-item br-1 nav-item espirituLink2">
                <a class="round-item-single-lf nav-link tab-color-inactive active" data-toggle="tab" href="#Buscador"
                    aria-expanded="true">
                    <span class="px-2"><i class="fa fa-search"></i> Buscador de personas</span>
                </a>
            </li>
            <li class="nav-item br-1 nav-item espirituLink2">
                <a class="nav-link br-1 tab-color-inactive" data-toggle="tab" href="#Cumpleanos" aria-expanded="false">
                    <span class="px-2"><i class="fa fa-birthday-cake"></i> Cumpleaños de hoy</span>
                </a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="py-4 px-0 bg-white tab-content min-height-profile-tab tab-box-shadow">
            <div class="tab-pane active" id="Buscador" aria-expanded="true">
                <div class="card-body">
                    <div id="SearchTopBarDocumentosUmayor" class="form-group m-0">
                        <div class="lookup w-100 mb-4">
                            <input id="SearchTopBarClick" type="text" placeholder="Buscar..." name="Buscador"
                                onkeypress="validar(event)" class="w-100">
                        </div>
                    </div>
                    <div id="ColaboradoresUmayor" class="h-profile align-self">
                        <div class="media-list media-list-hover media-list-divided scrollable ps-container ps-theme-default ps-active-y"
                            style="height: 60vh">
                            <!-- Perfil Colaborador -->
                            <div style="border-bottom: solid 1px #d6e3ee;" class="row mb-3 pb-3 border-bottom">
                                    <div class="col-md-2 col-4"><a href="#" class="avatar avatar-xxl float-right">
                                            <img class="img-fluid" src="/assets/img/avatar/2.jpg" alt="...">
                                        </a></div>
                                    <div class="col-md-10 col-8">
                                        <div class="media-body">
                                            <h6 class="m-0 text-dark "><a href="/pages/perfil/perfil.html" class="text-l-pink fs-16">Patricio
                                                    Olivares López Quintero
        </a></h6>
        
                                            <p class="fs-12">Ejecutiva Comercial</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            <!-- End Perfil Colaborador -->
                            <!-- Perfil Colaborador -->
                            <div style="border-bottom: solid 1px #d6e3ee;" class="row mb-3 pb-3 border-bottom">
                                    <div class="col-md-2 col-4"><a href="#" class="avatar avatar-xxl float-right">
                                            <img class="img-fluid" src="/assets/img/avatar/2.jpg" alt="...">
                                        </a></div>
                                    <div class="col-md-10 col-8">
                                        <div class="media-body">
                                            <h6 class="m-0 text-dark "><a href="/pages/perfil/perfil.html" class="text-l-pink fs-16">Patricio
                                                    Olivares López Quintero
        </a></h6>
        
                                            <p class="fs-12">Ejecutiva Comercial</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            <!-- End Perfil Colaborador -->
                            <!-- Perfil Colaborador -->
                            <div style="border-bottom: solid 1px #d6e3ee;" class="row mb-3 pb-3 border-bottom">
                                    <div class="col-md-2 col-4"><a href="#" class="avatar avatar-xxl float-right">
                                            <img class="img-fluid" src="/assets/img/avatar/2.jpg" alt="...">
                                        </a></div>
                                    <div class="col-md-10 col-8">
                                        <div class="media-body">
                                            <h6 class="m-0 text-dark "><a href="/pages/perfil/perfil.html" class="text-l-pink fs-16">Patricio
                                                    Olivares López Quintero
        </a></h6>
        
                                            <p class="fs-12">Ejecutiva Comercial</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            <!-- End Perfil Colaborador -->
                            <!-- Perfil Colaborador -->
                            <div style="border-bottom: solid 1px #d6e3ee;" class="row mb-3 pb-3 border-bottom">
                                    <div class="col-md-2 col-4"><a href="#" class="avatar avatar-xxl float-right">
                                            <img class="img-fluid" src="/assets/img/avatar/2.jpg" alt="...">
                                        </a></div>
                                    <div class="col-md-10 col-8">
                                        <div class="media-body">
                                            <h6 class="m-0 text-dark "><a href="/pages/perfil/perfil.html" class="text-l-pink fs-16">Patricio
                                                    Olivares López Quintero
        </a></h6>
        
                                            <p class="fs-12">Ejecutiva Comercial</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            <!-- End Perfil Colaborador -->
                            <!-- Perfil Colaborador -->
                            <div style="border-bottom: solid 1px #d6e3ee;" class="row mb-3 pb-3 border-bottom">
                                    <div class="col-md-2 col-4"><a href="#" class="avatar avatar-xxl float-right">
                                            <img class="img-fluid" src="/assets/img/avatar/2.jpg" alt="...">
                                        </a></div>
                                    <div class="col-md-10 col-8">
                                        <div class="media-body">
                                            <h6 class="m-0 text-dark "><a href="/pages/perfil/perfil.html" class="text-l-pink fs-16">Patricio
                                                    Olivares López Quintero
        </a></h6>
        
                                            <p class="fs-12">Ejecutiva Comercial</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            <!-- End Perfil Colaborador -->
                            <!-- Perfil Colaborador -->
                            <div style="border-bottom: solid 1px #d6e3ee;" class="row mb-3 pb-3 border-bottom">
                                    <div class="col-md-2 col-4"><a href="#" class="avatar avatar-xxl float-right">
                                            <img class="img-fluid" src="/assets/img/avatar/2.jpg" alt="...">
                                        </a></div>
                                    <div class="col-md-10 col-8">
                                        <div class="media-body">
                                            <h6 class="m-0 text-dark "><a href="/pages/perfil/perfil.html" class="text-l-pink fs-16">Patricio
                                                    Olivares López Quintero
        </a></h6>
        
                                            <p class="fs-12">Ejecutiva Comercial</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            <!-- End Perfil Colaborador -->
                            <!-- Perfil Colaborador -->
                            <div style="border-bottom: solid 1px #d6e3ee;" class="row mb-3 pb-3 border-bottom">
                                    <div class="col-md-2 col-4"><a href="#" class="avatar avatar-xxl float-right">
                                            <img class="img-fluid" src="/assets/img/avatar/2.jpg" alt="...">
                                        </a></div>
                                    <div class="col-md-10 col-8">
                                        <div class="media-body">
                                            <h6 class="m-0 text-dark "><a href="/pages/perfil/perfil.html" class="text-l-pink fs-16">Patricio
                                                    Olivares López Quintero
        </a></h6>
        
                                            <p class="fs-12">Ejecutiva Comercial</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            <!-- End Perfil Colaborador -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Cumpleanos" aria-expanded="false">
                <div class="tab-pane tab-pane" id="datos-personales" aria-expanded="false">
                    <div class="card-body">
                        <div id="SearchTopBarDocumentosUmayor" class="form-group m-0">
                            <div class="lookup w-100 mb-4">
                                <input id="SearchTopBarClick" type="text" placeholder="Buscar..." name="Buscador"
                                    onkeypress="validar(event)" class="w-100">
                            </div>
                        </div>
                        <div class="h-profile align-self">
                            afsdfdsfdsfds
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Initialize the plugin
    $(document).ready(function () {
        // Scrollable
        //
        $('.media-list').perfectScrollbar();
    });
</script>