<div id="centro-notificaciones-container">
    <!-- Nav tabs -->
    <div id="TabContent">
        <ul id="tabPrime" class="nav nav-tabs nav-tabs-inverse-mode">
            <li class="nav-item br-1 nav-item">
                <a class="round-item-single-lf nav-link tab-color-inactive active" data-toggle="tab" href="#Reciente"
                    aria-expanded="true" style="border-radius: 4px 4px 0 0;">
                    <span class="px-2">Todos los Concursos Internos</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link br-1 tab-color-inactive" data-toggle="tab" href="#Cometarios" aria-expanded="false"
                    style="border-radius: 4px 4px 0 0;">
                    <span class="px-2">Política Concursos Internos</span>
                </a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="py-4 px-0 bg-white tab-content min-height-profile-tab tab-box-shadow">
            <div class="tab-pane active" id="Reciente" aria-expanded="true">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-4 mb-3">
                            <div class="card m-0 border">
        
                                <div class="card-body">
                                    <div class="row">
        
                                        <div class="col-3 px-3 text-center"><div class="avatar avatar-lg fs-14 bg-hpink fw-900">
                                      <div class="row center-vh">
        
                                         <i class="fa fa-star text-white fs-20"></i>
                                      </div>
                                   </div>
                                        </div>
                                        <div class="col-9 pr-3 pl-0 ml-0 ">
        
                                            <div class="">
                                                <h4 class="m-0"><a class="hover-terciario fw-500" href="/pages/perfil/perfil.html">Título de la Publicación</a></h4>
                                                <p class="mb-0 text-gray-600">Sed do eiusmod tempor incididunt ut labore et dolore magna
                                                    aliqua. </p>
                                                <a href="#">
                                                    <h6 class=" pt-2 m-0 pr-3"><strong>20-08-2019</strong>
                                                    </h6>
                                                </a>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                            </div>
        
                        </div>
        
                        <div class="col-md-4 mb-3">
                            <div class="card m-0 border">
        
                                <div class="card-body">
                                    <div class="row">
        
                                        <div class="col-3 px-3 text-center"><div class="avatar avatar-lg fs-14 bg-hpink fw-900">
                                      <div class="row center-vh">
        
                                         <i class="fa fa-star text-white fs-20"></i>
                                      </div>
                                   </div>
                                        </div>
                                        <div class="col-9 pr-3 pl-0 ml-0 ">
        
                                            <div class="">
                                                <h4 class="m-0"><a class="hover-terciario fw-500" href="/pages/perfil/perfil.html">Título de la Publicación</a></h4>
                                                <p class="mb-0 text-gray-600">Sed do eiusmod tempor incididunt ut labore et dolore magna
                                                    aliqua. </p>
                                                <a href="#">
                                                    <h6 class=" pt-2 m-0 pr-3"><strong>20-08-2019</strong>
                                                    </h6>
                                                </a>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                            </div>
        
                        </div>
        
                        <div class="col-md-4 mb-3">
                            <div class="card m-0 border">
        
                                <div class="card-body">
                                    <div class="row">
        
                                        <div class="col-3 px-3 text-center"><div class="avatar avatar-lg fs-14 bg-hpink fw-900">
                                      <div class="row center-vh">
        
                                         <i class="fa fa-star text-white fs-20"></i>
                                      </div>
                                   </div>
                                        </div>
                                        <div class="col-9 pr-3 pl-0 ml-0 ">
        
                                            <div class="">
                                                <h4 class="m-0"><a class="hover-terciario fw-500" href="/pages/perfil/perfil.html">Título de la Publicación</a></h4>
                                                <p class="mb-0 text-gray-600">Sed do eiusmod tempor incididunt ut labore et dolore magna
                                                    aliqua. </p>
                                                <a href="#">
                                                    <h6 class=" pt-2 m-0 pr-3"><strong>20-08-2019</strong>
                                                    </h6>
                                                </a>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                            </div>
        
                        </div>
        
                        <div class="col-md-4 mb-3">
                            <div class="card m-0 border">
        
                                <div class="card-body">
                                    <div class="row">
        
                                        <div class="col-3 px-3 text-center"><div class="avatar avatar-lg fs-14 bg-hpink fw-900">
                                      <div class="row center-vh">
        
                                         <i class="fa fa-star text-white fs-20"></i>
                                      </div>
                                   </div>
                                        </div>
                                        <div class="col-9 pr-3 pl-0 ml-0 ">
        
                                            <div class="">
                                                <h4 class="m-0"><a class="hover-terciario fw-500" href="/pages/perfil/perfil.html">Título de la Publicación</a></h4>
                                                <p class="mb-0 text-gray-600">Sed do eiusmod tempor incididunt ut labore et dolore magna
                                                    aliqua. </p>
                                                <a href="#">
                                                    <h6 class=" pt-2 m-0 pr-3"><strong>20-08-2019</strong>
                                                    </h6>
                                                </a>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                            </div>
        
                        </div>
        
                        <div class="col-md-4 mb-3">
                            <div class="card m-0 border">
        
                                <div class="card-body">
                                    <div class="row">
        
                                        <div class="col-3 px-3 text-center"><div class="avatar avatar-lg fs-14 bg-hpink fw-900">
                                      <div class="row center-vh">
        
                                         <i class="fa fa-star text-white fs-20"></i>
                                      </div>
                                   </div>
                                        </div>
                                        <div class="col-9 pr-3 pl-0 ml-0 ">
        
                                            <div class="">
                                                <h4 class="m-0"><a class="hover-terciario fw-500" href="/pages/perfil/perfil.html">Título de la Publicación</a></h4>
                                                <p class="mb-0 text-gray-600">Sed do eiusmod tempor incididunt ut labore et dolore magna
                                                    aliqua. </p>
                                                <a href="#">
                                                    <h6 class=" pt-2 m-0 pr-3"><strong>20-08-2019</strong>
                                                    </h6>
                                                </a>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                            </div>
        
                        </div>
        
                        <div class="col-md-4 mb-3">
                            <div class="card m-0 border">
        
                                <div class="card-body">
                                    <div class="row">
        
                                        <div class="col-3 px-3 text-center"><div class="avatar avatar-lg fs-14 bg-hpink fw-900">
                                      <div class="row center-vh">
        
                                         <i class="fa fa-star text-white fs-20"></i>
                                      </div>
                                   </div>
                                        </div>
                                        <div class="col-9 pr-3 pl-0 ml-0 ">
        
                                            <div class="">
                                                <h4 class="m-0"><a class="hover-terciario fw-500" href="/pages/perfil/perfil.html">Título de la Publicación</a></h4>
                                                <p class="mb-0 text-gray-600">Sed do eiusmod tempor incididunt ut labore et dolore magna
                                                    aliqua. </p>
                                                <a href="#">
                                                    <h6 class=" pt-2 m-0 pr-3"><strong>20-08-2019</strong>
                                                    </h6>
                                                </a>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                            </div>
        
                        </div>
        
                        <div class="col-md-4 mb-3">
                            <div class="card m-0 border">
        
                                <div class="card-body">
                                    <div class="row">
        
                                        <div class="col-3 px-3 text-center"><div class="avatar avatar-lg fs-14 bg-hpink fw-900">
                                      <div class="row center-vh">
        
                                         <i class="fa fa-star text-white fs-20"></i>
                                      </div>
                                   </div>
                                        </div>
                                        <div class="col-9 pr-3 pl-0 ml-0 ">
        
                                            <div class="">
                                                <h4 class="m-0"><a class="hover-terciario fw-500" href="/pages/perfil/perfil.html">Título de la Publicación</a></h4>
                                                <p class="mb-0 text-gray-600">Sed do eiusmod tempor incididunt ut labore et dolore magna
                                                    aliqua. </p>
                                                <a href="#">
                                                    <h6 class=" pt-2 m-0 pr-3"><strong>20-08-2019</strong>
                                                    </h6>
                                                </a>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                            </div>
        
                        </div>
        
                        <div class="col-md-4 mb-3">
                            <div class="card m-0 border">
        
                                <div class="card-body">
                                    <div class="row">
        
                                        <div class="col-3 px-3 text-center"><div class="avatar avatar-lg fs-14 bg-hpink fw-900">
                                      <div class="row center-vh">
        
                                         <i class="fa fa-star text-white fs-20"></i>
                                      </div>
                                   </div>
                                        </div>
                                        <div class="col-9 pr-3 pl-0 ml-0 ">
        
                                            <div class="">
                                                <h4 class="m-0"><a class="hover-terciario fw-500" href="/pages/perfil/perfil.html">Título de la Publicación</a></h4>
                                                <p class="mb-0 text-gray-600">Sed do eiusmod tempor incididunt ut labore et dolore magna
                                                    aliqua. </p>
                                                <a href="#">
                                                    <h6 class=" pt-2 m-0 pr-3"><strong>20-08-2019</strong>
                                                    </h6>
                                                </a>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                            </div>
        
                        </div>
        
                        <div class="col-md-4 mb-3">
                            <div class="card m-0 border">
        
                                <div class="card-body">
                                    <div class="row">
        
                                        <div class="col-3 px-3 text-center"><div class="avatar avatar-lg fs-14 bg-hpink fw-900">
                                      <div class="row center-vh">
        
                                         <i class="fa fa-star text-white fs-20"></i>
                                      </div>
                                   </div>
                                        </div>
                                        <div class="col-9 pr-3 pl-0 ml-0 ">
        
                                            <div class="">
                                                <h4 class="m-0"><a class="hover-terciario fw-500" href="/pages/perfil/perfil.html">Título de la Publicación</a></h4>
                                                <p class="mb-0 text-gray-600">Sed do eiusmod tempor incididunt ut labore et dolore magna
                                                    aliqua. </p>
                                                <a href="#">
                                                    <h6 class=" pt-2 m-0 pr-3"><strong>20-08-2019</strong>
                                                    </h6>
                                                </a>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                            </div>
        
                        </div>
        
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="Cometarios" aria-expanded="false">
                <div class="card-body">
                    <div class="media-list media-list-hover media-list-divided scrollable" style="height: 370px">
                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Magdalena Carrion</a>le gustó tu comentario
                                </h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Magdalena Carrion</a>le gustó tu comentario
                                </h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Magdalena Carrion</a>le gustó tu comentario
                                </h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Magdalena Carrion</a>le gustó tu comentario
                                </h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->


                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Magdalena Carrion</a>le gustó tu comentario
                                </h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Patricio
                                        Olivares</a>le gustó tu comentario</h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Magdalena Carrion</a>le gustó tu comentario
                                </h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Patricio
                                        Olivares</a>le gustó tu comentario</h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->

                        <!--Usuario-->
                        <div class="media">
                            <a class="avatar" href="#">
                                <img src="/assets/img/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="m-0 text-dark ">A <a class="hover-terciario"
                                        href="/pages/perfil/perfil.html">Magdalena Carrion</a>le gustó tu comentario
                                </h6>
                                <time class="float-right text-fade" datetime="2018-07-14 20:00">hace dos horas</time>
                                <p>Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                    Continually drive user friendly solutions through performance based infomediaries.
                                </p>
                            </div>
                        </div>
                        <!--End Usuario-->


                    </div>
                </div>
            </div>
            <div class="container center-vh">
            
        <nav class="mt-5">
                <ul class="pagination pagination-circle">
                    <li class="page-item disabled">
                        <a class="page-link prev" href="#"> <span class="fa fa-angle-left fs-14"></span> </a>
                    </li>
                    <li class="page-item active"> <a class="page-link" href="#">1</a> </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                        <a class="page-link next" href="#"> <span class="fa fa-angle-right fs-14"></span> </a>
                    </li>
                </ul>
            </nav>
        </div>

        </div>


    </div>
    <script>
        // Initialize the plugin
        $(document).ready(function () {
            // Scrollable
            //
            $('.media-list, #FeedContent').perfectScrollbar();

        });
    </script>