<div id="convenios-container">
      <div class="row">
         <div class="container-fluid">
            <div class="tab-box-shadow card bg-transparent">
               <div>
                  <!-- Nav tabs -->

                  <ul class="nav nav-tabs nav-tabs-inverse-mode">
                        <li class=" nav-item">
                           <a class="round-item-single-lf nav-link tab-color-inactive active" data-toggle="tab" href="#General" aria-expanded="true" style="border-radius: 4px 4px 0 0;">
                              <span class="px-2">Convenios Generales</span>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link br-1 tab-color-inactive" data-toggle="tab" href="#Isapre" aria-expanded="false" style="border-radius: 4px 4px 0 0;">
                              <span class="px-2">Convenios Isapre</span>
                           </a>
                        </li>

                     </ul>
                     <!-- Tab panes -->
      <!-- Tab panes -->
      <div class="py-4 px-0 bg-white tab-content min-height-profile-tab tab-box-shadow">
            <div class="tab-pane active" id="julio" aria-expanded="true">
               <div class="card-body">
                  <div class="h-profile align-self">
                        <div class="container-fluid">
                              <div class="row p-0">
                                 <div class="col-md-4 py-2" style="
                                    align-self: center;
                                    ">
                                    <div class="py-4">
                                       <div class="card-body">
                                          <div class="row">
                                             <div class="col-2 px-3 text-center"><span class="text-center">
                                                <a class="fa fa-home fs-40 text-center"></a>
                                                </span>
                                             </div>
                                             <div class="col-10 px-3 pl-0 ">
                                                <div class="">
                                                   <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio (100%)</a>
                                                   </h6>
                                                   <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                                   </p>
                                                   <a href="#"></a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="py-4">
                                       <div class="card-body">
                                          <div class="row">
                                             <div class="col-2 px-3 text-center"><span class="text-center">
                                                <a class="fa fa-home fs-40 text-center"></a>
                                                </span>
                                             </div>
                                             <div class="col-10 px-3 pl-0 ">
                                                <div class="">
                                                   <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio (100%)</a>
                                                   </h6>
                                                   <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                                   </p>
                                                   <a href="#"></a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="py-4">
                                       <div class="card-body">
                                          <div class="row">
                                             <div class="col-2 px-3 text-center"><span class="text-center">
                                                <a class="fa fa-home fs-40 text-center"></a>
                                                </span>
                                             </div>
                                             <div class="col-10 px-3 pl-0 ">
                                                <div class="">
                                                   <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio (100%)</a>
                                                   </h6>
                                                   <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                                   </p>
                                                   <a href="#"></a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-4 py-2" style="align-self: center;">
                                    <div class="py-4">
                                       <div class="card-body">
                                          <div class="row">
                                             <div class="col-2 px-3 text-center"><span class="text-center">
                                                <a class="fa fa-home fs-40 text-center"></a>
                                                </span>
                                             </div>
                                             <div class="col-10 px-3 pl-0 ">
                                                <div class="">
                                                   <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio (100%)</a>
                                                   </h6>
                                                   <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                                   </p>
                                                   <a href="#"></a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="py-4">
                                       <div class="card-body">
                                          <div class="row">
                                             <div class="col-2 px-3 text-center"><span class="text-center">
                                                <a class="fa fa-home fs-40 text-center"></a>
                                                </span>
                                             </div>
                                             <div class="col-10 px-3 pl-0 ">
                                                <div class="">
                                                   <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio (100%)</a>
                                                   </h6>
                                                   <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                                   </p>
                                                   <a href="#"></a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="py-4">
                                       <div class="card-body">
                                          <div class="row">
                                             <div class="col-2 px-3 text-center"><span class="text-center">
                                                <a class="fa fa-home fs-40 text-center"></a>
                                                </span>
                                             </div>
                                             <div class="col-10 px-3 pl-0 ">
                                                <div class="">
                                                   <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio (100%)</a>
                                                   </h6>
                                                   <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                                   </p>
                                                   <a href="#"></a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-4 pr-0" style="
                                    max-height: 100%;
                                    ">
                                    <img
                                       src="https://images.unsplash.com/photo-1521898284481-a5ec348cb555?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1534&amp;q=80"
                                       style="object-fit: cover; object-position: center center; height: 100%; width: 100%; border-radius: 0 2px 2px 0; max-height: 500px;">
                                 </div>
                              </div>
                           </div>
                  </div>
               </div>
            </div>
            <div class="tab-pane" id="junio" aria-expanded="false">
               <div class="tab-pane tab-pane" id="datos-personales" aria-expanded="false">
                  <div class="card-body">
                     <div class="h-profile align-self">
                           <div class="container-fluid">
                                 <div class="row p-0">
                                    <div class="col-md-4 py-2" style="
                                       align-self: center;
                                       ">
                                       <div class="py-4">
                                          <div class="card-body">
                                             <div class="row">
                                                <div class="col-2 px-3 text-center"><span class="text-center">
                                                   <a class="fa fa-home fs-40 text-center"></a>
                                                   </span>
                                                </div>
                                                <div class="col-10 px-3 pl-0 ">
                                                   <div class="">
                                                      <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio (100%)</a>
                                                      </h6>
                                                      <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                                      </p>
                                                      <a href="#"></a>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="py-4">
                                          <div class="card-body">
                                             <div class="row">
                                                <div class="col-2 px-3 text-center"><span class="text-center">
                                                   <a class="fa fa-home fs-40 text-center"></a>
                                                   </span>
                                                </div>
                                                <div class="col-10 px-3 pl-0 ">
                                                   <div class="">
                                                      <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio (100%)</a>
                                                      </h6>
                                                      <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                                      </p>
                                                      <a href="#"></a>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="py-4">
                                          <div class="card-body">
                                             <div class="row">
                                                <div class="col-2 px-3 text-center"><span class="text-center">
                                                   <a class="fa fa-home fs-40 text-center"></a>
                                                   </span>
                                                </div>
                                                <div class="col-10 px-3 pl-0 ">
                                                   <div class="">
                                                      <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio (100%)</a>
                                                      </h6>
                                                      <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                                      </p>
                                                      <a href="#"></a>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4 py-2" style="align-self: center;">
                                       <div class="py-4">
                                          <div class="card-body">
                                             <div class="row">
                                                <div class="col-2 px-3 text-center"><span class="text-center">
                                                   <a class="fa fa-home fs-40 text-center"></a>
                                                   </span>
                                                </div>
                                                <div class="col-10 px-3 pl-0 ">
                                                   <div class="">
                                                      <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio (100%)</a>
                                                      </h6>
                                                      <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                                      </p>
                                                      <a href="#"></a>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="py-4">
                                          <div class="card-body">
                                             <div class="row">
                                                <div class="col-2 px-3 text-center"><span class="text-center">
                                                   <a class="fa fa-home fs-40 text-center"></a>
                                                   </span>
                                                </div>
                                                <div class="col-10 px-3 pl-0 ">
                                                   <div class="">
                                                      <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio (100%)</a>
                                                      </h6>
                                                      <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                                      </p>
                                                      <a href="#"></a>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="py-4">
                                          <div class="card-body">
                                             <div class="row">
                                                <div class="col-2 px-3 text-center"><span class="text-center">
                                                   <a class="fa fa-home fs-40 text-center"></a>
                                                   </span>
                                                </div>
                                                <div class="col-10 px-3 pl-0 ">
                                                   <div class="">
                                                      <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio (100%)</a>
                                                      </h6>
                                                      <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                                      </p>
                                                      <a href="#"></a>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4 pr-0" style="
                                       max-height: 100%;
                                       ">
                                       <img
                                          src="https://images.unsplash.com/photo-1521898284481-a5ec348cb555?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1534&amp;q=80"
                                          style="object-fit: cover; object-position: center center; height: 100%; width: 100%; border-radius: 0 2px 2px 0; max-height: 500px;">
                                    </div>
                                 </div>
                              </div>
                     </div>
                  </div>
   
               </div>
            </div>
            <div class="tab-pane" id="mayo" aria-expanded="false">
               <div class="tab-pane tab-pane" id="datos-personales" aria-expanded="false">
                  <div class="card-body">
                     <div class="h-profile align-self">

                           <div class="container-fluid">
                                 <div class="row p-0">
                                    <div class="col-md-4 py-2" style="
                                       align-self: center;
                                       ">
                                       <div class="py-4">
                                          <div class="card-body">
                                             <div class="row">
                                                <div class="col-2 px-3 text-center"><span class="text-center">
                                                   <a class="fa fa-home fs-40 text-center"></a>
                                                   </span>
                                                </div>
                                                <div class="col-10 px-3 pl-0 ">
                                                   <div class="">
                                                      <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio (100%)</a>
                                                      </h6>
                                                      <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                                      </p>
                                                      <a href="#"></a>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="py-4">
                                          <div class="card-body">
                                             <div class="row">
                                                <div class="col-2 px-3 text-center"><span class="text-center">
                                                   <a class="fa fa-home fs-40 text-center"></a>
                                                   </span>
                                                </div>
                                                <div class="col-10 px-3 pl-0 ">
                                                   <div class="">
                                                      <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio (100%)</a>
                                                      </h6>
                                                      <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                                      </p>
                                                      <a href="#"></a>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="py-4">
                                          <div class="card-body">
                                             <div class="row">
                                                <div class="col-2 px-3 text-center"><span class="text-center">
                                                   <a class="fa fa-home fs-40 text-center"></a>
                                                   </span>
                                                </div>
                                                <div class="col-10 px-3 pl-0 ">
                                                   <div class="">
                                                      <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio (100%)</a>
                                                      </h6>
                                                      <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                                      </p>
                                                      <a href="#"></a>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4 py-2" style="align-self: center;">
                                       <div class="py-4">
                                          <div class="card-body">
                                             <div class="row">
                                                <div class="col-2 px-3 text-center"><span class="text-center">
                                                   <a class="fa fa-home fs-40 text-center"></a>
                                                   </span>
                                                </div>
                                                <div class="col-10 px-3 pl-0 ">
                                                   <div class="">
                                                      <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio (100%)</a>
                                                      </h6>
                                                      <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                                      </p>
                                                      <a href="#"></a>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="py-4">
                                          <div class="card-body">
                                             <div class="row">
                                                <div class="col-2 px-3 text-center"><span class="text-center">
                                                   <a class="fa fa-home fs-40 text-center"></a>
                                                   </span>
                                                </div>
                                                <div class="col-10 px-3 pl-0 ">
                                                   <div class="">
                                                      <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio (100%)</a>
                                                      </h6>
                                                      <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                                      </p>
                                                      <a href="#"></a>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="py-4">
                                          <div class="card-body">
                                             <div class="row">
                                                <div class="col-2 px-3 text-center"><span class="text-center">
                                                   <a class="fa fa-home fs-40 text-center"></a>
                                                   </span>
                                                </div>
                                                <div class="col-10 px-3 pl-0 ">
                                                   <div class="">
                                                      <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio (100%)</a>
                                                      </h6>
                                                      <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                                      </p>
                                                      <a href="#"></a>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4 pr-0" style="
                                       max-height: 100%;
                                       ">
                                       <img
                                          src="https://images.unsplash.com/photo-1521898284481-a5ec348cb555?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1534&amp;q=80"
                                          style="object-fit: cover; object-position: center center; height: 100%; width: 100%; border-radius: 0 2px 2px 0; max-height: 500px;">
                                    </div>
                                 </div>
                              </div>
                     </div>
                  </div>
   
               </div>
            </div>
         </div>
         <script>
            // Initialize the plugin
            $(document).ready(function () {
               // Scrollable
               //
               $('.media-list').perfectScrollbar();
            });
         </script>
               </div>
            </div>
         </div>
         <!--- FIN TAB BUSCADOR DE PERSONAS---->
      </div>
   </div>