<div class="bg-white tab-content min-height-profile-tab tab-box-shadow">
    <div class="card-header border-0">
        <h2 class="text-l-pink mb-0">Mercadito</h2>
    </div>
    <div id="beneficios-container">

        <div data-provide="shuffle">
            <!--Card shufle-->

            <div class="ml-3 mr-3" data-shuffle="filter">
                <button class="btn btn-w-sm bg-primary hover-terciario rounded px-2 active"
                    data-shuffle="button">Todos</button>
                <button class="btn btn-w-sm bg-primary hover-terciario rounded px-2" data-shuffle="button"
                    data-group="salud">Salud</button>
                <button class="btn btn-w-sm bg-primary hover-terciario rounded px-2" data-shuffle="button"
                    data-group="familia">Familia</button>
                <button class="btn btn-w-sm bg-primary hover-terciario rounded px-2" data-shuffle="button"
                    data-group="deportes">Deportes</button>
                <button class="btn btn-w-sm bg-primary hover-terciario rounded px-2" data-shuffle="button"
                    data-group="economicos">Económicos</button>
            </div>
            </br>
            </br>
            <!--Card shufle-->
            <div class="shuffle" data-shuffle="list">

                <div class="col-md-4 shuffle-item shuffle-item--visible" data-shuffle="item" data-groups="economicos">
                    <div class="card">

                        <div class="bg-img br-4 rounded content-object-fit">
                            <img class="bg-img-img img-object-fit" src="/assets/img/gallery/15.jpg">
                            <div class="semicirclehor"></div>
                        </div>

                        <div class="card-body flexbox py-0 mb-3 mnt-30 position-relative">
                            <a href="#" class="avatar-right">
                                <span class="avatar avatar-lg mr-3 bg-primary"><i class="fa fa-star"></i></span>
                            </a>
                        </div>

                        <div class="card-body">
                            <span class="mercadito-pecio">$120.000</span>
                            <h4>
                                <a class="hover-terciario" href="/pages/personas/beneficio-detalle.html">Bicicleta de
                                    Paseo</a>
                            </h4>


                            <div class="card-footer pt-10 p-0">
                                <a href="#;" data-toggle="modal" data-target="#modal-center"
                                    class="text-danger .hover-primary">Ver Más [
                                    + ]</a>
                                <div class="gap-items-1 float-md-right">

                                    <div class="content-heart">
                                        <div class="heart"></div>
                                        <span class="fs-14 text-lighter">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 shuffle-item shuffle-item--visible" data-shuffle="item" data-groups="salud">
                    <div class="card">

                        <div class="bg-img br-4 rounded content-object-fit">
                            <img class="bg-img-img img-object-fit" src="/assets/img/gallery/15.jpg">
                            <div class="semicirclehor"></div>
                        </div>

                        <div class="card-body flexbox py-0 mb-3 mnt-30 position-relative">
                            <a href="#" class="avatar-right">
                                <span class="avatar avatar-lg mr-3 bg-primary"><i class="fa fa-star"></i></span>
                            </a>
                        </div>

                        <div class="card-body">
                            <span class="mercadito-pecio">$120.000</span>
                            <h4>
                                <a class="hover-terciario" href="/pages/personas/beneficio-detalle.html">Bicicleta de
                                    Paseo</a>
                            </h4>


                            <div class="card-footer pt-10 p-0">
                                <a href="#;" data-toggle="modal" data-target="#modal-center"
                                    class="text-danger .hover-primary">Ver Más [
                                    + ]</a>
                                <div class="gap-items-1 float-md-right">

                                    <div class="content-heart">
                                        <div class="heart"></div>
                                        <span class="fs-14 text-lighter">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 shuffle-item shuffle-item--visible" data-shuffle="item" data-groups="salud">
                    <div class="card">

                        <div class="bg-img br-4 rounded content-object-fit">
                            <img class="bg-img-img img-object-fit" src="/assets/img/gallery/15.jpg">
                            <div class="semicirclehor"></div>
                        </div>

                        <div class="card-body flexbox py-0 mb-3 mnt-30 position-relative">
                            <a href="#" class="avatar-right">
                                <span class="avatar avatar-lg mr-3 bg-primary"><i class="fa fa-star"></i></span>
                            </a>
                        </div>

                        <div class="card-body">
                            <span class="mercadito-pecio">$120.000</span>
                            <h4>
                                <a class="hover-terciario" href="/pages/personas/beneficio-detalle.html">Bicicleta de
                                    Paseo</a>
                            </h4>


                            <div class="card-footer pt-10 p-0">
                                <a href="#;" data-toggle="modal" data-target="#modal-center"
                                    class="text-danger .hover-primary">Ver Más [
                                    + ]</a>
                                <div class="gap-items-1 float-md-right">

                                    <div class="content-heart">
                                        <div class="heart"></div>
                                        <span class="fs-14 text-lighter">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 shuffle-item shuffle-item--visible" data-shuffle="item" data-groups="salud">
                    <div class="card">

                        <div class="bg-img br-4 rounded content-object-fit">
                            <img class="bg-img-img img-object-fit" src="/assets/img/gallery/15.jpg">
                            <div class="semicirclehor"></div>
                        </div>

                        <div class="card-body flexbox py-0 mb-3 mnt-30 position-relative">
                            <a href="#" class="avatar-right">
                                <span class="avatar avatar-lg mr-3 bg-primary"><i class="fa fa-star"></i></span>
                            </a>
                        </div>

                        <div class="card-body">
                            <span class="mercadito-pecio">$120.000</span>
                            <h4>
                                <a class="hover-terciario" href="/pages/personas/beneficio-detalle.html">Bicicleta de
                                    Paseo</a>
                            </h4>


                            <div class="card-footer pt-10 p-0">
                                <a href="#;" data-toggle="modal" data-target="#modal-center"
                                    class="text-danger .hover-primary">Ver Más [
                                    + ]</a>
                                <div class="gap-items-1 float-md-right">

                                    <div class="content-heart">
                                        <div class="heart"></div>
                                        <span class="fs-14 text-lighter">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 shuffle-item shuffle-item--visible" data-shuffle="item" data-groups="salud">
                    <div class="card">

                        <div class="bg-img br-4 rounded content-object-fit">
                            <img class="bg-img-img img-object-fit" src="/assets/img/gallery/15.jpg">
                            <div class="semicirclehor"></div>
                        </div>

                        <div class="card-body flexbox py-0 mb-3 mnt-30 position-relative">
                            <a href="#" class="avatar-right">
                                <span class="avatar avatar-lg mr-3 bg-primary"><i class="fa fa-star"></i></span>
                            </a>
                        </div>

                        <div class="card-body">
                            <span class="mercadito-pecio">$120.000</span>
                            <h4>
                                <a class="hover-terciario" href="/pages/personas/beneficio-detalle.html">Bicicleta de
                                    Paseo</a>
                            </h4>


                            <div class="card-footer pt-10 p-0">
                                <a href="#;" data-toggle="modal" data-target="#modal-center"
                                    class="text-danger .hover-primary">Ver Más [
                                    + ]</a>
                                <div class="gap-items-1 float-md-right">

                                    <div class="content-heart">
                                        <div class="heart"></div>
                                        <span class="fs-14 text-lighter">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 shuffle-item shuffle-item--visible" data-shuffle="item" data-groups="salud">
                    <div class="card">

                        <div class="bg-img br-4 rounded content-object-fit">
                            <img class="bg-img-img img-object-fit" src="/assets/img/gallery/15.jpg">
                            <div class="semicirclehor"></div>
                        </div>

                        <div class="card-body flexbox py-0 mb-3 mnt-30 position-relative">
                            <a href="#" class="avatar-right">
                                <span class="avatar avatar-lg mr-3 bg-primary"><i class="fa fa-star"></i></span>
                            </a>
                        </div>

                        <div class="card-body">
                            <span class="mercadito-pecio">$120.000</span>
                            <h4>
                                <a class="hover-terciario" href="/pages/personas/beneficio-detalle.html">Bicicleta de
                                    Paseo</a>
                            </h4>


                            <div class="card-footer pt-10 p-0">
                                <a href="#;" data-toggle="modal" data-target="#modal-center"
                                    class="text-danger .hover-primary">Ver Más [
                                    + ]</a>
                                <div class="gap-items-1 float-md-right">

                                    <div class="content-heart">
                                        <div class="heart"></div>
                                        <span class="fs-14 text-lighter">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>
    <script>
        // Initialize the plugin
        $(document).ready(function () {

            // Initialize the Heart click explose
            $(".heart").on('click touchstart', function () {
                $(this).toggleClass('is_animating');
            });

        });
    </script>