<div class="bg-white tab-content min-height-profile-tab tab-box-shadow">
    <div class="card-header border-0">
        <h2 class="text-l-pink mb-0">Calidad de Vida</h2>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-4 text-center">
                <img src="../../../assets/img/icon/Imagen 1.png">
            </div>
            <div class="col-md-8">
                <p>Praesent lobortis hendrerit dolor, varius tempus nisi posuere congue. Praesent sollicitudin odio
                    venenatis, facilisis turpis nec, ultrices lacus. Cras fermentum maximus metus ac volutpat. Curabitur
                    lacinia congue est, vitae viverra nibh ultrices vel. Praesent sed elementum est, sit amet suscipit
                    risus. Pellentesque in est justo. Nullam pharetra, lacus sit amet tristique interdum, nisl turpis
                    faucibus velit, id ullamcorper augue urna et sapien. Nulla facilisi.</p>
                <p>Suspendisse interdum odio at risus fringilla posuere. Sed pellentesque viverra neque. Quisque ornare
                    suscipit tellus, at fringilla purus cursus eu. Aliquam a sollicitudin ante. In hac habitasse platea
                    dictumst. Sed molestie leo ac elit imperdiet, vel aliquam dui bibendum.</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4 mb-3">
                <div class="card m-0 border">
                    <div class="card-body">
                        <div class="row">
                            <div class="">
                                <div class="text-center">
                                    <img class="mb-3" src="../../../assets/img/icon/surface1.svg">
                                    <h4 class="text-center mb-0"><a class="hover-primary" href="#">BENEFICIOS</a></h4>
                                    <p class="mb-0 p-3 text-center">sed do eiusmod tempor incididunt ut labore et dolore
                                        magna aliqua. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card m-0 border">
                    <div class="card-body">
                        <div class="row">
                            <div class="">
                                <div class="text-center">
                                    <img class="mb-3" src="../../../assets/img/icon/shopping-list.svg">
                                    <h4 class="text-center mb-0"><a class="hover-primary" href="#">CONVENIOS</a></h4>
                                    <p class="mb-0 p-3 text-center">sed do eiusmod tempor incididunt ut labore et dolore
                                        magna aliqua. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card m-0 border">
                    <div class="card-body">
                        <div class="row">
                            <div class=""></div>
                            <div class="text-center">
                                <img class="mb-3" src="../../../assets/img/icon/care.svg">
                                <h4 class="text-center mb-0"><a class="hover-primary" href="#">CUIDÁNDONOS</a></h4>
                                <p class="mb-0 p-3 text-center">sed do eiusmod tempor incididunt ut labore et dolore
                                    magna aliqua. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card m-0 border">
                    <div class="card-body">
                        <div class="row">
                            <div class="">
                                <div class="text-center">
                                    <img class="mb-3" src="../../../assets/img/icon/idea.svg">
                                    <h4 class="text-center mb-0"><a class="hover-primary" href="#">TRANSCLUB</a></h4>
                                    <p class="mb-0 p-3 text-center">sed do eiusmod tempor incididunt ut labore et dolore
                                        magna aliqua. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card m-0 border">
                    <div class="card-body">
                        <div class="row">
                            <div class="">
                                <div class="text-center">
                                    <img class="mb-3" src="../../../assets/img/icon/Grupo_2673.svg">
                                    <h4 class="text-center mb-0"><a class="hover-primary" href="#">CAJA LOS ANDES</a>
                                    </h4>
                                    <p class="mb-0 p-3 text-center">sed do eiusmod tempor incididunt ut labore et dolore
                                        magna aliqua. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card m-0 border">
                    <div class="card-body">
                        <div class="row">
                            <div class="">
                                <div class="text-center">
                                    <img class="mb-3" src="../../../assets/img/icon/Grupo 2672.svg">
                                    <h4 class="text-center mb-0"><a class="hover-primary" href="#">ACHS</a></h4>
                                    <p class="mb-0 p-3 text-center">sed do eiusmod tempor incididunt ut labore et dolore
                                        magna aliqua. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>