<div class="rounded px-0 bg-white tab-content min-height-profile-tab tab-box-shadow">
    <div class="card-body">
        <h2 class="text-l-pink">Contacto y Consultas</h2>
        <div class="row p-5">
            <div class="col-md-2 text-center">
                <a class="img-hov-fadein mb-2" href="/pages/perfil/perfil.html">
                    <img src="/assets/img/avatar/5.jpg" alt="..." style="border-radius: 50%;">
                </a>
            </div>
            <div class="col-md-10">
                <p class="mt-4">Praesent lobortis hendrerit dolor, varius tempus nisi posuere congue. Praesent
                    sollicitudin odio venenatis, facilisis turpis nec, ultrices lacus. Cras fermentum maximus metus ac
                    volutpat. Curabitur lacinia congue est, vitae viverra nibh ultrices vel. Praesent sed elementum est,
                    sit amet suscipit risus. Pellentesque in est justo. Nullam pharetra, lacus sit amet tristique
                    interdum, nisl turpis faucibus velit, id ullamcorper augue urna et sapien. Nulla facilisi.</p>
            </div>
        </div>
    </div>
    <div id="formulario-content">
        <div class="center-vh">

            <div class="col-md-8">
                <h3 class="mb-0">Formulario de consultas</h3>
                <h4>Departamento de Prevención de Riesgos Laborales</h4>

                <div class="card-body">

                    <div class="form-group">
                        <label for="username">Nombre:</label>
                        <input type="text" class="form-control rounded" id="rut">
                    </div>
                    <div class="form-group">
                        <label for="username">Titulo:</label>
                        <input type="text" class="form-control rounded" id="rut">
                    </div>

                    <div class="form-group">
                        <label for="textarea">Pregunta o mensaje:</label>
                        <textarea class="form-control" id="textarea" rows="6"
                            style="margin-top: 0px;margin-bottom: 0px;height: 169px;"></textarea>
                    </div>

                    <div class="form-group">
                        <a href="/pages/seccion/formulario.html"
                            class="btn btn-bold bg-l-blue text-white mb-10 rounded">Enviar</a>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>