<h2>Perfil</h2>
<div id="agenda-container">

    <div id="perfil">
        <div class="row mt-5 mb-5">
            <div class="col-md-2 col-4">
                <img src="https://dummyimage.com/1200x1200/000/fff" class="img-fluid" alt="..."
                    style="border-radius: 50%;">
                <div class="progress d-block d-sm-block d-md-none mt-3">
                    <div class="progress-bar" role="progressbar" style="width: 25%;height: 6px;" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-md-4 col-8">
                <h4>Leonela Alejandra López Quintero</h4>
                <span>Cargo: Ejecutiva Comercial<br>
                    Mail: nombre@mail.cl<br>
                    Anexo: 456<br>
                    Cumpleaños: 20-09 </span>
            </div>
            <div class="col-md-6 d-none d-sm-none d-md-block">
                <h4><strong>Completitud del Perfil</strong></h4>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%; height: 16px;" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
            </div>
            <div class="col-md-12 mt-5 mb-5">
                <button class="btn btn-round btn-xs btn-primary" style="float: right;">Editar</button>
                <h4>Acerca de Mi</h4>
                <p>Sed do eiusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim veniam, quis nostrud exercitation ullamco.</p>
                <button class="btn btn-round btn-xs btn-primary" style="float: right;">Editar</button>
                <h4>Linkedin</h4>
                <a href="#;">https://www.linkedin.com/feed/</a>
            </div>
        </div>
    </div>


    <!-- Nav tabs -->
    <div id="TabContent">
        <ul id="tabCalendario" class="nav nav-tabs nav-tabs-inverse-mode">
            <li class=" nav-item espirituLink">
                <a class="round-item-single-lf nav-link tab-color-inactive active" data-toggle="tab" href="#Buscador"
                    aria-expanded="true">
                    <span class="px-2">Reconocimientos</span>
                </a>
            </li>
            <li class="nav-item espirituLink">
                <a class="nav-link br-1 tab-color-inactive" data-toggle="tab" href="#Cumpleanos" aria-expanded="false">
                    <span class="px-2">Proyectos</span>
                </a>
            </li>
            <li class="nav-item espirituLink">
                <a class="nav-link br-1 tab-color-inactive" data-toggle="tab" href="#Aptitudes" aria-expanded="false">
                    <span class="px-2">Aptitudes</span>
                </a>
            </li>
            <li class="nav-item espirituLink">
                <a class="nav-link br-1 tab-color-inactive" data-toggle="tab" href="#Intereses" aria-expanded="false">
                    <span class="px-2">Intereses</span>
                </a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div id="colaboradoresDetalle" class="py-4 px-0 bg-white tab-content min-height-profile-tab tab-box-shadow">
            <div class="tab-pane active" id="Buscador" aria-expanded="true">

                <div class="card-body">
                    <h3>Reconoce!</h3>
                    <div id="ColaboradoresUmayor" class="h-profile align-self">
                        <div class="media-list media-list-hover media-list-divided scrollable" style="height: 60vh">
                            <div class="card-body">

                                <!-- Perfil Colaborador -->
                                <div class="row">
                                    <div class="col-md-2" style="display: flex; flex-wrap: wrap;">
                                        <div class="mb-4 col-lg-12 col-3 text-center">
                                            <img src="../../../assets/img/icon/aplauso.svg" alt="" class="img-fluid">
                                        </div>
                                        <div class="mb-4 col-lg-12 col-3 text-center">
                                            <img src="../../../assets/img/icon/chocala.svg" alt="" class="img-fluid">
                                        </div>
                                        <div class="mb-4 col-lg-12 col-3 text-center">
                                            <img src="../../../assets/img/icon/conectados.svg" alt="" class="img-fluid">
                                        </div>
                                        <div class="mb-4 col-lg-12 col-3 text-center">
                                            <img src="../../../assets/img/icon/smile.svg" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="media">
                                            <a class="avatar avatar-xxl mt-10" href="#">
                                                <img src="/assets/img/avatar/6.jpg" alt="...">
                                            </a>
                                            <div class="media-body">
                                                <div class="maincomment ml-20 bubble">
                                                    <div class="comment-user-options row py-10 px-20">
                                                        <div class="comment-options col-md-4">
                                                            <div class="gap-items-2 float-md-right">
                                                                <button
                                                                    class="bg-transparent border-transparent text-gray"><strong>Responder</strong></button>
                                                                <label class="fs-14 text-lighter mr-2">
                                                                    <i class="fa fa-comment fs-16"></i>25
                                                                </label>
                                                                <div class="content-heart">
                                                                    <div class="heart"></div>
                                                                    <span class="fs-14 text-lighter">25</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="comment px-20">
                                                        <p>Uniquely enhance world-class channels with just in time
                                                            schemas.</p>
                                                    </div>
                                                    <div class="comment-data row pb-10 pt-10 m-0 bt-1">
                                                        <div class="d-inline-block col-md-10 pl-10"><small>Publicado
                                                                hace dos horas</small></div>
                                                        <div class="answers-number col-md-2 pr-10"> <strong
                                                                class="float-md-right"><span
                                                                    class="mr-10">2</span>Respuestas</strong> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <a class="avatar avatar-xxl mt-10" href="#"> <img
                                                    src="/assets/img/avatar/6.jpg" alt="..."> </a>
                                            <div class="media-body">
                                                <div class="maincomment ml-20 bubble">
                                                    <div class="comment-user-options row py-10 px-20">
                                                        <div class="comment-options col-md-4">
                                                            <div class="gap-items-2 float-md-right">
                                                                <button
                                                                    class="bg-transparent border-transparent text-gray"><strong>Responder</strong></button>
                                                                <label class="fs-14 text-lighter mr-2">
                                                                    <i class="fa fa-comment fs-16"></i>25
                                                                </label>
                                                                <div class="content-heart">
                                                                    <div class="heart"></div>
                                                                    <span class="fs-14 text-lighter">25</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="comment px-20">
                                                        <p>Uniquely enhance world-class channels with just in time
                                                            schemas.</p>
                                                    </div>
                                                    <div class="comment-data row pb-10 pt-10 m-0 bt-1">
                                                        <div class="d-inline-block col-md-10 pl-10"><small>Publicado
                                                                hace dos horas</small></div>
                                                        <div class="answers-number col-md-2 pr-10"> <strong
                                                                class="float-md-right"><span
                                                                    class="mr-10">2</span>Respuestas</strong> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <a class="avatar avatar-xxl mt-10" href="#"> <img
                                                    src="/assets/img/avatar/6.jpg" alt="..."> </a>
                                            <div class="media-body">
                                                <div class="maincomment ml-20 bubble">
                                                    <div class="comment-user-options row py-10 px-20">
                                                        <div class="comment-options col-md-4">
                                                            <div class="gap-items-2 float-md-right">
                                                                <button
                                                                    class="bg-transparent border-transparent text-gray"><strong>Responder</strong></button>
                                                                <label class="fs-14 text-lighter mr-2">
                                                                    <i class="fa fa-comment fs-16"></i>25
                                                                </label>
                                                                <div class="content-heart">
                                                                    <div class="heart"></div>
                                                                    <span class="fs-14 text-lighter">25</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="comment px-20">
                                                        <p>Uniquely enhance world-class channels with just in time
                                                            schemas.</p>
                                                    </div>
                                                    <div class="comment-data row pb-10 pt-10 m-0 bt-1">
                                                        <div class="d-inline-block col-md-10 pl-10"><small>Publicado
                                                                hace dos horas</small></div>
                                                        <div class="answers-number col-md-2 pr-10"> <strong
                                                                class="float-md-right"><span
                                                                    class="mr-10">2</span>Respuestas</strong> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <a class="avatar avatar-xxl mt-10" href="#"> <img
                                                    src="/assets/img/avatar/6.jpg" alt="..."> </a>
                                            <div class="media-body">
                                                <div class="maincomment ml-20 bubble">
                                                    <div class="comment-user-options row py-10 px-20">
                                                        <div class="comment-options col-md-4">
                                                            <div class="gap-items-2 float-md-right">
                                                                <button
                                                                    class="bg-transparent border-transparent text-gray"><strong>Responder</strong></button>
                                                                <label class="fs-14 text-lighter mr-2">
                                                                    <i class="fa fa-comment fs-16"></i>25
                                                                </label>
                                                                <div class="content-heart">
                                                                    <div class="heart"></div>
                                                                    <span class="fs-14 text-lighter">25</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="comment px-20">
                                                        <p>Uniquely enhance world-class channels with just in time
                                                            schemas.</p>
                                                    </div>
                                                    <div class="comment-data row pb-10 pt-10 m-0 bt-1">
                                                        <div class="d-inline-block col-md-10 pl-10"><small>Publicado
                                                                hace dos horas</small></div>
                                                        <div class="answers-number col-md-2 pr-10"> <strong
                                                                class="float-md-right"><span
                                                                    class="mr-10">2</span>Respuestas</strong> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Perfil Colaborador -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Cumpleanos" aria-expanded="false">
                <div class="tab-pane tab-pane" id="datos-personales" aria-expanded="false">
                    <div class="card-body">
                        <div class="h-profile align-self">
                            <h3>Proyectos</h3>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <input type="text" class="form-control" id="validationTooltip03"
                                            placeholder="Ingresa Proyectos" required="">
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <input type="text" class="form-control" id="validationTooltip04"
                                            placeholder="Ingresa otros participantes" required="">
                                    </div>
                                    <div class="col-md-3 mb-3" style="position: relative;">
                                        <input type="text" class="form-control" id="validationTooltip05"
                                            placeholder="Ingresa Fecha" required="">
                                        <i class="fa fa-calendar" style="position: absolute;right: 10px;top: 10px;"></i>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <input type="button" class="btn  btn-round bg-primary float-right" id="validationTooltip05"
                                            placeholder="Zip" required="" value="Agregar">
                                    </div>
                                </div>
                                <div class="table-responsive mt-3">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr class="bg-pale-secondary">
                                                <td class="d-none d-sm-none d-md-block">Portal de Comunidades</td>
                                                <td>Natalia Fabio</td>
                                                <td class="d-none d-sm-none d-md-block">01-04-2018</td>
                                                <td class="t-center">
                                                    12 <a href="#;"><i class="fa fa-heart-o"></i></a> </td>
                                            </tr>
                                            <tr>
                                                <td class="d-none d-sm-none d-md-block">Portal de Comunidades</td>
                                                <td>Natalia Fabio</td>
                                                <td class="d-none d-sm-none d-md-block">01-04-2018</td>
                                                <td class="t-center">
                                                    12 <a href="#;"><i class="fa fa-heart-o"></i></a> </td>
                                            </tr>
                                            <tr class="bg-pale-secondary">
                                                <td class="d-none d-sm-none d-md-block">Portal de Comunidades</td>
                                                <td>Natalia Fabio</td>
                                                <td class="d-none d-sm-none d-md-block">01-04-2018</td>
                                                <td class="t-center">
                                                    12 <a href="#;"><i class="fa fa-heart-o"></i></a> </td>
                                            </tr>
                                            <tr>
                                                <td class="d-none d-sm-none d-md-block">Portal de Comunidades</td>
                                                <td>Natalia Fabio</td>
                                                <td class="d-none d-sm-none d-md-block">01-04-2018</td>
                                                <td class="t-center">
                                                    12 <a href="#;"><i class="fa fa-heart-o"></i></a> </td>
                                            </tr>
                                            <tr class="bg-pale-secondary">
                                                <td class="d-none d-sm-none d-md-block">Portal de Comunidades</td>
                                                <td>Natalia Fabio</td>
                                                <td class="d-none d-sm-none d-md-block">01-04-2018</td>
                                                <td class="t-center">
                                                    12 <a href="#;"><i class="fa fa-heart-o"></i></a> </td>
                                            </tr>
                                            <tr>
                                                <td class="d-none d-sm-none d-md-block">Portal de Comunidades</td>
                                                <td>Natalia Fabio</td>
                                                <td class="d-none d-sm-none d-md-block">01-04-2018</td>
                                                <td class="t-center">
                                                    12 <a href="#;"><i class="fa fa-heart-o"></i></a> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Aptitudes" aria-expanded="false">
                <div class="tab-pane tab-pane" id="datos-personales" aria-expanded="false">
                    <div class="card-body">
                        <div class="h-profile align-self">
                            <h3>Aptitudes</h3>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-md-10 mb-3">
                                        <input type="text" class="form-control" id="validationTooltip03"
                                            placeholder="Ingresa Aptitud" required="">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <input type="button" class="btn  btn-round bg-primary float-right" id="validationTooltip05"
                                            placeholder="Zip" required="" value="Agregar">
                                    </div>
                                </div>
                                <div class="table-responsive mt-3">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr class="bg-pale-secondary">
                                                <td class="d-none d-sm-none d-md-block" width="90%">Portal de Comunidades</td>
                                                <td class="t-center" width="10%">
                                                    12 <a href="#;"><i class="fa fa-heart-o"></i></a> </td>
                                            </tr>
                                            <tr>
                                                <td class="d-none d-sm-none d-md-block">Portal de Comunidades</td>
                                                <td class="t-center">
                                                    12 <a href="#;"><i class="fa fa-heart-o"></i></a> </td>
                                            </tr>
                                            <tr class="bg-pale-secondary">
                                                <td class="d-none d-sm-none d-md-block">Portal de Comunidades</td>
                                                <td class="t-center">
                                                    12 <a href="#;"><i class="fa fa-heart-o"></i></a> </td>
                                            </tr>
                                            <tr>
                                                <td class="d-none d-sm-none d-md-block">Portal de Comunidades</td>
                                                <td class="t-center">
                                                    12 <a href="#;"><i class="fa fa-heart-o"></i></a> </td>
                                            </tr>
                                            <tr class="bg-pale-secondary">
                                                <td class="d-none d-sm-none d-md-block">Portal de Comunidades</td>
                                                <td class="t-center">
                                                    12 <a href="#;"><i class="fa fa-heart-o"></i></a> </td>
                                            </tr>
                                            <tr>
                                                <td class="d-none d-sm-none d-md-block">Portal de Comunidades</td>
                                                <td class="t-center">
                                                    12 <a href="#;"><i class="fa fa-heart-o"></i></a> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Intereses" aria-expanded="false" <div class="tab-pane tab-pane"
                id="datos-personales" aria-expanded="false">
                <div class="card-body">
                    <div class="h-profile align-self">
                        <h3>Intereses</h3>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-10 mb-3">
                                    <input type="text" class="form-control" id="validationTooltip03"
                                        placeholder="Ingresa Interes" required="">
                                </div>
                                <div class="col-md-2 mb-3">
                                    <input type="button" class="btn  btn-round bg-primary float-right" id="validationTooltip05"
                                        placeholder="Zip" required="" value="Agregar">
                                </div>
                            </div>
                            <div class="table-responsive mt-3">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr class="bg-pale-secondary">
                                            <td class="d-none d-sm-none d-md-block" width="90%">Portal de Comunidades</td>
                                            <td class="t-center" width="10%">
                                                12 <a href="#;"><i class="fa fa-heart-o"></i></a> </td>
                                        </tr>
                                        <tr>
                                            <td class="d-none d-sm-none d-md-block">Portal de Comunidades</td>
                                            <td class="t-center">
                                                12 <a href="#;"><i class="fa fa-heart-o"></i></a> </td>
                                        </tr>
                                        <tr class="bg-pale-secondary">
                                            <td class="d-none d-sm-none d-md-block">Portal de Comunidades</td>
                                            <td class="t-center">
                                                12 <a href="#;"><i class="fa fa-heart-o"></i></a> </td>
                                        </tr>
                                        <tr>
                                            <td class="d-none d-sm-none d-md-block">Portal de Comunidades</td>
                                            <td class="t-center">
                                                12 <a href="#;"><i class="fa fa-heart-o"></i></a> </td>
                                        </tr>
                                        <tr class="bg-pale-secondary">
                                            <td class="d-none d-sm-none d-md-block">Portal de Comunidades</td>
                                            <td class="t-center">
                                                12 <a href="#;"><i class="fa fa-heart-o"></i></a> </td>
                                        </tr>
                                        <tr>
                                            <td class="d-none d-sm-none d-md-block">Portal de Comunidades</td>
                                            <td class="t-center">
                                                12 <a href="#;"><i class="fa fa-heart-o"></i></a> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    // Initialize the plugin
    $(document).ready(function () {
        // Scrollable
        //
        $('.media-list').perfectScrollbar();
    });
</script>