<div id="centro-notificaciones-container">
    <h2 class="text-l-pink">Comite Partidario</h2>
    <!-- Nav tabs -->
    <div id="TabContent">
        <ul id="tabPrime" class="nav nav-tabs nav-tabs-inverse-mode">
            <li class="nav-item espirituLink br-1 nav-item">
                <a class="round-item-single-lf nav-link tab-color-inactive active" data-toggle="tab" href="#Reciente"
                    aria-expanded="true" style="border-radius: 4px 4px 0 0;">
                    <span class="px-2">Directiva</span>
                </a>
            </li>
            <li class="nav-item espirituLink">
                <a class="nav-link br-1 tab-color-inactive" data-toggle="tab" href="#Cometarios" aria-expanded="false"
                    style="border-radius: 4px 4px 0 0;">
                    <span class="px-2">Actos</span>
                </a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="py-4 px-0 bg-white tab-content min-height-profile-tab tab-box-shadow">
            <div class="tab-pane active" id="Reciente" aria-expanded="true">

                <div class="card-body">
                    <p>Praesent lobortis hendrerit dolor, varius tempus nisi posuere congue. Praesent sollicitudin odio
                        venenatis, facilisis turpis nec, ultrices lacus. Cras fermentum maximus metus ac volutpat.
                        Curabitur lacinia congue est, vitae viverra nibh ultrices vel. Praesent sed elementum est, sit
                        amet suscipit risus. Pellentesque in est justo. Nullam pharetra, lacus sit amet tristique
                        interdum, nisl turpis faucibus velit, id ullamcorper augue urna et sapien. Nulla facilisi. </p>
                    <img src="/assets/img/Starbucks-Gerencia-General.svg" alt="...">
                </div>
            </div>

            <div class="tab-pane" id="Cometarios" aria-expanded="false">
                <div class="card-body">
                    <div class="accordion" id="accordion-1">
                        <div class="tbkAccordeon mb-3">
                            <h5>
                                <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1-1"
                                    aria-expanded="false" class="collapsed">Collapsible
                                    Group Item #1</a>
                            </h5>

                            <div id="collapse-1-1" class="collapse show">
                                <div class="p-2">
                                        <div class="card-body row">

                                                <div class="col-md-4 mb-3">
                                                    <div class="card m-0 border">
                                
                                                        <div class="card-body">
                                                            <div class="row">
                                
                                                                <div class="col-2 px-3 text-center"><span class="text-center">
                                                                        <a class="fa fa-file-text-o fs-40 text-center"></a>
                                                                    </span>
                                                                </div>
                                                                <div class="col-10 px-3 pl-0 ">
                                
                                                                    <div class="">
                                                                        <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio
                                                                                (100%)</a></h6>
                                                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                                                            aliqua. </p>
                                                                        <a href="#">
                                                                            <h6 class=" pt-2 m-0 text-l-blue text-right pr-3"><strong><span class="fa fa-download"></span> Descargar</strong>
                                                                            </h6>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                
                                                            </div>
                                                        </div>
                                                    </div>
                                
                                                </div>
                                
                                                <div class="col-md-4 mb-3">
                                                    <div class="card m-0 border">
                                
                                                        <div class="card-body">
                                                            <div class="row">
                                
                                                                <div class="col-2 px-3 text-center"><span class="text-center">
                                                                        <a class="fa fa-file-text-o fs-40 text-center"></a>
                                                                    </span>
                                                                </div>
                                                                <div class="col-10 px-3 pl-0 ">
                                
                                                                    <div class="">
                                                                        <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio
                                                                                (100%)</a></h6>
                                                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                                                            aliqua. </p>
                                                                        <a href="#">
                                                                            <h6 class=" pt-2 m-0 text-l-blue text-right pr-3"><strong><span class="fa fa-download"></span> Descargar</strong>
                                                                            </h6>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                
                                                            </div>
                                                        </div>
                                                    </div>
                                
                                                </div>
                                
                                                <div class="col-md-4 mb-3">
                                                    <div class="card m-0 border">
                                
                                                        <div class="card-body">
                                                            <div class="row">
                                
                                                                <div class="col-2 px-3 text-center"><span class="text-center">
                                                                        <a class="fa fa-file-text-o fs-40 text-center"></a>
                                                                    </span>
                                                                </div>
                                                                <div class="col-10 px-3 pl-0 ">
                                
                                                                    <div class="">
                                                                        <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio
                                                                                (100%)</a></h6>
                                                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                                                            aliqua. </p>
                                                                        <a href="#">
                                                                            <h6 class=" pt-2 m-0 text-l-blue text-right pr-3"><strong><span class="fa fa-download"></span> Descargar</strong>
                                                                            </h6>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                
                                                            </div>
                                                        </div>
                                                    </div>
                                
                                                </div>
                                
                                                <div class="col-md-4 mb-3">
                                                    <div class="card m-0 border">
                                
                                                        <div class="card-body">
                                                            <div class="row">
                                
                                                                <div class="col-2 px-3 text-center"><span class="text-center">
                                                                        <a class="fa fa-file-text-o fs-40 text-center"></a>
                                                                    </span>
                                                                </div>
                                                                <div class="col-10 px-3 pl-0 ">
                                
                                                                    <div class="">
                                                                        <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio
                                                                                (100%)</a></h6>
                                                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                                                            aliqua. </p>
                                                                        <a href="#">
                                                                            <h6 class=" pt-2 m-0 text-l-blue text-right pr-3"><strong><span class="fa fa-download"></span> Descargar</strong>
                                                                            </h6>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                
                                                            </div>
                                                        </div>
                                                    </div>
                                
                                                </div>
                                
                                                <div class="col-md-4 mb-3">
                                                    <div class="card m-0 border">
                                
                                                        <div class="card-body">
                                                            <div class="row">
                                
                                                                <div class="col-2 px-3 text-center"><span class="text-center">
                                                                        <a class="fa fa-file-text-o fs-40 text-center"></a>
                                                                    </span>
                                                                </div>
                                                                <div class="col-10 px-3 pl-0 ">
                                
                                                                    <div class="">
                                                                        <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio
                                                                                (100%)</a></h6>
                                                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                                                            aliqua. </p>
                                                                        <a href="#">
                                                                            <h6 class=" pt-2 m-0 text-l-blue text-right pr-3"><strong><span class="fa fa-download"></span> Descargar</strong>
                                                                            </h6>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                
                                                            </div>
                                                        </div>
                                                    </div>
                                
                                                </div>
                                
                                                <div class="col-md-4 mb-3">
                                                    <div class="card m-0 border">
                                
                                                        <div class="card-body">
                                                            <div class="row">
                                
                                                                <div class="col-2 px-3 text-center"><span class="text-center">
                                                                        <a class="fa fa-file-text-o fs-40 text-center"></a>
                                                                    </span>
                                                                </div>
                                                                <div class="col-10 px-3 pl-0 ">
                                
                                                                    <div class="">
                                                                        <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio
                                                                                (100%)</a></h6>
                                                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                                                            aliqua. </p>
                                                                        <a href="#">
                                                                            <h6 class=" pt-2 m-0 text-l-blue text-right pr-3"><strong><span class="fa fa-download"></span> Descargar</strong>
                                                                            </h6>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                
                                                            </div>
                                                        </div>
                                                    </div>
                                
                                                </div>
                                
                                                <div class="col-md-4 mb-3">
                                                    <div class="card m-0 border">
                                
                                                        <div class="card-body">
                                                            <div class="row">
                                
                                                                <div class="col-2 px-3 text-center"><span class="text-center">
                                                                        <a class="fa fa-file-text-o fs-40 text-center"></a>
                                                                    </span>
                                                                </div>
                                                                <div class="col-10 px-3 pl-0 ">
                                
                                                                    <div class="">
                                                                        <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio
                                                                                (100%)</a></h6>
                                                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                                                            aliqua. </p>
                                                                        <a href="#">
                                                                            <h6 class=" pt-2 m-0 text-l-blue text-right pr-3"><strong><span class="fa fa-download"></span> Descargar</strong>
                                                                            </h6>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                
                                                            </div>
                                                        </div>
                                                    </div>
                                
                                                </div>
                                
                                                <div class="col-md-4 mb-3">
                                                    <div class="card m-0 border">
                                
                                                        <div class="card-body">
                                                            <div class="row">
                                
                                                                <div class="col-2 px-3 text-center"><span class="text-center">
                                                                        <a class="fa fa-file-text-o fs-40 text-center"></a>
                                                                    </span>
                                                                </div>
                                                                <div class="col-10 px-3 pl-0 ">
                                
                                                                    <div class="">
                                                                        <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio
                                                                                (100%)</a></h6>
                                                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                                                            aliqua. </p>
                                                                        <a href="#">
                                                                            <h6 class=" pt-2 m-0 text-l-blue text-right pr-3"><strong><span class="fa fa-download"></span> Descargar</strong>
                                                                            </h6>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                
                                                            </div>
                                                        </div>
                                                    </div>
                                
                                                </div>
                                
                                                <div class="col-md-4 mb-3">
                                                    <div class="card m-0 border">
                                
                                                        <div class="card-body">
                                                            <div class="row">
                                
                                                                <div class="col-2 px-3 text-center"><span class="text-center">
                                                                        <a class="fa fa-file-text-o fs-40 text-center"></a>
                                                                    </span>
                                                                </div>
                                                                <div class="col-10 px-3 pl-0 ">
                                
                                                                    <div class="">
                                                                        <h6 class="mb-1"><a class="hover-primary" href="#">Card detalle beneficio
                                                                                (100%)</a></h6>
                                                                        <p class="mb-0">sed do eiusmod tempor incididunt ut labore et dolore magna
                                                                            aliqua. </p>
                                                                        <a href="#">
                                                                            <h6 class=" pt-2 m-0 text-l-blue text-right pr-3"><strong><span class="fa fa-download"></span> Descargar</strong>
                                                                            </h6>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                
                                                            </div>
                                                        </div>
                                                    </div>
                                
                                                </div>
                                
                                            </div>
                                </div>
                            </div>
                        </div>

                        <div class="tbkAccordeon mb-3">
                            <h5>
                                <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1-2">Collapsible
                                    Group Item #2</a>
                            </h5>

                            <div id="collapse-1-2" class="collapse">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod.
                                </div>
                            </div>
                        </div>


                        <div class="tbkAccordeon mb-3">
                            <h5>
                                <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1-3">Collapsible
                                    Group Item #3</a>
                            </h5>

                            <div id="collapse-1-3" class="collapse">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>
    <script>
        // Initialize the plugin
        $(document).ready(function () {
            // Scrollable
            //
            $('.media-list, #FeedContent').perfectScrollbar();

        });
    </script>