<h2 class="text-l-pink mb-0">Beneficios</h2>
<div id="beneficios-container">

    <div data-provide="shuffle">
        <!--Card shufle-->

        <div class="mt-3 mb-3" data-shuffle="filter">
            <button class="btn btn-w-sm bg-primary hover-terciario rounded px-2 active"
                data-shuffle="button">Todos</button>
            <button class="btn btn-w-sm bg-primary hover-terciario rounded px-2" data-shuffle="button"
                data-group="salud">Salud</button>
            <button class="btn btn-w-sm bg-primary hover-terciario rounded px-2" data-shuffle="button"
                data-group="familia">Familia</button>
            <button class="btn btn-w-sm bg-primary hover-terciario rounded px-2" data-shuffle="button"
                data-group="deportes">Deportes</button>
            <button class="btn btn-w-sm bg-primary hover-terciario rounded px-2" data-shuffle="button"
                data-group="economicos">Económicos</button>
        </div>
        <!--Card shufle-->
        <div class="row shuffle" data-shuffle="list">

            <div class="col-md-4 shuffle-item shuffle-item--visible" data-shuffle="item" data-groups="economicos">
                <div class="card">

                    <div class="bg-img br-4 rounded content-object-fit">
                        <img class="bg-img-img img-object-fit" src="/assets/img/gallery/photo-1549477752-31cd7327aed0.png">
                        <div class="semicirclehor"></div>
                    </div>

                    <div class="card-body flexbox py-0 mb-3 mnt-30 position-relative">
                        <a href="#" class="avatar-right">
                            <span class="avatar avatar-lg mr-3 bg-l-pink"><i class="fa fa-star text-white"></i></span>
                        </a>
                    </div>

                    <div class="card-body mt-4">

                        <h4>
                            <a class=".hover-terciario" href="/pages/personas/beneficio-detalle.html">Lorem ipsum dolor
                                sit amet, consectetur </a>
                        </h4>
                        <p>Praesent lobortis hendrerit dolor, varius tempus nisi posuere congue. Praesent sollicitudin
                            odio venenatis, facilisis turpis nec, ultrices lacus. Cras fermentum maximus metus ac
                            volutpat. Curabitur lacinia congue est, vitae viverra nibh ultrices vel. Praesent sed
                            elementum est, sit amet suscipit risus. Pellentesque in est justo. Nullam pharetra, lacus
                            sit amet tristique interdum, nisl turpis faucibus velit, id ullamcorper augue urna et
                            sapien. Nulla facilisi.

                            Suspendisse interdum odio at risus fringilla posuere. Sed pellentesque viverra neque.
                            Quisque ornare suscipit tellus, at fringilla purus cursus eu. Aliquam a sollicitudin ante.
                            In hac habitasse platea dictumst. Sed molestie leo ac elit imperdiet, vel aliquam dui
                            bibendum. Vestibulum maximus felis porttitor aliquet luctus. Sed et lacus blandit, efficitur
                            diam vitae, dapibus nisi. Integer vel sodales risus. Proin in consectetur dui. Vestibulum
                            velit purus, dictum quis eros a, euismod varius mauris. Nullam accumsan, sapien quis
                            accumsan molestie, mi nunc aliquam nulla, sit amet consequat justo nibh fermentum dui. Sed
                            nec diam luctus, dictum lectus sed, tempor ligula. Pellentesque dapibus hendrerit metus, ut
                            accumsan nisi tristique at. Vivamus sollicitudin nisi ut justo congue, id imperdiet tellus
                            volutpat. </p>



                    </div>
                </div>

            </div>

            <div class="col-md-4 shuffle-item shuffle-item--visible" data-shuffle="item" data-groups="salud">
                <div class="card">

                    <div class="bg-img br-4 rounded content-object-fit">
                        <img class="bg-img-img img-object-fit" src="/assets/img/gallery/photo-1.png">
                        <div class="semicirclehor"></div>
                    </div>

                    <div class="card-body flexbox py-0 mb-3 mnt-30 position-relative">
                        <a href="#" class="avatar-right">
                            <span class="avatar avatar-lg mr-3 bg-l-pink"><i class="fa fa-star text-white"></i></span>
                        </a>
                    </div>

                    <div class="card-body mt-4">
                        <h4>
                            <a class=".hover-terciario" href="/pages/personas/beneficio-detalle.html">Lorem ipsum dolor
                                sit amet, consectetur </a>
                        </h4>
                        <p>Praesent lobortis hendrerit dolor, varius tempus nisi posuere congue. Praesent sollicitudin
                            odio venenatis, facilisis turpis nec, ultrices lacus. Cras fermentum maximus metus ac
                            volutpat. Curabitur lacinia congue est, vitae viverra nibh ultrices vel. </p>
                    </div>
                </div>

            </div>

            <div class="col-md-4 shuffle-item shuffle-item--visible" data-shuffle="item" data-groups="salud">
                <div class="card">

                    <div class="bg-img br-4 rounded content-object-fit">
                        <img class="bg-img-img img-object-fit" src="/assets/img/gallery/photo-1511809870860-4d2806eb1908.png">
                        <div class="semicirclehor"></div>
                    </div>

                    <div class="card-body flexbox py-0 mb-3 mnt-30 position-relative">
                        <a href="#" class="avatar-right">
                            <span class="avatar avatar-lg mr-3 bg-l-pink"><i class="fa fa-star text-white"></i></span>
                        </a>
                    </div>

                    <div class="card-body mt-4">
                        <h4>
                            <a class=".hover-terciario" href="/pages/personas/beneficio-detalle.html">Lorem ipsum dolor
                                sit amet, consectetur </a>
                        </h4>
                        <p>Praesent lobortis hendrerit dolor, varius tempus nisi posuere congue. Praesent sollicitudin
                            odio venenatis, facilisis turpis nec, ultrices lacus. Cras fermentum maximus metus ac
                            volutpat. Curabitur lacinia congue est, vitae viverra nibh ultrices vel. </p>
                    </div>
                </div>

            </div>

            <div class="col-md-4 shuffle-item shuffle-item--visible" data-shuffle="item" data-groups="salud">
                <div class="card">

                    <div class="bg-img br-4 rounded content-object-fit">
                        <img class="bg-img-img img-object-fit" src="/assets/img/gallery/photo-1549531061-52e46c285c71.png">
                        <div class="semicirclehor"></div>
                    </div>

                    <div class="card-body flexbox py-0 mb-3 mnt-30 position-relative">
                        <a href="#" class="avatar-right">
                            <span class="avatar avatar-lg mr-3 bg-l-pink"><i class="fa fa-star text-white"></i></span>
                        </a>
                    </div>

                    <div class="card-body mt-4">
                        <h4>
                            <a class=".hover-terciario" href="/pages/personas/beneficio-detalle.html">Lorem ipsum dolor
                                sit amet, consectetur </a>
                        </h4>
                        <p>Praesent lobortis hendrerit dolor, varius tempus nisi posuere congue. Praesent sollicitudin
                            odio venenatis, facilisis turpis nec, ultrices lacus. Cras fermentum maximus metus ac
                            volutpat. Curabitur lacinia congue est, vitae viverra nibh ultrices vel. </p>
                    </div>
                </div>

            </div>

            <div class="col-md-4 shuffle-item shuffle-item--visible" data-shuffle="item" data-groups="salud">
                <div class="card">

                    <div class="bg-img br-4 rounded content-object-fit">
                        <img class="bg-img-img img-object-fit" src="/assets/img/gallery/15.jpg">
                        <div class="semicirclehor"></div>
                    </div>

                    <div class="card-body flexbox py-0 mb-3 mnt-30 position-relative">
                        <a href="#" class="avatar-right">
                            <span class="avatar avatar-lg mr-3 bg-l-pink"><i class="fa fa-star text-white"></i></span>
                        </a>
                    </div>

                    <div class="card-body mt-4">
                        <h4>
                            <a class=".hover-terciario" href="/pages/personas/beneficio-detalle.html">Lorem ipsum dolor
                                sit amet, consectetur </a>
                        </h4>
                        <p>Praesent lobortis hendrerit dolor, varius tempus nisi posuere congue. Praesent sollicitudin
                            odio venenatis, facilisis turpis nec, ultrices lacus. Cras fermentum maximus metus ac
                            volutpat. Curabitur lacinia congue est, vitae viverra nibh ultrices vel. </p>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <script>
        // Initialize the plugin
        $(document).ready(function () {

            // Initialize the Heart click explose
            $(".heart").on('click touchstart', function () {
                $(this).toggleClass('is_animating');
            });

        });
    </script>