<div id="historia-container">
   <div class="card">
      <div class="card-body">
         <h4 class="mt-2">Nuestra Historia</h4>
         <hr class="w-50px ml-0 bt-2 border-primary hr-sm">

         <ul class="timeline timeline-activity timeline-sm timeline-content-right w-100 p-20 py-3">
            <li class="timeline-block">
               <div class="timeline-point">
                  <span class="avatar bg-primary"><span class="fa fa-bookmark"></span></span>
               </div>
               <div class="timeline-content">
                  <time class="fs-22 text-primary" datetime="2018">1971</time>
                  <p><span class="h6">El primer local con el nombre </span><a href="#">Starbucks</a>.</p>

                  <blockquote class="blockquote ml-0 my-2">
                     <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco. sed do eiusmod tempor incididunt ut
                        labore
                        et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>

                  </blockquote>



                  <hr>
               </div>
            </li>

            <li class="timeline-block">
               <div class="timeline-point">
                  <span class="avatar bg-primary"><span class="fa fa-bookmark"></span></span>
               </div>
               <div class="timeline-content">
                  <time class="fs-22 text-primary" datetime="2018">1971</time>
                  <p><span class="h6">El primer local con el nombre </span><a href="#">Starbucks</a>.</p>

                  <blockquote class="blockquote ml-0 my-2">
                     <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco. sed do eiusmod tempor incididunt ut
                        labore
                        et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>

                  </blockquote>



                  <hr>
               </div>
            </li>
            <li class="timeline-block">
               <div class="timeline-point">
                  <span class="avatar bg-primary"><span class="fa fa-bookmark"></span></span>
               </div>
               <div class="timeline-content">
                  <time class="fs-22 text-primary" datetime="2018">1971</time>
                  <p><span class="h6">El primer local con el nombre </span><a href="#">Starbucks</a>.</p>

                  <blockquote class="blockquote ml-0 my-2">
                     <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco. sed do eiusmod tempor incididunt ut
                        labore
                        et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>

                  </blockquote>



                  <hr>
               </div>
            </li>
            <li class="timeline-block">
               <div class="timeline-point">
                  <span class="avatar bg-primary"><span class="fa fa-bookmark"></span></span>
               </div>
               <div class="timeline-content">
                  <time class="fs-22 text-primary" datetime="2018">1971</time>
                  <p><span class="h6">El primer local con el nombre </span><a href="#">Starbucks</a>.</p>

                  <blockquote class="blockquote ml-0 my-2">
                     <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco. sed do eiusmod tempor incididunt ut
                        labore
                        et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>

                  </blockquote>



                  <hr>
               </div>
            </li>
            <li class="timeline-block">
               <div class="timeline-point">
                  <span class="avatar bg-primary"><span class="fa fa-bookmark"></span></span>
               </div>
               <div class="timeline-content">
                  <time class="fs-22 text-primary" datetime="2018">1971</time>
                  <p><span class="h6">El primer local con el nombre </span><a href="#">Starbucks</a>.</p>

                  <blockquote class="blockquote ml-0 my-2">
                     <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco. sed do eiusmod tempor incididunt ut
                        labore
                        et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>

                  </blockquote>



                  <hr>
               </div>
            </li>
         </ul>
      </div>
   </div>



</div>