<div id="memoria-corporativa-container">
   <div class="row">
      <!---- ITEM A REPETIR ----->
      <div class="col-md-4">
         <div class="card">
               <div class="content-object-fit">
            <img class="card-img-top img-object-fit" src="/assets/img/gallery/16.jpg" alt="Card image cap">
         </div>
            <div class="card-body">
               <h4><a class="hover-terciario" href="#">Documento Memoria Corporativa</a></h4>
               <p class="p-0 m-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               <a href="#">
                  <h6 class="hover-terciario text-terciario mb-0 mt-2">Descargar</h6>
               </a>
            </div>
         </div>
      </div>
      <!---- FIN ITEM A REPETIR ----->
      <div class="col-md-4">
            <div class="card">
                  <div class="content-object-fit">
               <img class="card-img-top img-object-fit" src="/assets/img/gallery/16.jpg" alt="Card image cap">
            </div>
               <div class="card-body">
                  <h4><a class="hover-terciario" href="#">Documento Memoria Corporativa</a></h4>
                  <p class="p-0 m-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <a href="#">
                     <h6 class="hover-terciario text-terciario mb-0 mt-2">Descargar</h6>
                  </a>
               </div>
            </div>
         </div>
         <div class="col-md-4">
               <div class="card">
                     <div class="content-object-fit">
                  <img class="card-img-top img-object-fit" src="/assets/img/gallery/16.jpg" alt="Card image cap">
               </div>
                  <div class="card-body">
                     <h4><a class="hover-terciario" href="#">Documento Memoria Corporativa</a></h4>
                     <p class="p-0 m-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                     <a href="#">
                        <h6 class="hover-terciario text-terciario mb-0 mt-2">Descargar</h6>
                     </a>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
                  <div class="card">
                        <div class="content-object-fit">
                     <img class="card-img-top img-object-fit" src="/assets/img/gallery/16.jpg" alt="Card image cap">
                  </div>
                     <div class="card-body">
                        <h4><a class="hover-terciario" href="#">Documento Memoria Corporativa</a></h4>
                        <p class="p-0 m-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#">
                           <h6 class="hover-terciario text-terciario mb-0 mt-2">Descargar</h6>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                     <div class="card">
                           <div class="content-object-fit">
                        <img class="card-img-top img-object-fit" src="/assets/img/gallery/16.jpg" alt="Card image cap">
                     </div>
                        <div class="card-body">
                           <h4><a class="hover-terciario" href="#">Documento Memoria Corporativa</a></h4>
                           <p class="p-0 m-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                           <a href="#">
                              <h6 class="hover-terciario text-terciario mb-0 mt-2">Descargar</h6>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                        <div class="card">
                              <div class="content-object-fit">
                           <img class="card-img-top img-object-fit" src="/assets/img/gallery/16.jpg" alt="Card image cap">
                        </div>
                           <div class="card-body">
                              <h4><a class="hover-terciario" href="#">Documento Memoria Corporativa</a></h4>
                              <p class="p-0 m-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                              <a href="#">
                                 <h6 class="hover-terciario text-terciario mb-0 mt-2">Descargar</h6>
                              </a>
                           </div>
                        </div>
                     </div>





      <!---- Paginador ----->
      <div class="container center-vh">
         <nav>
            <ul class="pagination pagination-circle">
               <li class="page-item disabled">
                  <a class="page-link" href="#"> <span class="ti-arrow-left"></span> </a>
               </li>
               <li class="page-item active"> <a class="page-link" href="#">1</a> </li>
               <li class="page-item"><a class="page-link" href="#">2</a></li>
               <li class="page-item"><a class="page-link" href="#">3</a></li>
               <li class="page-item"><a class="page-link" href="#">4</a></li>
               <li class="page-item"><a class="page-link" href="#">5</a></li>
               <li class="page-item">
                  <a class="page-link" href="#"> <span class="ti-arrow-right"></span> </a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</div>