<div class="card">
    <div class="card-header">
        <h2 class="text-l-pink">Directorio</h2>
    </div>
    <div class="card-body text-center">
        <img class="mx-auto d-none d-sm-none d-lg-block" src="../../../assets/img/gallery/thumb/directorio-desktop.png">
        <img class="mx-auto d-md-none d-sm-block" src="../../../assets/img/gallery/thumb/directorio-mobile.png">
    </div>
</div>