<div id="historia-container">
    <div class="card">

        <div class="card-body">
            <h4 class="mt-2">Nuestra Historia</h4>
            <hr class="w-50px ml-0 bt-2 border-primary hr-sm">

            <div class="nav-tabs-left">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-success">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tab1">1990-1991</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab2">1994-1996</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab3">1998-2000</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab4">2002-2004</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="tab1">
                        <div class="col-md-12">
                            <div class="card-body">
                                <h4 class="text-primary">Sample Listing Blog Post</h4>
                                <p><time>October 16, 2017</time></p>

                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                    voluptatum deleniti atque
                                    corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                                    provident,
                                    similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et
                                    dolorum fuga.
                                    Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
                                    soluta nobis est eligendi optio
                                    cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis
                                    voluptas assumenda est, omnis dolor repellendus.
                                    Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
                                    eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                                </p>


                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                    doloremque laudantium,
                                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                    architecto beatae vitae dicta
                                    sunt explicabo.
                                    <br>
                                    <br> Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
                                    voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
                                    repellat.
                                    <br>
                                    <br>
                                    enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                    laboriosam, nisi ut aliquid
                                    ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
                                    voluptate velit esse quam
                                    nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla
                                    pariatur?
                                    <br> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                                    sed quia consequuntur
                                    magni dolores eos qui ratione voluptatem sequi nesciunt.
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                        <div class="col-md-12">
                            <div class="card-body">
                                <h4 class="text-primary">Sample Listing Blog Post</h4>
                                <p><time>October 16, 2017</time></p>

                                <p>Holisticly maximize team building ROI via next-generation resources.
                                    Enthusiastically promote team driven customer service and error-free solutions.
                                    Dynamically myocardinate vertical leadership for synergistic "outside the box"
                                    thinking. Efficiently extend global.</p>


                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                    doloremque laudantium,
                                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                    architecto beatae vitae dicta
                                    sunt explicabo.
                                    <br>
                                    <br> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                                    sed quia consequuntur
                                    magni dolores eos qui ratione voluptatem sequi nesciunt.
                                    <br>
                                    <br>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                    consectetur, adipisci velit, sed
                                    quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
                                    quaerat voluptatem. Ut
                                    enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                    laboriosam, nisi ut aliquid
                                    ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
                                    voluptate velit esse quam
                                    nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla
                                    pariatur?
                                    <br> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                                    sed quia consequuntur
                                    magni dolores eos qui ratione voluptatem sequi nesciunt.
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab3">
                        <div class="col-md-12">
                            <div class="card-body">
                                <h4 class="text-primary">Sample Listing Blog Post</h4>
                                <p><time>October 16, 2017</time></p>

                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                    voluptatum deleniti atque
                                    corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                                    provident,
                                    similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et
                                    dolorum fuga.
                                    Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
                                    soluta nobis est eligendi optio
                                    cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis
                                    voluptas assumenda est, omnis dolor repellendus.
                                    Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
                                    eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                                </p>


                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                    doloremque laudantium,
                                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                    architecto beatae vitae dicta
                                    sunt explicabo.
                                    <br>
                                    <br> Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
                                    voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
                                    repellat.
                                    <br>
                                    <br>
                                    enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                    laboriosam, nisi ut aliquid
                                    ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
                                    voluptate velit esse quam
                                    nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla
                                    pariatur?
                                    <br> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                                    sed quia consequuntur
                                    magni dolores eos qui ratione voluptatem sequi nesciunt.
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab4">
                        <div class="col-md-12">
                            <div class="card-body">
                                <h4 class="text-primary">Sample Listing Blog Post</h4>
                                <p><time>October 16, 2017</time></p>

                                <p>Holisticly maximize team building ROI via next-generation resources.
                                    Enthusiastically promote team driven customer service and error-free solutions.
                                    Dynamically myocardinate vertical leadership for synergistic "outside the box"
                                    thinking. Efficiently extend global.</p>


                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                    doloremque laudantium,
                                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                    architecto beatae vitae dicta
                                    sunt explicabo.
                                    <br>
                                    <br> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                                    sed quia consequuntur
                                    magni dolores eos qui ratione voluptatem sequi nesciunt.
                                    <br>
                                    <br>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                    consectetur, adipisci velit, sed
                                    quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
                                    quaerat voluptatem. Ut
                                    enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                    laboriosam, nisi ut aliquid
                                    ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
                                    voluptate velit esse quam
                                    nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla
                                    pariatur?
                                    <br> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                                    sed quia consequuntur
                                    magni dolores eos qui ratione voluptatem sequi nesciunt.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var width = $(".bg-img img").width();
        var height = $(".bg-img img").height();
        var src = $(".bg-img img").attr("src");
        $(".bg-img img").remove();
        $(".bg-img").attr("style", "width:" + width + "px;height:" + height + "px;background-image:url('" + src + "');");
    });
</script>