<div id="valores-container">
   <!-- Col 12-->
   <!--- Nosotros---->
   <div class="row">
      <div class="col-md-4">
         <div class="card">
            <div>
               <div class="p-4 absolute-content center-vh text-white rounded black-to-fade">

                  <div>
                     <h3 class="text-white">Nuestra misión es crear valor en nuestro equipo</h3>Las unidades de negocio
                     de Alsea son respaldadas por 5 áreas
                     de soporte, que incluyen la Cadena de suministro, Finanzas,
                     Recursos Humanos, Tecnología, Bienes Inmuebles y Desarrollo,
                     y también por un estructurado gobierno corporativo, en donde
                     además del Consejo de Administración, cuenta con los Comité
                     de Auditoria y Prácticas Societarias.<p></p>
                  </div>

               </div>
               <img
                  src="https://images.unsplash.com/photo-1544725121-be3bf52e2dc8?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1647&amp;q=80"
                  class="image-limit rounded">

            </div>
         </div>
      </div>
      <div class="col-md-8">
         <div class="card contenedor-text image-limit">
            <h4 class="card-title">Lorem ipsum dolor sit amet consectetur adipiscing elit</h4>
            <div class="card-body">
               <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                  totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                  sunt explicabo.
                  <br>
                  <br> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                  magni dolores eos qui ratione voluptatem sequi nesciunt.
                  <br>
                  <br>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
                  quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut
                  enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
                  ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
                  nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                  <br> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                  magni dolores eos qui ratione voluptatem sequi nesciunt.
               </p>
            </div>
         </div>
      </div>
   </div>
   <!--- Nosotros iconos ---->
   <div class="row text-center">
      <div class="col-md-4">
         <div class="card">
            <div class="card-body">
               <span class="fa fa-bar-chart fs-40"></span>
               <h6 class="mt-2">Lorem Ipsum</h6>
               <p>This is a longer card with supporting text below as a natural lead-in to additional content. This
                  content is a little bit longer.</p>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="card">
            <div class="card-body">
               <span class="fa fa-bar-chart fs-40"></span>
               <h6 class="mt-2">Lorem Ipsum</h6>
               <p>This is a longer card with supporting text below as a natural lead-in to additional content. This
                  content is a little bit longer.</p>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="card">
            <div class="card-body">
               <span class="fa fa-bar-chart fs-40"></span>
               <h6 class="mt-2">Lorem Ipsum</h6>
               <p>This is a longer card with supporting text below as a natural lead-in to additional content. This
                  content is a little bit longer.</p>
            </div>
         </div>
      </div>
      <div class="container-fluid center-vh py-4">
         <nav>
            <ul class="pagination pagination-circle">
               <li class="page-item disabled">
                  <a class="page-link" href="#">
                     <span class="ti-arrow-left"></span>
                  </a>
               </li>
               <li class="page-item active">
                  <a class="page-link" href="#">1</a>
               </li>
               <li class="page-item"><a class="page-link" href="#">2</a></li>
               <li class="page-item"><a class="page-link" href="#">3</a></li>
               <li class="page-item"><a class="page-link" href="#">4</a></li>
               <li class="page-item"><a class="page-link" href="#">5</a></li>
               <li class="page-item">
                  <a class="page-link" href="#">
                     <span class="ti-arrow-right"></span>
                  </a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
   <!---FIN  Nosotros iconos ---->
</div>