<div id="noticias-detalle-container">
        <!--- Detalle Noticias---->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="ml-3 mt-3"><h2 class="text-l-pink fs-25">Lineamientos Estratégicos</h2></div><img class="bg-img-img responsive cutImage" src="/assets/img/gallery/thumb/20.png" alt="...">
                    <div class="card-body">
                        <h4 class="hover-primary">Card Detalle de noticia</h4>
                        <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco. Sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco</p>
                        <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco. Sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco</p>
                        <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco. Sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco</p>
                        <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco. Sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco</p>

                    </div>
                </div>
            </div>
        </div>
</div>
<!-- Scripts -->
<script>
    // Initialize the plugin
    $(document).ready(function () {
        // Scrollable
        //
        $('.media-list, #FeedContent').perfectScrollbar();

        // Initialize the Heart click explose
        $(".heart").on('click touchstart', function () {
            $(this).toggleClass('is_animating');
        });

    });
</script>