<div id="sucursales-container">
      
      <!-- Nav tabs -->
      <div id="TabContent">
         <ul class="nav nav-tabs nav-tabs-inverse-mode">
            <li class=" nav-item">
               <a class="round-item-single-lf nav-link tab-color-inactive active" data-toggle="tab" href="#GerenciaGeneral" aria-expanded="true" style="border-radius: 4px 4px 0 0;">
                  <span class="px-2">Gerencia General</span>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link br-1 tab-color-inactive" data-toggle="tab" href="#GerenciaRRHH" aria-expanded="false" style="border-radius: 4px 4px 0 0;">
                  <span class="px-2">Gerencia RR.HH.</span>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link br-1 tab-color-inactive" data-toggle="tab" href="#GerenciaPersonas" aria-expanded="false" style="border-radius: 4px 4px 0 0;">
                  <span class="px-2">Gerencia Personas</span>
               </a>
            </li>
         </ul>
         <!-- Tab panes -->
         <div class="py-4 px-0 bg-white tab-content min-height-profile-tab tab-box-shadow text-center">
               <div class="tab-pane active" id="GerenciaGeneral" aria-expanded="true">
                     <div class="card-body">
                           <!--Init Slider Gallery-->
                           <div class="swiper-container swiper-pagination-outside swiper-container-horizontal" data-provide="swiper">
                                 <div class="swiper-wrapper no-gutters" data-provide="photoswipe">
                                    <div class="swiper-slide">
                                          <img class="cursor-pointer" src="/assets/img/Starbucks-Gerencia-General.svg" alt="...">
                                    </div>
                                 </div>
                                                      
                           </div>
                           <!--End Slider Gallery-->
                     </div>
               </div>
               
               <div class="tab-pane" id="GerenciaRRHH" aria-expanded="false">
                     <div class="card-body">
                           <!--Init Slider Gallery-->
                           <div class="swiper-container swiper-pagination-outside swiper-container-horizontal" data-provide="swiper">
                                 <div class="swiper-wrapper no-gutters" data-provide="photoswipe">
                                    <div class="swiper-slide">
                                          <img class="cursor-pointer" src="/assets/img/Gerencia-rrhh.svg" alt="...">
                                    </div>
                                 </div>
                                                      
                           </div>
                           <!--End Slider Gallery-->
                     </div>
               </div>  

               <div class="tab-pane" id="GerenciaPersonas" aria-expanded="false">
                     <div class="card-body">
                           <!--Init Slider Gallery-->
                           <div class="swiper-container swiper-pagination-outside swiper-container-horizontal" data-provide="swiper">
                                 <div class="swiper-wrapper no-gutters" data-provide="photoswipe">
                                    <div class="swiper-slide">
                                          <img class="cursor-pointer" src="/assets/img/Gerencia-personas.svg" alt="...">
                                    </div>
                                 </div>
                                                      
                           </div>
                           <!--End Slider Gallery-->
                     </div>
               </div>  
         
         
      </div>


</div>
