<div id="noticias-detalle-container">
        <!--- Detalle Noticias---->
        <h2>Ficha Académica</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 ficaAcaFirst">
                                <label for="">Nombre:</label>
                                <input type="text" disabled />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ficaAcaFirst">
                                <label class="" for="">Escuela:</label>
                                <input class="" type="text" disabled />
                            </div>
                            <div class="col-md-6 ficaAcaFirst">
                                <label for="">Carrera:</label>
                                <input type="text" disabled />
                            </div>
                            <div class="col-md-6 ficaAcaFirst">
                                <label class="" for="">Campus:</label>
                                <input class="" type="text" disabled />
                            </div>
                            <div class="col-md-6 ficaAcaFirst">
                                <label for="">N&deg; de Matrícula:</label>
                                <input type="text" disabled />
                            </div>
                            <div class="col-md-6 ficaAcaFirst">
                                <label class="" for="">Pre o Postgrado:</label>
                                <input class="" type="text" disabled />
                            </div>
                            <div class="col-md-6 ficaAcaFirst">
                                <label for="">Modalidad:</label>
                                <input type="text" disabled />
                            </div>
                            <div class="col-md-6 ficaAcaFirst">
                                <label class="" for="">Jornada:</label>
                                <input class="" type="text" disabled />
                            </div>
                            <div class="col-md-6 ficaAcaFirst">
                                <label for="">Periodo:</label>
                                <input type="text" disabled />
                            </div>
                            <div class="col-md-6 ficaAcaFirst">
                                <label class="" for="">Pre o Postgrado:</label>
                                <input class="" type="text" disabled />
                            </div>
                            <div class="col-md-6 ficaAcaFirst">
                                <label for="">Modalidad:</label>
                                <input type="text" disabled />
                            </div>
                            <div class="col-md-6 ficaAcaFirst">
                                <label class="" for="">Jornada:</label>
                                <input class="" type="text" disabled />
                            </div>
                            <div class="col-md-6 ficaAcaFirst">
                                <label for="">Periodo:</label>
                                <input type="text" disabled />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- Scripts -->
<script>
    // Initialize the plugin
    $(document).ready(function () {
        // Scrollable
        //
        $('.media-list, #FeedContent').perfectScrollbar();

        // Initialize the Heart click explose
        $(".heart").on('click touchstart', function () {
            $(this).toggleClass('is_animating');
        });

    });
</script>
