<div id="reconocimiento-container">
   <div class="row">
      <!--- Perfil ---->
      <!--- TAB BUSCADOR DE PERSONAS---->
      <div class="col-md-6">
         <!-- Nav tabs -->
         <ul class="nav nav-tabs nav-tabs-inverse-mode">
            <li class=" nav-item">
               <a class="round-item-single-lf nav-link tab-color-inactive active" data-toggle="tab" href="#recibidos"
                  aria-expanded="true" style="border-radius: 4px 4px 0 0;">
                  <span class="px-2">Recibidos</span>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link br-1 tab-color-inactive" data-toggle="tab" href="#entregados" aria-expanded="false"
                  style="border-radius: 4px 4px 0 0;">
                  <span class="px-2">Entregados</span>
               </a>
            </li>
         </ul>
         <!-- Tab panes -->
         <div class="bg-white tab-content tab-perfil tab-box-shadow">
            <div class="tab-pane media-list scrollable active" id="recibidos" aria-expanded="true"
               style="height: 40vh;">
               <table class="table table-separated">
                  <tbody>
                     <tr>

                        <td>
                           <div class="media">
                              <img class="avatar avatar-lg" src="/assets/img/avatar/1.jpg" alt="...">
                              <div class="media-body"><a class="flexbox align-items-center gap-items img-hov-fadein"
                                    href="#qv-user-details" data-toggle="quickview">
                                 </a>
                                 <h6 class="m-0"><a class="flexbox align-items-center gap-items img-hov-fadein"
                                       href="#qv-user-details" data-toggle="quickview">
                                    </a><a class="hover-terciario" href="/pages/perfil/perfil.html">Patricio
                                       Olivares</a>
                                 </h6>
                                 <small class="fs-13 text-light">
                                    Jefe de Proyectos
                                 </small>

                                 <p class="small fs-12">sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua quis nostrud exercitation ullamco.</p>
                              </div>
                           </div>
                        </td>
                        <td>
                           <div class="d-inline-block w-150px text-right"><small>Publicado hace dos horas</small></div>
                        </td>
                     </tr>


                     <tr>

                        <td>
                           <div class="media">
                              <img class="avatar avatar-lg" src="/assets/img/avatar/2.jpg" alt="...">
                              <div class="media-body"><a class="flexbox align-items-center gap-items img-hov-fadein"
                                    href="#qv-user-details" data-toggle="quickview">
                                 </a>
                                 <h6 class="m-0"><a class="flexbox align-items-center gap-items img-hov-fadein"
                                       href="#qv-user-details" data-toggle="quickview">
                                    </a><a class="hover-terciario" href="/pages/perfil/perfil.html">Maria
                                       Jesus</a>
                                 </h6>
                                 <small class="fs-13 text-light">
                                    Jefe de Proyectos
                                 </small>

                                 <p class="small fs-12">sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua quis nostrud exercitation ullamco.</p>

                              </div>
                           </div>
                        </td>
                        <td>
                           <div class="d-inline-block w-150px text-right"><small>Publicado hace dos horas</small></div>
                        </td>

                     </tr>
                     <tr>

                        <td>
                           <div class="media">
                              <img class="avatar avatar-lg" src="/assets/img/avatar/3.jpg" alt="...">
                              <div class="media-body"><a class="flexbox align-items-center gap-items img-hov-fadein"
                                    href="#qv-user-details" data-toggle="quickview">
                                 </a>
                                 <h6 class="m-0"><a class="flexbox align-items-center gap-items img-hov-fadein"
                                       href="#qv-user-details" data-toggle="quickview">
                                    </a><a class="hover-terciario" href="/pages/perfil/perfil.html">Patricio
                                       Olivares</a>
                                 </h6>
                                 <small class="fs-13 text-light">
                                    Jefe de Proyectos
                                 </small>

                                 <p class="small fs-12">sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua quis nostrud exercitation ullamco.</p>
                              </div>
                           </div>
                        </td>
                        <td>
                           <div class="d-inline-block w-150px text-right"><small>Publicado hace dos horas</small></div>
                        </td>
                     </tr>
                     <tr>

                        <td>
                           <div class="media">
                              <img class="avatar avatar-lg" src="/assets/img/avatar/4.jpg" alt="...">
                              <div class="media-body"><a class="flexbox align-items-center gap-items img-hov-fadein"
                                    href="#qv-user-details" data-toggle="quickview">
                                 </a>
                                 <h6 class="m-0"><a class="flexbox align-items-center gap-items img-hov-fadein"
                                       href="#qv-user-details" data-toggle="quickview">
                                    </a><a class="hover-terciario" href="/pages/perfil/perfil.html">Patricio
                                       Olivares</a>
                                 </h6>
                                 <small class="fs-13 text-light">
                                    Jefe de Proyectos
                                 </small>

                                 <p class="small fs-12">sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua quis nostrud exercitation ullamco.</p>
                              </div>
                           </div>
                        </td>
                        <td>
                           <div class="d-inline-block w-150px text-right"><small>Publicado hace dos horas</small></div>
                        </td>
                     </tr>
                     <tr>

                        <td>
                           <div class="media">
                              <img class="avatar avatar-lg" src="/assets/img/avatar/5.jpg" alt="...">
                              <div class="media-body"><a class="flexbox align-items-center gap-items img-hov-fadein"
                                    href="#qv-user-details" data-toggle="quickview">
                                 </a>
                                 <h6 class="m-0"><a class="flexbox align-items-center gap-items img-hov-fadein"
                                       href="#qv-user-details" data-toggle="quickview">
                                    </a><a class="hover-terciario" href="/pages/perfil/perfil.html">Patricio
                                       Olivares</a>
                                 </h6>
                                 <small class="fs-13 text-light">
                                    Jefe de Proyectos
                                 </small>

                                 <p class="small fs-12">sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua quis nostrud exercitation ullamco.</p>
                              </div>
                           </div>
                        </td>
                        <td>
                           <div class="d-inline-block w-150px text-right"><small>Publicado hace dos horas</small></div>
                        </td>
                     </tr>
                     <tr>

                        <td>
                           <div class="media">
                              <img class="avatar avatar-lg" src="/assets/img/avatar/6.jpg" alt="...">
                              <div class="media-body"><a class="flexbox align-items-center gap-items img-hov-fadein"
                                    href="#qv-user-details" data-toggle="quickview">
                                 </a>
                                 <h6 class="m-0"><a class="flexbox align-items-center gap-items img-hov-fadein"
                                       href="#qv-user-details" data-toggle="quickview">
                                    </a><a class="hover-terciario" href="/pages/perfil/perfil.html">Patricio
                                       Olivares</a>
                                 </h6>
                                 <small class="fs-13 text-light">
                                    Jefe de Proyectos
                                 </small>

                                 <p class="small fs-12">sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua quis nostrud exercitation ullamco.</p>
                              </div>
                           </div>
                        </td>
                        <td>
                           <div class="d-inline-block w-150px text-right"><small>Publicado hace dos horas</small></div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="tab-pane media-list scrollable" id="entregados" aria-expanded="false" style="height: 40vh;">
               <table class="table table-separated">
                  <tbody>
                     <tr>

                        <td>
                           <div class="media">
                              <img class="avatar avatar-lg" src="/assets/img/avatar/10.jpg" alt="...">
                              <div class="media-body"><a class="flexbox align-items-center gap-items img-hov-fadein"
                                    href="#qv-user-details" data-toggle="quickview">
                                 </a>
                                 <h6 class="m-0"><a class="flexbox align-items-center gap-items img-hov-fadein"
                                       href="#qv-user-details" data-toggle="quickview">
                                    </a><a class="hover-terciario" href="/pages/perfil/perfil.html">Patricio
                                       Olivares</a>
                                 </h6>
                                 <small class="fs-13 text-light">
                                    Jefe de Proyectos
                                 </small>

                                 <p class="small fs-12">sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua quis nostrud exercitation ullamco.</p>
                              </div>
                           </div>
                        </td>
                        <td>
                           <div class="d-inline-block w-150px text-right"><small>Publicado hace dos horas</small></div>
                        </td>
                     </tr>


                     <tr>

                        <td>
                           <div class="media">
                              <img class="avatar avatar-lg" src="/assets/img/avatar/9.jpg" alt="...">
                              <div class="media-body"><a class="flexbox align-items-center gap-items img-hov-fadein"
                                    href="#qv-user-details" data-toggle="quickview">
                                 </a>
                                 <h6 class="m-0"><a class="flexbox align-items-center gap-items img-hov-fadein"
                                       href="#qv-user-details" data-toggle="quickview">
                                    </a><a class="hover-terciario" href="/pages/perfil/perfil.html">Maria
                                       Jesus</a>
                                 </h6>
                                 <small class="fs-13 text-light">
                                    Jefe de Proyectos
                                 </small>

                                 <p class="small fs-12">sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua quis nostrud exercitation ullamco.</p>

                              </div>
                           </div>
                        </td>
                        <td>
                           <div class="d-inline-block w-150px text-right"><small>Publicado hace dos horas</small></div>
                        </td>

                     </tr>
                     <tr>

                        <td>
                           <div class="media">
                              <img class="avatar avatar-lg" src="/assets/img/avatar/8.jpg" alt="...">
                              <div class="media-body"><a class="flexbox align-items-center gap-items img-hov-fadein"
                                    href="#qv-user-details" data-toggle="quickview">
                                 </a>
                                 <h6 class="m-0"><a class="flexbox align-items-center gap-items img-hov-fadein"
                                       href="#qv-user-details" data-toggle="quickview">
                                    </a><a class="hover-terciario" href="/pages/perfil/perfil.html">Patricio
                                       Olivares</a>
                                 </h6>
                                 <small class="fs-13 text-light">
                                    Jefe de Proyectos
                                 </small>

                                 <p class="small fs-12">sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua quis nostrud exercitation ullamco.</p>
                              </div>
                           </div>
                        </td>
                        <td>
                           <div class="d-inline-block w-150px text-right"><small>Publicado hace dos horas</small></div>
                        </td>
                     </tr>
                     <tr>

                        <td>
                           <div class="media">
                              <img class="avatar avatar-lg" src="/assets/img/avatar/7.jpg" alt="...">
                              <div class="media-body"><a class="flexbox align-items-center gap-items img-hov-fadein"
                                    href="#qv-user-details" data-toggle="quickview">
                                 </a>
                                 <h6 class="m-0"><a class="flexbox align-items-center gap-items img-hov-fadein"
                                       href="#qv-user-details" data-toggle="quickview">
                                    </a><a class="hover-terciario" href="/pages/perfil/perfil.html">Patricio
                                       Olivares</a>
                                 </h6>
                                 <small class="fs-13 text-light">
                                    Jefe de Proyectos
                                 </small>

                                 <p class="small fs-12">sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua quis nostrud exercitation ullamco.</p>
                              </div>
                           </div>
                        </td>
                        <td>
                           <div class="d-inline-block w-150px text-right"><small>Publicado hace dos horas</small></div>
                        </td>
                     </tr>
                     <tr>

                        <td>
                           <div class="media">
                              <img class="avatar avatar-lg" src="/assets/img/avatar/6.jpg" alt="...">
                              <div class="media-body"><a class="flexbox align-items-center gap-items img-hov-fadein"
                                    href="#qv-user-details" data-toggle="quickview">
                                 </a>
                                 <h6 class="m-0"><a class="flexbox align-items-center gap-items img-hov-fadein"
                                       href="#qv-user-details" data-toggle="quickview">
                                    </a><a class="hover-terciario" href="/pages/perfil/perfil.html">Patricio
                                       Olivares</a>
                                 </h6>
                                 <small class="fs-13 text-light">
                                    Jefe de Proyectos
                                 </small>

                                 <p class="small fs-12">sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua quis nostrud exercitation ullamco.</p>
                              </div>
                           </div>
                        </td>
                        <td>
                           <div class="d-inline-block w-150px text-right"><small>Publicado hace dos horas</small></div>
                        </td>
                     </tr>
                     <tr>

                        <td>
                           <div class="media">
                              <img class="avatar avatar-lg" src="/assets/img/avatar/5.jpg" alt="...">
                              <div class="media-body"><a class="flexbox align-items-center gap-items img-hov-fadein"
                                    href="#qv-user-details" data-toggle="quickview">
                                 </a>
                                 <h6 class="m-0"><a class="flexbox align-items-center gap-items img-hov-fadein"
                                       href="#qv-user-details" data-toggle="quickview">
                                    </a><a class="hover-terciario" href="/pages/perfil/perfil.html">Patricio
                                       Olivares</a>
                                 </h6>
                                 <small class="fs-13 text-light">
                                    Jefe de Proyectos
                                 </small>

                                 <p class="small fs-12">sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua quis nostrud exercitation ullamco.</p>
                              </div>
                           </div>
                        </td>
                        <td>
                           <div class="d-inline-block w-150px text-right"><small>Publicado hace dos horas</small></div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>

         </div>

      </div>
      <!--- FIN TAB BUSCADOR DE PERSONAS---->

      <!--- INICIO DE RANKING---->
      <div class="col-md-6">
         <!--Card Ranking-->
         <div id="Ranking" class="RankingConponent">
            <div class="card h-400px">
               <div id="TitIcoCard" class="mb-3">
                  <h4 class="card-title text-right"><span class="avatar avatar-lg avatar-bordered bg-primary"><i
                           class="fa fa-line-chart center-vh"></i></span> Ranking reconocidos</h4>
               </div>
               <div class="media-list media-list-hover media-list-divided scrollable" style="height: 370px">
                  <!--Usuario-->
                  <div class="media media-single">

                     <div class="row media-body">

                        <div class="col-md-3 p-0 center-v">
                           <span class="avatar avatar-lg bg-yellow">
                              <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                                 <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg" alt="...">
                              </a>
                           </span>
                        </div>

                        <div class="col-md-6 p-0">
                           <h6 class="m-0"><a class="hover-terciario" href="/pages/perfil/perfil.html">Patricio
                                 Olivares</a></h6>
                           <small class="fs-13 text-light">Jefe de Proyectos</small>
                           <p class="text-yellow fs-12 m-0">Las Condes</p>
                        </div>

                        <div class="col-md-3 p-0 center-vh">
                           <label class="toggler fs-20">
                              <input type="checkbox">
                              <i class="fa fa-star"></i>
                           </label>
                           <h2 class="my-0 ml-3">44</h2>
                        </div>

                     </div>

                  </div>
                  <!--End Usuario-->
                  <!--Usuario-->
                  <div class="media media-single">

                     <div class="row media-body">

                        <div class="col-md-3 p-0 center-v">
                           <span class="avatar avatar-lg bg-yellow">
                              <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                                 <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg" alt="...">
                              </a>
                           </span>
                        </div>

                        <div class="col-md-6 p-0">
                           <h6 class="m-0"><a class="hover-terciario" href="/pages/perfil/perfil.html">Patricio
                                 Olivares</a></h6>
                           <small class="fs-13 text-light">Jefe de Proyectos</small>
                           <p class="text-yellow fs-12 m-0">Las Condes</p>
                        </div>

                        <div class="col-md-3 p-0 center-vh">
                           <label class="toggler fs-20">
                              <input type="checkbox">
                              <i class="fa fa-star"></i>
                           </label>
                           <h2 class="my-0 ml-3">44</h2>
                        </div>

                     </div>

                  </div>
                  <!--End Usuario-->
                  <!--Usuario-->
                  <div class="media media-single">

                     <div class="row media-body">

                        <div class="col-md-3 p-0 center-v">
                           <span class="avatar avatar-lg bg-yellow">
                              <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                                 <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg" alt="...">
                              </a>
                           </span>
                        </div>

                        <div class="col-md-6 p-0">
                           <h6 class="m-0"><a class="hover-terciario" href="/pages/perfil/perfil.html">Patricio
                                 Olivares</a></h6>
                           <small class="fs-13 text-light">Jefe de Proyectos</small>
                           <p class="text-yellow fs-12 m-0">Las Condes</p>
                        </div>

                        <div class="col-md-3 p-0 center-vh">
                           <label class="toggler fs-20">
                              <input type="checkbox">
                              <i class="fa fa-star"></i>
                           </label>
                           <h2 class="my-0 ml-3">44</h2>
                        </div>

                     </div>

                  </div>
                  <!--End Usuario-->
                  <!--Usuario-->
                  <div class="media media-single">

                     <div class="row media-body">

                        <div class="col-md-3 p-0 center-v">
                           <span class="avatar avatar-lg bg-yellow">
                              <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                                 <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg" alt="...">
                              </a>
                           </span>
                        </div>

                        <div class="col-md-6 p-0">
                           <h6 class="m-0"><a class="hover-terciario" href="/pages/perfil/perfil.html">Patricio
                                 Olivares</a></h6>
                           <small class="fs-13 text-light">Jefe de Proyectos</small>
                           <p class="text-yellow fs-12 m-0">Las Condes</p>
                        </div>

                        <div class="col-md-3 p-0 center-vh">
                           <label class="toggler fs-20">
                              <input type="checkbox">
                              <i class="fa fa-star"></i>
                           </label>
                           <h2 class="my-0 ml-3">44</h2>
                        </div>

                     </div>

                  </div>
                  <!--End Usuario-->
                  <!--Usuario-->
                  <div class="media media-single">

                     <div class="row media-body">

                        <div class="col-md-3 p-0 center-v">
                           <span class="avatar avatar-lg bg-yellow">
                              <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                                 <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg" alt="...">
                              </a>
                           </span>
                        </div>

                        <div class="col-md-6 p-0">
                           <h6 class="m-0"><a class="hover-terciario" href="/pages/perfil/perfil.html">Patricio
                                 Olivares</a></h6>
                           <small class="fs-13 text-light">Jefe de Proyectos</small>
                           <p class="text-yellow fs-12 m-0">Las Condes</p>
                        </div>

                        <div class="col-md-3 p-0 center-vh">
                           <label class="toggler fs-20">
                              <input type="checkbox">
                              <i class="fa fa-star"></i>
                           </label>
                           <h2 class="my-0 ml-3">44</h2>
                        </div>

                     </div>

                  </div>
                  <!--End Usuario-->
                  <!--Usuario-->
                  <div class="media media-single">

                     <div class="row media-body">

                        <div class="col-md-3 p-0 center-v">
                           <span class="avatar avatar-lg bg-yellow">
                              <a class="img-hov-fadein" href="/pages/perfil/perfil.html">
                                 <img class="avatar align-self-start" src="/assets/img/avatar/6.jpg" alt="...">
                              </a>
                           </span>
                        </div>

                        <div class="col-md-6 p-0">
                           <h6 class="m-0"><a class="hover-terciario" href="/pages/perfil/perfil.html">Patricio
                                 Olivares</a></h6>
                           <small class="fs-13 text-light">Jefe de Proyectos</small>
                           <p class="text-yellow fs-12 m-0">Las Condes</p>
                        </div>

                        <div class="col-md-3 p-0 center-vh">
                           <label class="toggler fs-20">
                              <input type="checkbox">
                              <i class="fa fa-star"></i>
                           </label>
                           <h2 class="my-0 ml-3">44</h2>
                        </div>

                     </div>

                  </div>
                  <!--End Usuario-->
               </div>
               <div class="text-center bt-1 border-light p-2">
                  <a class="text-uppercase d-block fs-10 fw-500 ls-1" href="#">Ver todos</a>
               </div>
            </div>
         </div>
         <!--End Card Ranking-->
      </div>
      <!--- FIN DE RANKING---->

   </div>
</div>
<script>
   // Initialize the plugin
   $(document).ready(function () {
      // Scrollable
      //
      $('.media-list').perfectScrollbar();
   });
</script>