<div id="resultado-busqueda-container">
        <div class="row">
            <div class="card">
                <h4 class="card-title">Se han encontrado 20 resultados para <strong>[Contenido buscado]</strong></h4>
    
                <div class="px-0 py-2 pb-4">
                    <div class="media-list media-list-hover media-list-divided" data-ps-id="0b904f83-bdde-5ceb-9b83-acdbfce08841">
                        <div class="media media-single">
                            <div class="media-body">
                                <h5><a class="text-info hover-terciario" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h5>
    
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="text-success">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#" class="text-success">Library</a></li>
                                    <li class="breadcrumb-item active text-success">Data</li>
                                </ol>
    
                                <p class="py-2 text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            </div>
    
                        </div>
                        <div class="media media-single">
                            <div class="media-body">
                                <h5><a class="text-info hover-terciario" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing eli</a></h5>
    
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="text-success">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#" class="text-success">Library</a></li>
                                    <li class="breadcrumb-item active text-success">Data</li>
                                </ol>
                                <p class="py-2 text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            </div>
    
                        </div>
                        <div class="media media-single">
                            <div class="media-body">
                                <h5><a class="text-info hover-terciario" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h5>
    
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="text-success">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#" class="text-success">Library</a></li>
                                    <li class="breadcrumb-item active text-success">Data</li>
                                </ol>
                                <p class="py-2 text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            </div>
    
                        </div>
                        <div class="media media-single">
                            <div class="media-body">
                                <h5><a class="text-info hover-terciario" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h5>
    
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="text-success">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#" class="text-success">Library</a></li>
                                    <li class="breadcrumb-item active text-success">Data</li>
                                </ol>
                                <p class="py-2 text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            </div>
    
                        </div>
    
                    </div>
    
                </div>
            <div class="container center-vh">
            
        <nav>
                <ul class="pagination pagination-circle">
                    <li class="page-item disabled">
                        <a class="page-link prev" href="#"> <span class="fa fa-angle-left fs-14"></span> </a>
                    </li>
                    <li class="page-item active"> <a class="page-link" href="#">1</a> </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                        <a class="page-link next" href="#"> <span class="fa fa-angle-right fs-14"></span> </a>
                    </li>
                </ul>
            </nav></div></div>
    
    
        </div>
        <!---- Paginador ----->
        
    </div>