<div id="formulario-content">
<div class="center-vh">
    
    <div class="col-md-8">
        <div class="card">
            <h3 class="card-title">Formulario con<strong>Label</strong></h3>

            <div class="card-body">
                <form class="form-default">
                    <div class="form-group">
                        <label for="username">Ingresa tu RUT</label>
                        <input type="text" class="form-control rounded" id="rut" placeholder="E.J. 12345678-9">
                    </div>

                    <div class="form-group">
                        <label for="textarea">Ingresa tu consulta</label>
                        <textarea class="form-control" id="textarea" rows="6" style="margin-top: 0px; margin-bottom: 0px; height: 329px;"></textarea>
                    </div>

                    <div class="form-group">
                        <a href="/pages/seccion/formulario.html" class="btn btn-bold btn-block btn-primary mb-10 rounded">Enviar</a>

                    </div>
                </form>

            </div>
        </div>
    </div>
    
</div>

</div>